<div id="contentContainer">
  <div id="leftColW">
    <% form_tag dt_wishlists_path, :id => 'wishlistform' do %>
      <div class="userform">
        <fieldset>
          <legend>Choose the Group Wishlist for &quot;<%= @project.name %>&quot;</legend>
          <p class="textsm"><label for="group_id">Groups:</label> <%= select_tag 'group_id', options_for_wishlist_select, :id => 'group_id' %></p>
        </fieldset>
          <%= submit_tag "Add to Group Wishlist", :class => 'buttonsubmit' %>
          <%= hidden_field_tag :project_id, params[:project_id] %>
      </div>
    <% end %>
  </div>
  <div id="rightColN">
    <%= dt_profile_sidebar %>
  </div>
</div>