<%- content_for :html_title do -%>My Account<%- end -%>
<%- content_for :nav do -%><%= dt_get_involved_nav %><%- end -%>
<div class="columns">
  <div class="content">
    <div style="margin-bottom:5px;"><strong>You have searched using the following term(s): <%= params[:q] %></strong></div>
    <p class="textsm"><%= @groups.total_entries %> Groups Found</p>
  </div>
  <div class="sidebar">
    <div id="sidebar">
    <div id="navsearch">
      <% form_for(:group_search, :url => dt_search_groups_path, :html => { :method => :get, :id => 'groupsearchform', :name => 'groupsearchform' }) do |f| %>
        <input name="q" type="text" id="searchBox" title="Search Groups" value="Search Groups" size="15" maxlength="30" onblur="if(!this.value)this.value='Search Groups';" onfocus="if(this.value=='Search Groups')this.value='';"/>
        <span id="searchsubmit"><input type="submit" value="Go" class="submitreplace" /></span>
      <% end %>
    </div>
    </div>
    <div class="projectbuttons">
      <%= link_to "<span>Create Group</span>", new_dt_group_path, :class => "button-creategroup" %>
    </div>
  </div>  
</div>
    <%= will_paginate @groups %>

    <% if @groups.size > 0 %>
    <%= render :partial => 'dt/groups/group', :collection => @groups %>
    <% end %>

