<% if not team.generic? and not team.pending?%>
	<div id="team_<%= team.id %>" class="<%= cycle('row_even','row_odd') %>">
		<span class="participant_details">

			<div class="team_long_display_picture">
				<%= image_tag team.picture.thumb.url, :class => :thumbnail unless team.picture == nil %>
				<%= image_tag 'dt/icons/team_placeholder_icon_75x45.jpg', :class => :thumbnail unless team.picture != nil %>
			</div>

			<h2 style="margin:0px"><%= link_to(team.name, dt_team_path(team)) %></h2>
			<div id="team_<%= team.id %>_container">
				<p>
					Team Leader: <%= team.leader.name %>, Team Goal: $ <%= team.goal %><br />
				</p>
				<p>
					<%= team.short_description %>
				</p>
			</div>
		</span>
	</div>
<% end %>