<div id="teams">
	<h2 class="campaign"><%= link_to(@campaign.name + "'s",dt_campaign_path(@campaign)) %> Teams</h2>

	<div id="team_container" class="row_container">		
		<% if @teams.size >0 %>
			<%= render :partial => 'team', :collection => @campaign.teams %>
			<%= "strong>There are no teams registered for this campaign yet.</strong>" unless @teams.size > 0%>
		<% end %>
	</div>
	<div class="row_even">
		<%= will_paginate @teams %>
	</div>
</div>
<div>
	Back to <%= link_to(@campaign.name, dt_campaign_path(@campaign)) %>
</div>
