
<%= error_messages_for :team %>
<div id="new_campaign" class="campaign_form">
	<h1>Manage Team: <%= link_to(@team.name,dt_team_path(@team)) %></h1>	
	<%= link_to 'Edit Team Details', edit_dt_team_path(@team)%>
	
	<% if @team.require_authorization? %>
		<div id="applicants">
			<%= campaign_h2_header("Team Applicants",'applicant_container')%>
			<div id="applicant_container">
				<% for applicant in @applicants %>
					<%= applicant.user.full_name %>
				<% end %>
			</div>
		</div>
	<% end %>
	
	<div id="participants">
		<%= campaign_h2_header("Participants",'participant_container')%>
		<div id="participant_container">
			<%= render :partial => 'dt/participants/participant', :collection => @participants %>
		</div>
	</div>
	
	<%= render :partial => 'dt/news_items/news', :locals => {:postable => @team, :show_post_form => true}%>
	
	<%= render :partial => 'dt/wall_posts/wall', :locals => {:postable => @team, :show_post_form => false}%>
</div>