<% content_for :rss do %>
	<link href="<%= formatted_dt_team_path(@team,:rss)%>" title="RSS 2.0" rel="alternate" type="application/rss+xml" />
<% end %>
<div id="team">
	<div class="leftColW800">
		<div id="team_details">
			<h1><%= @team.name %> <%= "- Awaiting Approval! " unless not @team.pending? %>
			<%= (" - " + link_to('Join this team!', new_dt_team_participant_path(@team))) if @team.joinable? %></h1>
			<h5 style="margin-top:-10px;">
				<%= link_to "http://www.christmasfuture.org/dt/#{@team.campaign.short_name}/team/#{@team.short_name}", show_campaign_team_path(@team.campaign.short_name,@team.short_name) %>
			</h5>
			<p style="overflow:auto;">
				<%= image_tag @team.picture.full.url, :class => :thumbnail if @team.picture? %>
				<%= @team.description %>
			</p>

			<%= render :partial => 'dt/news_items/news', :locals => {:postable => @team}%>

			<div id="team_members">
				<%= campaign_h2_header(link_to('Participants',dt_team_participants_path(@team)) + (@team.joinable? ? " | #{link_to('Join this team!',new_dt_team_participant_path(@team))}":""),'participant_container') %>
				<div id="participant_container" class="row_container">
					<%= render :partial => 'dt/participants/participant', :collection => @team.participants, :locals => {:long_view => false} %>
				</div>
			</div>
			<%= render :partial => 'dt/wall_posts/wall',  :locals => {:postable => @team} %>
		</div>
	</div>

	<div class="leftColN800">
		<div class="campaign-sidebar-box metrics">
			<h2>Team Facts</h2>
			<span class="small_text">Campaign: <%= link_to(@team.campaign.name, dt_campaign_path(@team.campaign)) %></span><br/>
			<span class="small_text">Goal: $ <%= @team.goal if @team.goal %> CDN</span><br/>
			<span class="small_text">Pledged: $ <%= @team.funds_raised %> CDN</span><br/>
			<span class="small_text">Percentage of Goal: <%= @team.percentage_raised %></span><br/>
			<span class="small_text">Participants:	<%= @team.active_participants.size %> members</span>
		</div>
		<div class="campaign-sidebar-box get-involved">
	    <ul>
				<%= "<li>" + link_to('Manage Team',manage_dt_team_path(@team)) + "</li>" if @team.owned? || (current_user != :false && current_user.cf_admin?) %>
				<%= "<li>" + link_to("Join \"#{@team.name}\"", new_dt_team_participant_path(@team)) + "</li>" if @team.joinable? %>
				<li><%= link_to 'Support a participant', dt_team_participants_path(@team) %></li>
				<%= link_to "<span>Pledge</span>", new_dt_team_pledge_path(@team), :class => "button-pledge" %>
			</ul>
		</div>
	</div>
</div>