<div id="globalnav-wrapper" class="clearfix">
	<div class ="main-nav clearfix">
		<ul class="left-tabs">
			<%= ((controller.controller_name == "home" || controller.controller_name == "accounts")  ? "<li class='selected left-tab'>" :  "<li class='left-tab'>" )  + link_to("Home", '/dt/', {:class=>'nav-tab left-tab'}) %></li>
			<%= ((controller.controller_name == "projects") ? "<li class='selected left-tab'>" :  "<li class='left-tab'>" )  + link_to("Projects", {:controller=>'/dt/projects', :action=>'index'}, {:class=>'nav-tab left-tab'}) %></li>
			<%= ((controller.controller_name == "give") || 
					 (controller.controller_name == "investments") || 
					((controller.controller_name == "gifts") && (controller.action_name !="open")) ? 
					"<li class='selected left-tab'>" :  "<li class='left-tab'>" )  + link_to("Give", {:controller=>'/dt/give', :action=>'index'}, {:class=>'nav-tab left-tab'}) %></li>
			<%= ((controller.controller_name == "gifts" && controller.action_name == "open") ? "<li class='selected left-tab'>" :  "<li class='left-tab'>" )  + link_to("Receive", {:controller=>'/dt/gifts', :action=>'open'}, {:class=>'nav-tab left-tab'}) %></li>
			<%= ((%w(campaigns participants teams).include?(controller.controller_name)) ? "<li class='selected left-tab'>" :  "<li class='left-tab'>" )  + link_to("Campaigns", {:controller=>'/dt/campaigns'}, {:class=>'nav-tab left-tab'}) %></li>
                </ul>
		<ul class="right-tabs clearfix">
                  <li><a href="Http://www.facebook.com/pages/uend-Foundation/239989860463?ref=ts"><img align="Right" style="margin-top:2px;" src="/images/dt/icons/facebook.jpg" /> </a></li>
                  <li  class="nav-tab right-tab"><a href="Http://www.uend.org/blog/blog"><img align="Right" style="margin-top:2px" src="/images/dt/icons/wordpress.jpg" /> </a></li>
                  <li  class="nav-tab right-tab"><a href="Http://www.youtube.com/user/uendfoundation"><img align="Right" style="margin-top:2px" src="/images/dt/icons/youtube.jpg" /> </a></li>
                  <li  class="nav-tab right-tab"><a href="Http://www.twitter.com/Uend_Org"><img align="Right" style="margin-top:2px" src="/images/dt/icons/twitter.jpg" /> </a></li>
                  <li  class="nav-tab right-tab"><a href="Http://www.uend.org/blog/blog/feed"><img align="Right" style="margin-top:3px" height="27px" width="28px" src="/images/dt/icons/feed_icon.gif" /> </a></li>
			<!-- <% restrict_to  "(cf_admin | project_admin)" do %>
							<li><a href="/bus_admin" class="nav-tab right-tab">Admin </a></li>      
						<% end %> -->
			<li>&nbsp;</li>
		</ul>
	</div>
</div>
