<div class="gift">
  <h5><strong>Gift: <%= line_item.item.project_id? ? "Project" : "Gift Card" %></strong></h5>
  <div style="float:right;"><%= button_to_function "Preview", "window.open('#{preview_dt_gifts_path(:gift => line_item.item.attributes.merge({:preview => 1}))}', 'preview', 'width=800,height=440,resizable=1,scrollbars=1')", :class => "buttonsubmit" %></div>
  <p><strong>To:</strong> <a href="mailto:<%=h line_item.item.to_email %>"><%=h(line_item.item.to_name || line_item.item.to_email.sub(/@.*/, '')) %></a>
  </p>

  <% if line_item.item.project_id? && line_item.item.project %>
  <p><%= link_to line_item.item.project.name, dt_project_path(line_item.item.project_id) %></p>
  <% else %>
  <p>Your recipient will choose a project</p>
  <% end %>
</div>
