<% odd_or_even = line_item_counter % 2 == 0 ? 'even' : 'odd' %>
<tr class="<%= odd_or_even %>">
<%- if line_item.class == Gift %>
  <td>
    <div class="textsm">
      <%= link_to image_tag("dt/nav_elements/cart_remove.gif", :alt => "Remove item from cart"), dt_cart_path(:id => line_item_counter), :confirm => "Are you sure?", :method => :delete %>
      <%= link_to image_tag("dt/nav_elements/cart_edit.png", :alt => "Edit cart item"), edit_dt_gift_path(line_item_counter) %>
    </div>
  </td>
  <td>
    <% if line_item.e_card %><div class="thumbnail"><%= image_tag url_for_file_column(line_item.e_card, "small"), :alt => "" %></div><% end %>
    <div style="float:right;"><%= button_to_function "Preview", "window.open('#{preview_dt_gifts_path(:gift => line_item.attributes)}', 'preview', 'width=800,height=440,resizable=1,scrollbars=1')", :class => "buttonsubmit" %></div>
    <h5><strong>Gift</strong> </h5>
    <p>
      <strong>To:</strong> <%= link_to((line_item.to_name? ? line_item.to_name : line_item.to_email), "mailto:" + line_item.email) %><br />
      <% if line_item.message? %><strong>Message:</strong> <%= line_item.message_summary %><% end %>
    </p>
  </td>
  <td class="numeric money"><%= number_to_currency(line_item.amount) %></td>
<% end -%>

<%- if line_item.class == Investment %>
  <td>
    <div class="textsm">
      <%= link_to image_tag("dt/nav_elements/cart_remove.gif", :alt => "Remove item from cart"), dt_cart_path(:id => line_item_counter), :confirm => "Are you sure?", :method => :delete %>
      <%= link_to image_tag("dt/nav_elements/cart_edit.png", :alt => "Edit cart item"), edit_dt_investment_path(line_item_counter) %>
    </div>
  </td>
  <td>
    <h5><strong>Investment</strong></h5>
    <p><%= link_to line_item.project.name, dt_project_path(line_item.project_id) %></p>
  </td>
  <td class="numeric money"><%= number_to_currency(line_item.amount) %></td>
<% end -%>

<%- if line_item.class == Deposit %>
  <td>
    <div class="textsm">
      <%= link_to image_tag("dt/nav_elements/cart_remove.gif", :alt => "Remove item from cart"), dt_cart_path(:id => line_item_counter), :confirm => "Are you sure?", :method => :delete %>
      <%= link_to image_tag("dt/nav_elements/cart_edit.png", :alt => "Edit cart item"), edit_dt_account_deposit_path(current_user, line_item_counter) %>
    </div>
  </td>
  <td>
    <h5><strong>Deposit</strong></h5>
    <p>Deposit into my Christmas Future Account</p>
  </td>
  <td class="numeric money"><%= number_to_currency(line_item.amount) %></td>
<% end -%>
</tr>
