<% 
odd_or_even = line_item_counter % 2 == 0 ? 'even' : 'odd'
@line_item_counter_from_0 = line_item_counter - 1
case line_item.class.to_s
when "Gift"
  partial_name = "gift"
  edit_path = link_to image_tag("dt/nav_elements/cart_edit.png", :alt => "Edit cart item"), edit_dt_gift_path(@line_item_counter_from_0)
when "Investment"
  partial_name = "investment"
  edit_path = link_to image_tag("dt/nav_elements/cart_edit.png", :alt => "Edit cart item"), edit_dt_investment_path(@line_item_counter_from_0)
when "Deposit"
  partial_name = "deposit"
  edit_path = link_to image_tag("dt/nav_elements/cart_edit.png", :alt => "Edit cart item"), edit_dt_account_deposit_path(current_user, @line_item_counter_from_0)
end
-%>
<tr class="<%= odd_or_even %>">
  <td>
    <div class="textsm <%= partial_name %>controls">
      <%= link_to image_tag("dt/nav_elements/cart_remove.gif", :alt => "Remove item from cart"), dt_cart_path(:id => @line_item_counter_from_0), :confirm => "Are you sure you want to remove this item from your cart?", :method => :delete %>
      <%= edit_path %>
    </div>
  </td>
  <td>
    <%= render :partial => partial_name, :locals => { :line_item => line_item } %>
  </td>
  <td class="numeric money"><%= number_to_currency(line_item.amount) %></td>
</tr>
