<% 
case line_item.item.class.to_s
when "Gift"
  partial_name = "gift"
  edit_link = link_to "Edit", edit_dt_gift_path(line_item.id)
when "Investment"
  if line_item.subscription?
    partial_name = "subscription"
    edit_link = link_to "Edit", new_dt_upowered_path
  else
    partial_name = "investment"
    edit_link = link_to "Edit", edit_dt_investment_path(line_item.id)
  end
when "Deposit"
  partial_name = "deposit"
  edit_link = link_to "Edit", edit_iend_user_deposit_path(current_user, line_item.id)
when "Pledge"
  partial_name = "pledge"
  edit_link = "" # no editing
when "RegistrationFee"
  partial_name = "registration_fee"
  edit_link = "" # no editing
when "CampaignDonation"
  partial_name = "campaign_donation"
  edit_link = ""
end
-%>
<tr class="line_item_row">
  <td>
    <%= render :partial => "dt/cart/#{partial_name}", :locals => { :item => line_item.item } %>
    <div class="<%= partial_name %>controls controls">
      <%= edit_link %>
      <%= link_to "Delete", dt_cart_path(:id => line_item.id), :confirm => "Are you sure you want to remove this item from your cart?", :method => :delete %>
    </div>
  </td>
  <td class="numeric money"><%= number_to_currency(line_item.item.amount) %></td>
</tr>
