<div class="pledge">
  <h5><strong>Pledge</strong></h5>
  <% if line_item.item.participant != nil %>
    <p>Pledge for <%= link_to(line_item.item.participant.user.full_name, dt_participant_path(line_item.item.participant)) %>'s participation in <%= link_to(line_item.item.participant.team.campaign.name, dt_campaign_path(line_item.item.participant.team.campaign)) %></p>
  <% elsif line_item.item.team != nil %>
    <p>Pledge towards <%= link_to(line_item.item.team.name, dt_team_path(line_item.item.team.name)) %> (a team participating in <%= link_to(line_item.item.team.campaign.name, dt_campaign_path(line_item.item.team.campaign)) %>)</p>
  <% else %>
    <p>Pledge towards <%= link_to(line_item.item.campaign.name, dt_campaign_path(line_item.item.campaign)) %>
  <% end %>
</div>
