<%- content_for :html_title do -%>Your Cart<%- end -%>
<% title 'Your Cart' %>

<% content_for :top_content do %>
  <div class="append-2 prepend-2 prepend-top span-14 last">
    <%= image_tag "give/icon-cart.png", :alt => "" %>
  </div>
<% end %>

<div class="clearfix">
  <div class="span-9 append-1">
    <div id="cart">
      <% if @cart.empty? %>
      <table cellpadding="0" cellspacing="0">
        <tr>
          <th>Empty Cart</th>
        </tr>
        <tr>
          <td><p>Your cart is currently empty. Use one of the buttons below to get started</p></td>
        </tr>
      </table>
      <% else %>
      <%= will_paginate @cart_items, :param_name => 'cart_page', :renderer => 'RemoteLinkRenderer' , :remote => {:update => "cartcontainer"} %>
      <table cellpadding="0" cellspacing="0">
        <colgroup>
          <col style="width:85%;" />
          <col style="width:15%;" />
        </colgroup>

        <%= render :partial => "line_item", :collection => @cart_items %>

        <%= render :partial => "dt/donations/cart" %>

        <tr class="total">
          <td class="numeric money">
            <div style="display:none;float:left;text-align:left;width:100px;font-weight:normal;font-style:normal;"><%= link_to "Clear Cart", dt_cart_path, :confirm => "Are you sure you want to empty your entire cart?", :method => :delete %></div>
            <div><strong>Cart Total</strong></div>
          </td>
          <td class="numeric money"><%= number_to_currency(@cart.total) %></td>
        </tr>
      </table>
      <%= will_paginate @cart_items, :param_name => 'cart_page', :renderer => 'RemoteLinkRenderer' , :remote => {:update => "cartcontainer"} %>
      <% end %>
    </div>
    <div class="clearfix">
      <div style="float:left">
        <%= link_to "Add a gift card", new_dt_gift_path, :class => "bigbutton black" %><br>
        <%= link_to "Find a project", dt_projects_path, :class => "bigbutton black" %>
      </div>
      <% unless @cart.empty? %><%= link_to "<span>Checkout</span>", new_dt_checkout_path, :class => "bigbutton" %><% end %>
    </div>
  </div>
  <div class="span-4 last">
    <%= render :partial => 'dt/give/one_hundred_percent' %>
    <%= render :partial => 'dt/checkouts/verisign' %>
  </div>
</div>
