  <footer class="content">
    <div class="container">
      <div class="span-2 prepend-2 append-1">
        <ul>
          <li><strong><%= link_to "End Poverty", dt_give_path %></strong></li>
          <li><%= link_to "u:forward", new_dt_gift_path %></li>
          <li><%= link_to "u:powered", dt_upowered_path %></li>
          <li><%= link_to "u:direct", new_dt_investment_path %></li>
        </ul>
      </div>

      <div class="span-2 append-1">
        <ul>
          <li><strong>Poverty Insight</strong></li>
          <li><a href="http://www.industrymailout.com/Industry/Subscribe.aspx?m=3929">Newsletter</a></li>
        </ul>
        
        <ul>
          <li><strong>General Info</strong></li>
          <li><a href="/refund-policy">Refund Policy</a></li>
          <li><a href="/terms-of-use">Terms of Use</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/help">Help</a></li>
        </ul>
      </div>

      <div class="span-2 append-1">
        <ul>
          <li><strong><a href="/about-us">About us</a></strong></li>
          <li><a href="/about-us/mission">Mission</a></li>
          <li><a href="/about-us/financials">Financials</a></li>
          <li><a href="/about-us/funding">Funding</a></li>
          <li><a href="/about-us/board-members">Board Members</a></li>
          <li><a href="/about-us/founders-journey">Founder's Journey</a></li>
          <li><a href="/about-us/staff-volunteers">Staff &amp; Volunteers</a></li>
          <li><a href="/about-us/friends-respect">Friends &amp; Respect</a></li>
          <li><a href="/about-us/faqs">FAQs</a></li>
          <li><a href="/about-us/partner-with-us">Partner With Us</a></li>
        </ul>
      </div>

      <div class="span-2 append-1">
        <ul>
          <li><strong><a href="/get-involved">Get Involved</a></strong></li>
          <li><a href="/oneyoga">OneYoga</a></li>
          <li><a href="/get-involved/volunteer">Volunteer</a></li>
          <li><a href="/school-program">School Program</a></li>
        </ul>
      </div>

      <div class="span-2 append-1">
        <ul>
          <li><strong><a href="/contact">Contact us</a></strong></li>
          <li><a href="mailto:info@uend.org"><img src="/images/icons/email.png" width="16" height="11" alt="Email" style="vertical-align:top;"> Email</a></li>
        </ul>
        <ul>
          <li><strong>Social</strong></li>
          <li style="margin-bottom:2px;"><a href="http://www.facebook.com/uendfoundation"><img src="/images/icons/facebook.png" width="14" height="14" alt="Facebook" style="vertical-align:top;"> Facebook</a></li>
          <li style="margin-bottom:2px;"><a href="http://twitter.com/UEnd_org"><img src="/images/icons/twitter.png" width="14" height="14" alt="Twitter" style="vertical-align:top;"> Twitter</a></li>
          <li style="margin-bottom:2px;"><a href="http://blog.uend.org/"><img src="/images/icons/rss.png" width="14" height="14" alt="RSS" style="vertical-align:top;"> Blog</a></li>
        </ul>
      </div>
    </div>

    <p id="copyright" style="margin-top:8px;">
      <small>
        &copy; Copyright UEnd Foundation <%= (2011..Date.today.year).to_a.join(', ') %>. All Rights Reserved.<br>
        Canadian charity (850277120RR0001)<br>
        <span class="quiet">v<%= ::Donortrust::VERSION %> | <%= country_code %></span>
      </small>
    </p>
  </footer>
