<%- content_for :html_title do %>Edit Admin Message<% end -%>
<%- content_for :nav do %><%= dt_account_nav %><% end -%>

<%= dt_group_nav unless @group.private && !@membership %>
  
    <%= error_messages_for :group_news %>
    <% form_for(:group_news, :url => dt_group_message_path(@group, @group_news), :html => { :method => 'put', :id => "groupnewsform", :name => "groupnewsform"}) do |f| -%>
    <div class="userform simpleform">
      <%= render :partial => "form", :locals => {:f => f} %>
    	<%= submit_tag 'Update Admin Message', :class => 'buttonsubmit' %>
  	</div>
  	<% end %>
    <% content_for :sidebar do %>
	    <%= dt_profile_sidebar %>
    <% end %>