<%- content_for :html_title do %><%= @group.name %><% end -%>
<%- content_for :nav do %><%= dt_account_nav %><% end -%>

  <%= dt_group_nav if !@group.private? || @membership %>

    <h2>Group News</h2>
    <% if current_member && current_member.admin? -%>
    <%= error_messages_for :group_message %>
    <% form_for(:group_message, :url => dt_group_messages_path(@group), :html => { :id => "groupnewsform", :name => "groupnewsform"}) do |f| -%>
    <div class="userform simpleform clearfix">
      <%= render :partial => "form", :locals => {:f => f} %>
  	  <%= submit_tag 'Add Admin Message', :class => 'buttonsubmit' %>
  	</div>
  	<% end %>
  	<% end -%>
    
    <%= will_paginate @group_messages %>

    <%= render :partial => 'dt/groups/news/message', :collection => @group_messages %>
    <% content_for :sidebar do %>
	    <%= dt_profile_sidebar %>
    <% end -%>