<%= hidden_field_tag "step", "support" %>
<div class="userform">
  <%= render :partial => 'dt/shared/form_requirednote', :locals => { :style => 'margin-bottom:0px;' } %>

  <% if Project.cf_admin_project %>
  <fieldset>
    <legend>Support ChristmasFuture</legend>

    <p>100% of your funds go to the project(s) you select. We spend over 3% on each transaction.</p>
  
    <ol>
      <li>
        <label class="left"><%= form_required %>Would you like to help cover our costs?</label>
        <fieldset>
          <ol>
            <li>
              <label class="left"><%= radio_button_tag "fund_cf", "no", false, :onchange => "if(this.checked){$('fund_cf_amount_field').hide();$('fund_cf_amount').value='';}" %> Not this time</label>
              <label class="left"><%= radio_button_tag "fund_cf", "percent", false, :onchange => "if(this.checked){$('fund_cf_amount_field').show();$('fund_cf_dollars_symbol').hide();$('fund_cf_percent_symbol').show();}" %> Add a percentage to my investment</label>
              <label class="left"><%= radio_button_tag "fund_cf", "dollars", (cart_cf_investment ? true : false), :onchange => "if(this.checked){$('fund_cf_amount_field').show();$('fund_cf_percent_symbol').hide();$('fund_cf_dollars_symbol').show();}" %> Add a specific a dollar amount</label>
            </li>
          </ol>
        </fieldset>
        <div id="fund_cf_amount_field"><label><%= form_required %>Amount <span id="fund_cf_percent_symbol" style="display:none;">%</span><span id="fund_cf_dollars_symbol" style="display:none;">$</span></label> <%= text_field_tag "fund_cf_amount", (cart_cf_investment ? cart_cf_investment.amount : nil) %></div>
      </li>
    </ol>
  </fieldset>
  <% end %>
  <div class="checkoutbuttons clearfix">
    <%= submit_tag 'Proceed to Step 2 &raquo;', :class => 'buttonsubmit' %>
  </div>
</div>