<%= hidden_field_tag "step", "support" %>
<div class="userform">
  <%= render :partial => 'dt/shared/form_requirednote', :locals => { :style => 'margin-bottom:0px;' } %>

  <% if Project.admin_project %>
  <fieldset>
    <legend>Support Uend:</legend>
    
    <p>100% of your funds go to the project(s) you select. On each credit card transaction, Uend: spends 3% for fees.</p>
  
    <ol>
      <li>
        <label class="left"><%= form_required %>Would you like to help cover our costs?</label>
        <fieldset>
          <ol>
            <li>
              <label for="fund_cf_percent" class="left"><%= radio_button_tag "fund_cf", "percent", false %> Add a percentage to my investment</label>
              <label for="fund_cf_dollars" class="left"><%= radio_button_tag "fund_cf", "dollars", (cart_cf_investment ? true : false) %> Add a specific dollar amount</label>
              <label for="fund_cf_no" class="left"><%= radio_button_tag "fund_cf", "no", false %> Not this time</label>
            </li>
          </ol>
        </fieldset>
        <div id="fund_cf_amount_field">
          <label><%= form_required %>Amount</label>
          <span id="fund_cf_dollars_symbol" style="display:none;">$</span><%= text_field_tag "fund_cf_amount", (cart_cf_investment ? cart_cf_investment.amount : params[:fund_cf_amount]), :style => "width:75px;" %><span id="fund_cf_percent_symbol" style="display:none;">%</span>
          <div>
            <label>&nbsp; &nbsp;</label>
            <%= text_field_tag "fund_cf_amount_calculated", nil, :disabled => "disabled" %>
            <%= hidden_field_tag "cart_total", (cart_cf_investment ? @cart.total - cart_cf_investment.amount : @cart.total) %>
          </div>
        </div>
      </li>
    </ol>
  </fieldset>
  <% end %>
  <div class="checkoutbuttons clearfix">
    <%= image_submit_tag "/images/dt/nav_elements/proceed_to_step_2.png", :alt => 'Proceed to Step 2' %>
  </div>
</div>