<%- if !logged_in? -%>
<fieldset>
  <legend>Account Signup</legend>
  <%- if @cart.subscription? -%>
    <div class="textsm">In order to be able to manage your monthly giving, you need to sign up for an account or, if you already have a UEnd: account, please login from the sidebar.</div>
  <%- else -%>
    <div class="textsm">If you would like to be provided with a tax receipt, you need to sign up for an account or, if you already have a UEnd: account, please login from the sidebar.</div>
  <%- end -%>
  <ol>
    <li>
      <%= f.label :password, "#{form_required} Password" %>
      <%= f.password_field :password %>
    </li>
    <li>
      <%= f.label :password_confirmation, "#{form_required} Confirm Password" %>
      <%= f.password_field :password_confirmation %>
    </li>
    <li>
      <%= f.check_box :terms_of_use %>
      <%= f.label :terms_of_use, render(:partial => 'dt/shared/form_required') + 'I have read the <a href="/terms-of-use" rel="blank">terms of use</a> and agree', :class => "left inline" %>
    </li>
  </ol>
</fieldset>
<%- end -%>
