<%- content_for :head do -%>
<%= stylesheet_link_tag 'dt/cart' %>
<%= javascript_include_tag "dt/checkout" %>
<%- end -%>
<%- content_for :html_title do -%>Checkout<%- end -%>
<%- content_for :nav do -%><%= checkout_nav %><%- end -%>

<h2>Step 3 of 4 - Billing Information</h2>

<%= error_messages_for :order %>
<%= error_messages_for :user %>
<% form_for(:order, :url => dt_checkout_path, :html => {:id => "billingform", :name => "billingform", :method => :put}) do |f| %>
<%= hidden_field_tag "step", "billing" %>
<div class="userform">
  <% if @order.credit_card_payment? %>
    <%= render :partial => 'dt/shared/form_requirednote', :locals => { :style => 'margin-bottom:0px;' } %>
    <fieldset>
      <legend>Billing and Tax Receipt Information</legend>
      <div class="notes clearfix">
        <h5>Billing and Receipt Information</h5>
        <p>Please enter personal information associated with your credit card. If applicable, your name, address, and email will also be used to create an electronic tax receipt.</p>
      </div>
      <ol>
        <li>
          <fieldset>
            <legend>What kind of donor are you?</legend>
            <ol>
              <li><label for="order_donor_type_personal"><%= f.radio_button :donor_type, "personal" %> Personal</label></li>
              <li><label for="order_donor_type_corporate"><%= f.radio_button :donor_type, "corporate" %> Corporate</label></li>
            </ol>
          </fieldset>
        </li>
        <li class="personal"><label for="order_title">Title</label> <%= f.select :title, titles.unshift("") %></li>
        <li class="personal"><label for="order_first_name"><%= form_required if @order.credit_card_payment? %>First Name</label> <%= f.text_field :first_name %></li>
        <li class="personal"><label for="order_last_name"><%= form_required if @order.credit_card_payment? %>Last Name</label> <%= f.text_field :last_name %></li>
        <li><label for="order_company"><span id="companyrequired"<% unless @order.donor_type == "company" %> style="display:none;"<% end %>><%= form_required %></span>Company</label> <%= f.text_field :company %></li>
        <li><label for="order_address"><%= form_required if @order.credit_card_payment? %>Street Address</label> <%= f.text_field :address %></li>
        <li><label for="order_address2">Street Address 2</label> <%= f.text_field :address2 %></li>
        <li><label for="order_city"><%= form_required if @order.credit_card_payment? %>City</label> <%= f.text_field :city %></li>
        <li><label for="order_province"><%= form_required if @order.credit_card_payment? %>Province/State</label> <%= f.text_field :province %></li>
        <li><label for="order_postal_code"><%= form_required if @order.credit_card_payment? %>Postal/Zip Code</label> <%= f.text_field :postal_code %></li>
        <li><label for="order_country"><%= form_required if @order.credit_card_payment? %>Country</label> <%= f.select :country, country_select_options %></li>
        <li><label for="order_email"><%= form_required %>Email</label> <%= f.text_field :email %></li>
      </ol>
    </fieldset>
    <div id="credit_card_details">
      <fieldset>
        <legend>Credit Card Information</legend>
        <div class="textsm" style="font-size:0.75em;margin-top:1em;"><strong>Credit Card Details</strong></div>
        <%= render :partial => 'dt/shared/form_requirednote', :locals => { :style => 'margin-bottom:0px;' } %>
        <div class="notes">
          <h5>Credit Card Details</h5>
          <p>You can safely enter your credit card number on our secure server, which encrypts all submitted information. We <strong>do not</strong> store any credit card information or details.</p>
        </div>
        <ol class="clearfix">
          <li><label for="order_card_number" class="wide"><%= form_required %>Credit Card Number</label> <%= f.text_field :card_number, :maxlength => 16 %></li>
          <li>
            <label for="order_cvv" class="wide"><%= form_required %>Card Security Number (CVV)</label> <%= f.text_field :cvv, :maxlength => 5, :size => 5, :style => "width:auto;" %>
            <div class="note" style="margin-left:125px;">This is final 3 digits on the back of your card.</div>
          </li>
          <li><label for="order_expiry_month" class="wide"><%= form_required %>Card Expiry</label> 
            <div id="card_expiry">
            <%= f.select("expiry_month", expiry_months, { :include_blank => true }, { :style => 'width:auto;' }) -%>
            / 
            <%= f.select("expiry_year", expiry_years, { :include_blank => true }, {:style => 'width:auto;' }) %> 
            </div>
          </li>
          <li><label for="order_cardholder_name" class="wide"><%= form_required %>Cardholder Name</label> <%= f.text_field :cardholder_name %></li>
        </ol>
      </fieldset>
    </div>
  <% else %>
    <p>You are not paying with a credit card. No billing information is required.</p>
  <% end %>
</div>

<div class="checkoutbuttons clearfix">
  <%= link_to image_tag("/images/dt/nav_elements/go_back_a_step.png", :alt => "Go Back a Step"), edit_dt_checkout_path(:step => "payment") %>
  <%= image_submit_tag "/images/dt/nav_elements/proceed_to_step_4.png", :alt => 'Proceed to Step 4' %>
</div>
<% end %>

<%- content_for :sidebar do -%>
  <h2><%= link_to "My Cart", dt_checkout_path, :method => :delete %></h2>
  <%= render :file => "dt/cart/sidebar" %>  
  <%= render :file => "dt/accounts/profile_sidebar" %>  
  <%= render :partial => 'dt/checkouts/verisign' %>
<%- end -%>

<% content_for :google_analytics_path do %>/checkout/billing.html<% end %>
