<div class="span-14 last prepend-top clearfix">
  <nav id="formnav" class="clearfix">
    <ul>
      <%-
      link_item = true
      nav_info = {
          "payment_options" => "Payment &nbsp; &nbsp; Options ", 
          "upowered" => "Join &nbsp; &nbsp; UPowered ", 
          "billing" => "Billing Information ", 
          "account_signup" => "Account Signup ", 
          "credit_card" => "Credit Card Details",
          "receipt" => "Transaction Receipt"
        }
      @checkout_steps.each do |key|
        current = (@current_nav_step ? false : true) if key.empty?
        current = (@current_nav_step == key ? true : false) unless key.empty?
        link_item = false if current
        title = nav_info[key]
      -%>
      <li class="span-2<%= ' current' if current %>"><%= title %></li>
      <%- end -%>
      <li class="span-4 <%= "prepend-#{(10 - @checkout_steps.size*2)}" %> last" style="text-align:right;font-size:18px;">
        <%- if @cart.present? -%>
        <strong>Cart Total: <%= number_to_currency(@cart.total) %></strong>
        <%- else -%>
        <% if !logged_in? || current_user.authentications.facebook.blank? %>
        <div class="clearfix">
          <div class="facebooklogin">
            <div class="img"><%= link_to image_tag('dt/authentications/facebook_24.png', :size => "24x24", :alt => ""), '/dt/auth/facebook' %></div>
            <%= link_to (logged_in? ? 'Connect via facebook' : 'Login with facebook'), '/dt/auth/facebook' %>
          </div>
        </div>
        <% end %>
        <%- end -%>
      </li>
    </ul>
  </nav>
</div>
