<ul>
  <li<%= ' class="current"' unless params['credit_card'] || params['confirm'] || params['complete'] %>><%= link_to "Billing Info &raquo; ", new_dt_checkout_path, :title => 'Billing and Tax Receipt Information' %></li>
  <li<%= ' class="current"' if params['credit_card'] %>><%= link_to "Credit Card &raquo; ", new_dt_checkout_path(:credit_card => "1"), :title => 'Credit Card Information' %></li>
  <li<%= ' class="current"' if params['confirm'] %>><%= link_to "Confirmation ", new_dt_checkout_path(:confirm => "1"), :title => 'Confirmation' %></li>
  
</ul>
