<% content_for :top_content do %>
  <div class="clearfix prepend-top" style="position:relative;">
    <div class="span-16 prepend-2 last">
      <img src="/images/give/icon-cash_register.png" width="93" height="79" alt="">
    </div>
  </div>
<% end %>

<% html_title("Checkout Confirmation") %>
<%= checkout_nav %>

<!-- this is to get around a really odd webkit bug -->
<div>&nbsp;</div>

<div style="width:162px;float:right">
  <%= render 'iend/authentications/authentications' %>
</div>


<div id="confirm">
  <h1 class="plain dark">Order Summary</h1>

  <h2 class="plain dark">Payment Information</h2>
  <% if @order.account_balance_payment %>
    <h3 class="plain dark">Account Balance</h3>
    <p><%= number_to_currency @order.account_balance_payment %></p>
  <% end %>
  <% if @order.credit_card_payment %>
    <h3 class="plain dark">Credit Card</h3>
    <p>
      Amount: <%= number_to_currency @order.credit_card_payment %><br>
      Card Name: <%= @order.cardholder_name %><br>
      Card Number: <%= @order.card_number_concealed %><br>
      Expiration: <%= @order.card_expiry %>
    </p>
  <% end %>
  <% if @order.gift_card_payment? %>
    <h3 class="plain dark">Gift Card</h3>
    <p><%= number_to_currency @order.gift_card_payment %></p>
  <% end %>

  <h2 class="plain dark">Receipt Information</h2>
  <p><%= @order.updated_at.strftime('%B %d, %Y') %></p>
  <p><%= @order.name %><br><%= @order.email %></p>
  <%- if @order.multiline_address.present? -%>
  <p>
    <%= @order.multiline_address.join("<br>") %>
  </p>
  <%- end -%>

  <table border="0" cellpadding="4" cellspacing="0" class="activity_summary">
  <colgroup>
    <col style="width:85%;" />
    <col style="width:15%;" />
  </colgroup>
  <% @order.cart.all_items_donation_last.each do |line_item| %>
  <%- next unless line_item.present? -%>
  <%- partial_name = line_item.item.class.to_s.underscore -%>
  <%- partial_name = 'subscription' if @order.created_subscription? && line_item.class == Investment && line_item.project == Project.admin_project -%>
    <% content_tag_for :tr, line_item, :class => "line_item_row" do %>
      <td class="textsm" style="text-align:left;">
        <%= render :partial => "dt/cart/#{partial_name}", :locals => { :item => line_item.item } %>
      </td>
      <td class="textsm" style="text-align:right;"><%= number_to_currency(line_item.item.amount) %></td>
    <% end %>
  <% end %>
  <tr class="total">
    <td class="numeric">Total</td>
    <td class="numeric"><%= number_to_currency @order.total %></td>
  </tr>
  </table>

  <% semantic_form_for(@order, :url => dt_checkout_path, :html => {:id => "billingform", :method => :put}) do |f| %>
    <%= f.semantic_errors :order %>
    <%= hidden_field_tag "step", "confirm" %>
    <% f.buttons do %>
      <%= f.input :card_number, :as => :hidden, :input_html => { :value => @order.full_card_number } %>
      <%= link_to("back", edit_dt_checkout_path(:step => "credit_card"), :class => "bigbutton black") %>
      <%= f.commit_button "finish" %>
      <%= f.input :payment_options_step, :as => :hidden, :input_html => { :value => 1 } %>
    <% end %>
  <% end %>
</div>
