<%- content_for :head do -%>
<%= stylesheet_link_tag 'dt/cart' %>
<%= javascript_include_tag "dt/checkout" %>
<%- end -%>
<%- content_for :html_title do -%>Confirm Checkout - Step 4 of 4<%- end -%>
<%- content_for :nav do -%><%= checkout_nav %><%- end -%>

<h2>Step 4 of 4 - Confirmation</h2>

<%= error_messages_for :order %>
<% form_for(:order, :url => dt_checkout_path, :html => {:id => "orderform", :name => "orderform", :method => :put}) do |f| %>
<%= hidden_field_tag "step", "confirm" %>
<div class="userform">

  <fieldset style="margin-top:1em;">
    <legend>Billing and Tax Receipt Information</legend>
    <div class="notes clearfix">
      <h5>Billing and Tax Receipt Information</h5>
      <p>Please ensure this information is correct for your credit card transaction and tax receipt.</p>
    </div>
    <ol>
      <li><label>Donor Type</label> <%=h @order.donor_type %></li>
      <li><label>Title</label> <%=h @order.title %></li>
      <li><label>First Name</label> <%=h @order.first_name %></li>
      <li><label>Last Name</label> <%=h @order.last_name %></li>
      <li><label>Company</label> <%=h @order.company %></li>
      <li><label>Street Address</label> <%=h @order.address %></li>
      <li><label>Street Address 2</label> <%=h @order.address2 %></li>
      <li><label>City</label> <%=h @order.city %></li>
      <li><label>Province</label> <%=h @order.province %></li>
      <li><label>Postal/Zip Code</label> <%=h @order.postal_code %></li>
      <li><label>Country</label> <%=h @order.country %></li>
      <li><label>Province</label> <%=h @order.province %></li>
      <li><label>Email</label> <%=h @order.email %></li>
    </ol>
  </fieldset>
  
  <% if cart_cf_investment %>
  <fieldset>
    <legend>Support ChristmasFuture</legend>
    <p>100% of your funds go to the project(s) you select.</p>
    <p>You have chosen to give <strong><%= number_to_currency(cart_cf_investment.amount) %></strong> to ChristmasFuture directly. Thank You!</p>
  </fieldset>
  <% end %>
  
  <fieldset>
    <legend>Payment Summary</legend>
    <% if logged_in? and current_user.balance > 0 %>
    <ol>
      <li><label class="left"><em>Your Current Account Balance:</em> <%= logged_in? ? number_to_currency(current_user.balance) : number_to_currency(50) %><%= hidden_field_tag :account_balance, (logged_in? ? current_user.balance : 50), :id => 'account_balance' %></label></li>
    </ol>
    <ol class="clearfix" id="payment">
      <li class="odd"><label>Cart Total:</label> <%= number_to_currency(@cart.total) %><%= hidden_field_tag :total, @cart.total, :id => 'cart_total' %></li>
      <li><label>Take From my Account:</label> <%= number_to_currency(@order.account_balance_total) %></li>
      <li class="odd"><label>Put on My Credit Card:</label> <%= number_to_currency(@order.credit_card_total) %></li>
      <li id="totalfield"><label>Total Paid:</label> <%= number_to_currency(@order.total) %>&nbsp;</li>
    </ol>
    <% end %>
    
    <% if @order.credit_card_total && @order.credit_card_total > 0 %>
    <div class="textsm" style="font-size:0.75em;"><strong>Credit Card Information</strong></div>
    <div class="notes">
      <h5>Credit Card Information</h5>
      <p>Your credit card is processed on a secure server. We <strong>do not</strong> store any credit card information or details.</p>
    </div>
    <% if logged_in? and current_user.balance > 0 %>
    <p>The remaining balance of <strong><%= number_to_currency(@cart.total - @order.account_balance_total.to_f) %></strong> will be charged to your credit card</p>
    <% else %>
    <p>A balance of <strong><%= number_to_currency(@cart.total - @order.account_balance_total.to_f) %></strong> will be charged to your credit card</p>
    <% end %>
    <%= render :partial => 'dt/shared/form_requirednote', :locals => { :style => 'margin-bottom:0px;' } %>
    <ol class="clearfix" style="margin:6px 0 0 0;">
      <li><label>Credit Card</label><%=h @order.credit_card_concealed %> <%= hidden_field_tag "credit_card", params[:order][:credit_card] %></li>
      <li><label>Card Security Number</label> <%=h @order.csc.gsub(/./, "*") if @order.csc? %></li>
      <li><label>Card Expiry</label> <%=h @order.expiry_month.to_s.rjust(2, "0") %>/<%=h @order.expiry_year %></li>
      <li><label>Cardholder Name</label> <%=h @order.cardholder_name %></li>
    </ol>
  </fieldset>
  <% end %>
</div>
<div class="checkoutbuttons clearfix">
  <div class="buttonsubmit"><%= link_to "&laquo; Go Back a Step", edit_dt_checkout_path(:step => 'payment'), :class => "large" %></div>
  <%= submit_tag 'Complete Checkout', :class => 'buttonsubmit' %>
</div>
<% end %>

<%- content_for :sidebar do -%>
  <%= render "dt/cart/sidebar" %>  
  <%= render "dt/accounts/profile_sidebar" %>  
  <%= render :partial => 'dt/checkouts/verisign' %>
<%- end -%>