<%- content_for :head do -%>
<%= stylesheet_link_tag 'dt/cart' %>
<%= javascript_include_tag "dt/checkout" %>
<%- end -%>
<%- content_for :html_title do -%>Confirm Checkout<%- end -%>
<%- content_for :nav do -%><%= checkout_nav %><%- end -%>

<h2>Step 4 of 4 - Confirm your details</h2>

<%= error_messages_for :order %>
<% form_for(:order, :url => dt_checkout_path, :html => {:id => "orderform", :name => "orderform", :method => :put}) do |f| %>
<%= hidden_field_tag "step", "confirm" %>
<%= hidden_field_tag(:directed_gift, params[:directed_gift]) unless params[:directed_gift].nil? %>
<%= hidden_field_tag :project_id, params[:project_id] %>
<div class="userform">

  <fieldset style="margin-top:1em;">
    <legend>Billing and Tax Receipt Information</legend>
    <% if @order.credit_card_payment? %>
      <div class="notes clearfix">
        <h5>Billing and Tax Receipt Information</h5>
        <p>Please ensure this information is correct for your credit card transaction and tax receipt.</p>
      </div>
      <ol>
        <li><label><strong>Donor Type</strong></label> <%=h @order.donor_type %></li>
        <li><label><strong>Title</strong></label> <%=h @order.title %></li>
        <li><label><strong>First Name</strong></label> <%=h @order.first_name %></li>
        <li><label><strong>Last Name</strong></label> <%=h @order.last_name %></li>
        <li><label><strong>Company</strong></label> <%=h @order.company %></li>
        <li><label><strong>Street Address</strong></label> <%=h @order.address %></li>
        <li><label><strong>Street Address 2</strong></label> <%=h @order.address2 %></li>
        <li><label><strong>City</strong></label> <%=h @order.city %></li>
        <li><label><strong>Province/State</strong></label> <%=h @order.province %></li>
        <li><label><strong>Postal/Zip Code</strong></label> <%=h @order.postal_code %></li>
        <li><label><strong>Country</strong></label> <%=h @order.country %></li>
        <li><label><strong>Province</strong></label> <%=h @order.province %></li>
        <li><label><strong>Email</strong></label> <%=h @order.email %></li>
      </ol>
    <% else %>
      <p>You are not paying with a credit card. No billing information is required.</p>
    <% end %>
  </fieldset>
  
  <% if cart_cf_investment %>
  <fieldset>
    <legend>Support Uend:</legend>
    <p>100% of your funds go to the project(s) you select.</p>
    <p>You have chosen to give <strong><%= number_to_currency(cart_cf_investment.amount) %></strong> to Uend: directly. Thank You!</p>
  </fieldset>
  <% end %>
  
  <fieldset>
    <legend>Payment Summary</legend>
    <ol>
      <li class="odd"><label>Cart Total:</label> <%= number_to_currency(@cart.total) %><%= hidden_field_tag :total, @cart.total, :id => 'cart_total' %></li>
      <% if @order.gift_card_payment? %>
        <li>
          <label>Gift Card Payment:</label> <%= number_to_currency(@order.gift_card_payment) %>
          <div class="note" >After this transaction, your gift card balance will be <%= number_to_currency(session[:gift_card_balance] - @order.gift_card_payment) %>.</div>
        </li>
      <% end %>
      <% if @order.account_balance_payment? %>
        <li>
          <label>Account Balance Payment:</label> <%= number_to_currency(@order.account_balance_payment) %>
          <div class="note">After this transaction, your account balance will be <%= number_to_currency(current_user.balance - @order.account_balance_payment) %>.</div>
        </li>
      <% end %>
      <% if pledge_account && @order.pledge_account_payment? %>
        <li>
          <label>Pledge Account Payment:</label> <%= number_to_currency(@order.pledge_account_payment) %>
          <div class="note" >After this transaction, your pledge account balance will be <%= number_to_currency(pledge_account.balance - @order.pledge_account_payment) %>.</div>
        </li>
      <% end %>
      <% if @order.credit_card_payment? %>
        <li>
          <label>Credit Card Payment:</label> <%= number_to_currency(@order.credit_card_payment) %>
        </li>
      <% end %>
      <li id="totalfield">
        <label>Total Paid:</label> <%= number_to_currency(@order.total) %>&nbsp;
      </li>
    </ol>
    
    <% if @order.credit_card_payment? %>
    <div class="textsm" style="font-size:0.75em;margin-top:1em;"><strong>Credit Card Information</strong></div>
    <div class="notes">
      <h5>Credit Card Information</h5>
      <p>Your credit card is processed on a secure server. We <strong>do not</strong> store any credit card information or details.</p>
    </div>
    <p>A balance of <strong><%= number_to_currency( @order.credit_card_payment) %></strong> will be charged to your credit card.</p>
    <ol class="clearfix">
      <li><label class="wide"><strong>Credit Card</strong></label><%=h @order.card_number_concealed %> <%= f.hidden_field :card_number, :value => @order.credit_card.number %><%# this sets the card_number temporarily back to the full value for processing %></li>
      <li><label class="wide"><strong>Card Security Number (CVV)</strong></label> <%=h @order.cvv.gsub(/./, "*") if @order.cvv? %></li>
      <li><label class="wide"><strong>Card Expiry</strong></label> <%=h @order.card_expiry %></li>
      <li><label class="wide"><strong>Cardholder Name</strong></label> <%=h @order.cardholder_name %></li>
    </ol>
  <% end %>  
  </fieldset>
</div>
<div class="checkoutbuttons clearfix" id="checkout-submitbuttons">
  <%= link_to image_tag("/images/dt/nav_elements/go_back_a_step.png", :alt => "Go Back a Step"), edit_dt_checkout_path(:step => "billing") %>
  <%= image_submit_tag "/images/dt/nav_elements/checkout.png", :alt => 'Complete Checkout' %>
</div>
<div id="please-wait" style="display:none;text-align:right;">
  <%= image_tag "/images/dt/nav_elements/please_wait.gif", :alt => 'Please Wait...' %>
</div>
<% end %>

<%- content_for :sidebar do -%>
  <h2><%= link_to "My Cart", dt_checkout_path, :method => :delete %></h2>
  <%= render :file => "dt/cart/sidebar" %>  
  <%= render :file => "dt/accounts/profile_sidebar" %>  
  <%= render :partial => 'dt/checkouts/verisign' %>
<%- end -%>

<% content_for :google_analytics_path do %>/checkout/confirmation.html<% end %>