<%- content_for :head do -%>
  <%= stylesheet_link_tag "dt/cart" %>
  <%= javascript_include_tag "dt/checkout" %>
<%- end -%>
<%- content_for :html_title do -%>Checkout<%- end -%>
<%- content_for :nav do -%><%= checkout_nav %><%- end -%>

<h2>Step 1 of 3 - Payment Details</h2>

<%= render :partial => "subscription" %>

<%= error_messages_for :order %>
<% form_for(:order, :url => dt_checkout_path, :html => {:id => "paymentform", :name => "paymentform", :method => ( @order.new_record? ? :post : :put )}) do |f| %>
<%= hidden_field_tag "step", "payment" %>
<div class="userform">
  <%= render :partial => 'dt/shared/form_requirednote', :locals => { :style => 'margin-bottom:0px;' } %>
  <fieldset>
    <legend>Payment Details</legend>

    <p>
      Please enter your payment details below. 
      <% if account_payment? %>Since you have an account with Uend: you can pay from your account balance, which is currently <strong><%= logged_in? ? number_to_currency(current_user.balance) : number_to_currency(0) %></strong>.<% end %>
      Deposits to your account must be paid on your credit card<%= " or gift card" if gift_card_balance? %>.
    </p>
    <ol>
      <%- if gift_card_balance? -%>
        <li>
          <label class="left" style="font-style:italic;">
            Your Current Gift Card Balance: <%= number_to_currency(Gift.find(session[:gift_card_id]).balance) %>
          </label>
        </li>
      <%- end -%>
      <%- if account_payment? -%>
        <li>
          <label class="left" style="font-style:italic;">Your Current Account Balance: <%= number_to_currency(current_user.balance) %></label>
          <%= hidden_field_tag :account_balance, current_user.balance %>
        </li>
      <%- end -%>
      <%- if pledge_account -%>
        <li>
          <label class="left" style="font-style:italic;">Your Current Pledge Account Balance <%= " for #{pledge_account.campaign.name}" if pledge_account && pledge_account.campaign %>: <%= number_to_currency(pledge_account.balance) %></label>
          <%= f.hidden_field :pledge_account_payment_id, :value => pledge_account.id %>
          <%= hidden_field_tag :pledge_account_balance, pledge_account.balance %>
        </li>
      <%- end -%>
      <% if !gift_card_balance? && minimum_credit_payment = @order.minimum_credit_payment(@cart.items) %>
        <% @order.credit_card_payment = @order.minimum_credit_payment(@cart.items) %> %>
        <li>
          <label class="left" style="font-style:italic;">Your minimum Credit Card payment: <%= number_to_currency(minimum_credit_payment) %></label>
          <div class="note" style="margin-left:0;">You must pay at least this amount from your credit card to pay for your cart balance.</div>
        </li>
      <% end %>
    </ol>
    <ol class="clearfix" id="payment">
      <li class="odd"><label>Cart Total:</label> <%= number_to_currency(@cart.total) %><%= hidden_field_tag :cart_total, @cart.total, :id => 'cart_total' %></li>
      <li>
        <label>Take From my Gift Card:</label> 
        <%- if session[:gift_card_balance] && session[:gift_card_balance] > 0 -%>
        $<%= f.text_field :gift_card_payment, :value => number_with_precision(@order.gift_card_payment, :precision => 2) %>
        <%- else -%>
        $<%= f.text_field :gift_card_payment, :value => number_with_precision(@order.gift_card_payment, :precision => 2), :disabled => "disabled", :style => 'background-color:#DDD;' %>
        <%- end -%>
      </li>
      <li class="odd">
        <label>Take From my Account:</label> 
        <%- if logged_in? && current_user.balance > 0 -%>
        $<%= f.text_field :account_balance_payment, :value => number_with_precision(@order.account_balance_payment, :precision => 2) %>
        <%- else -%>
        $<%= f.text_field :account_balance_payment, :value => number_with_precision(@order.account_balance_payment, :precision => 2), :disabled => "disabled", :style => 'background-color:#DDD;' %>
        <%- end -%>
      </li>
      <%- if pledge_account -%>
        <%= render :partial => "pledge_account", :locals => {:pledge_account => pledge_account, :f => f} %>
      <%- end -%>
      <li class="odd">
        <label>Put on My Credit Card:</label> 
        $<%= f.text_field :credit_card_payment, :value => number_with_precision(@order.credit_card_payment, :precision => 2) %>
      </li>
      <%- if logged_in? && current_user.cf_admin? -%>
        <li class="event">
          <label>Offline Fund Payment:</label> 
          $<%= f.text_field :offline_fund_payment, :value => number_with_precision(@order.offline_fund_payment, :precision => 2) %>
        </li>
      <%- end -%>
      <li style="display:none;" id="paymentrequiredfield"><label>Payment still required:</label> $<%= text_field_tag :payment_required, number_to_currency(@order.total), :style => 'border:0;', :disabled => "disabled" %></li>
      <li style="display:none;" id="totalfield"><label>Total Paid:</label> $<%= text_field_tag :total, number_to_currency(0), :style => 'border:0;', :disabled => "disabled" %></li>
    </ol>
  </fieldset>
</div>
<div class="checkoutbuttons clearfix">
 <%= link_to image_tag("/images/dt/nav_elements/go_back_a_step.png", :alt => "Go Back a Step"), edit_dt_checkout_path(:step => "support") %>
 <%= image_submit_tag "/images/dt/nav_elements/proceed_to_step_2.png", :alt => 'Proceed to Step 2' %>
</div>
<% end %>

<%- content_for :sidebar do -%>
  <h2><%= link_to "My Cart", dt_checkout_path, :method => :delete %></h2>
  <%= render :file => "dt/cart/sidebar" %>  
  <%= render :file => "dt/accounts/profile_sidebar" %>  
  <%= render :partial => 'dt/checkouts/verisign' %>
<%- end -%>

<% content_for :google_analytics_path do %>/checkout/payment.html<% end %>
