<%- content_for :head do -%>
<%= stylesheet_link_tag 'dt/cart' %>
<%= javascript_include_tag "dt/checkout" %>
<%- end -%>
<%- content_for :html_title do -%>Checkout &ndash; Step 2 of 3<%- end -%>
<%- content_for :nav do -%><%= checkout_nav %><%- end -%>

<h2>Step 2 of 3 - Payment Details</h2>

<%= error_messages_for "order" %>
<% form_for(:order, :url => dt_checkout_path, :html => {:id => "paymentform", :name => "paymentform", :method => :put}) do |f| %>
<%= hidden_field_tag "step", "payment" %>
<div class="userform">

  <%= render :partial => 'dt/shared/form_requirednote', :locals => { :style => 'margin-bottom:0px;' } %>
 
  <% if Project.cf_admin_project %>
  <fieldset>
    <legend>100% of your funds go to the project(s) you select</legend>

    <p>We spend over 3% on each transaction. Would you like to help cover our costs?</p>
    <ol>
      <li>
        <fieldset>
          <ol>
            <li>
              <label class="left"><%= radio_button_tag "fund_cf", nil, false, :onchange => "if(this.checked){$('fund_cf_amount_field').hide();$('fund_cf_amount').value='';}" %> Not this time</label>
              <label class="left"><%= radio_button_tag "fund_cf", "percent", false, :onchange => "if(this.checked){$('fund_cf_amount_field').show();$('fund_cf_dollars_symbol').hide();$('fund_cf_percent_symbol').show();}" %> Add a percentage to my investment</label>
              <label class="left"><%= radio_button_tag "fund_cf", "dollars", (@cart.cf_investment ? true : false), :onchange => "if(this.checked){$('fund_cf_amount_field').show();$('fund_cf_percent_symbol').hide();$('fund_cf_dollars_symbol').show();}" %> Add a specific a dollar amount</label>
            </li>
          </ol>
        </fieldset>
      </li>
      <li id="fund_cf_amount_field"><label><%= form_required %>Amount <span id="fund_cf_percent_symbol" style="display:none;">%</span><span id="fund_cf_dollars_symbol" style="display:none;">$</span></label> <%= text_field_tag "fund_cf_amount", (@cart.cf_investment ? @cart.cf_investment.amount : nil) %></li>
    </ol>
  </fieldset>
  <% end %>
  
  <fieldset>
    <%= render :partial => 'dt/shared/form_requirednote', :locals => { :style => 'margin-bottom:0px;' } %>
    <legend>Payment Details</legend>
    <% if logged_in? and current_user.balance > 0 %>
    <p class="clearfix">Please enter your payment details below. Since you have an account with ChristmasFuture you have the option of paying from your ChristmasFuture account balance, which is currently <strong><%= logged_in? ? number_to_currency(current_user.balance) : number_to_currency(0) %></strong>. Any deposits to your account must be paid on your credit card</p>
    
    <h5>Payment</h5>
    <ol>
      <li><label class="left"><em>Your Current Account Balance:</em> <%= current_user.balance ? number_to_currency(current_user.balance) : number_to_currency(0) %><%= hidden_field_tag :account_balance, (current_user.balance ? current_user.balance : 0), :id => 'account_balance' %></label></li>
    </ol>
    <ol class="clearfix" id="payment">
      <li class="odd"><label>Cart Total:</label> <%= number_to_currency(@cart.total) %><%= hidden_field_tag :total, @cart.total, :id => 'cart_total' %></li>
      <li><label>Take From my Account:</label> <%= f.text_field :account_balance_total %></li>
      <li class="odd"><label>Put on My Credit Card:</label> <%= f.text_field :credit_card_total %></li>
      <li style="display:none;" id="totalfield"><label>Total Paid:</label> <%= text_field_tag :total, number_to_currency(0), :style => 'border:0;', :onfocus => "blur();" %></li>
    </ol>
    <% else %>
    <%= f.hidden_field :credit_card_total %>
    <% end %>

    <div id="credit_card_details">
      <h5>Credit Card Details</h5>
      <div class="notes">
        <h5>Credit Card Details</h5>
        <p>We do <strong>not</strong> store your credit card.</p>
      </div>
      <% if logged_in? and current_user.balance > 0 %>
      <p>You must pay for deposits to your personal account from a credit card and not from your balance.</p>
      <% else %>
      <p>A total of <strong><%= number_to_currency(@cart.total) %></strong> will be charged to your credit card (plus any amount you've chosen to give directly to Christmas Future above)</p>
      <% end %>
      <ol class="clearfix">
        <li><label for="order_credit_card"><%= form_required %>Credit Card</label> <%= f.text_field :credit_card, :maxlength => 18 %></li>
        <li>
          <label for="order_csc"><%= form_required %>Card Security Number</label> <%= f.text_field :csc, :maxlength => 5 %>
          <div class="note">This is final 3 digits on the back of your card. For AMEX: 4 digits on the front of the card.</div>
        </li>
        <li><label for="order_expiry_month"><%= form_required %>Card Expiry</label> 
          <div id="card_expiry">
          <%= f.select("expiry_month", expiry_months, { :include_blank => true }, { :style => 'width:auto;' }) -%>
          / 
          <%= f.select("expiry_year", expiry_years, { :include_blank => true }, {:style => 'width:auto;' }) %> 
          </div>
        </li>
        <li><label for="order_cardholder_name"><%= form_required %>Cardholder Name</label> <%= f.text_field :cardholder_name %></li>
      </ol>
    </div>
  </fieldset>
</div>
<div class="checkoutbuttons clearfix">
  <div class="buttonsubmit"><%= link_to "&laquo; Go Back a Step", edit_dt_checkout_path, :class => "large" %></div>
  <%= submit_tag 'Proceed to Step 3 &raquo;', :class => 'buttonsubmit' %>
</div>
<% end %>

<%- content_for :sidebar do -%>
  <h2>Your Cart</h2>
  <%= render "dt/cart/sidebar" %>  
  <%= render "dt/accounts/profile_sidebar" %>  
  <%= render :partial => 'dt/checkouts/verisign' %>
<%- end -%>