<%- content_for :head do -%>
  <%= stylesheet_link_tag "dt/cart" %>
  <%= javascript_include_tag "dt/checkout" %>
<%- end -%>
<%- content_for :html_title do -%>Checkout<%- end -%>
<%- content_for :nav do -%><%= checkout_nav %><%- end -%>

<h2>Step 2 of 4 - Payment Details</h2>

<%= error_messages_for :order %>
<% form_for(:order, :url => dt_checkout_path, :html => {:id => "paymentform", :name => "paymentform", :method => :put}) do |f| %>
<%= hidden_field_tag "step", "payment" %>
<div class="userform">
  <%= render :partial => 'dt/shared/form_requirednote', :locals => { :style => 'margin-bottom:0px;' } %>
  <fieldset>
    <legend>Payment Details</legend>

    <p>
      Please enter your payment details below. 
      <% if account_payment? %>Since you have an account with ChristmasFuture you can pay from your account balance, which is currently <strong><%= logged_in? ? number_to_currency(current_user.balance) : number_to_currency(0) %></strong>.<% end %>
      Deposits to your account must be paid on your credit card<%= " or gift card" if gift_card_payment? %>.
    </p>
    <ol>
      <% if gift_card_payment? %>
        <li>
          <label class="left" style="font-style:italic;">
            Your Current Gift Card Balance: <%= number_to_currency(session[:gift_card_balance]) %>
          </label>
        </li>
      <% end %>
      <% if account_payment? %><li><label class="left" style="font-style:italic;">Your Current Account Balance: <%= number_to_currency(current_user.balance) %><%= hidden_field_tag :account_balance, current_user.balance %></label></li><% end %>
      <% if minimum_credit_payment = @order.minimum_credit_payment(@cart.items) %>
        <% if !gift_card_payment? %>
          <li>
            <label class="left" style="font-style:italic;">Your minimum Credit Card payment: <%= number_to_currency(minimum_credit_payment) %></label>
            <div class="note" style="margin-left:0;">You must pay at least this amount from your credit card to pay for your cart balance.</div>
          </li>
        <% end %>
      <% end %>
    </ol>
    <ol class="clearfix" id="payment">
      <li class="odd"><label>Cart Total:</label> <%= number_to_currency(@cart.total) %><%= hidden_field_tag :cart_total, @cart.total, :id => 'cart_total' %></li>
      <li>
        <label>Take From my Gift Card:</label> 
        <%- if session[:gift_card_balance] && session[:gift_card_balance] > 0 -%>
        $<%= f.text_field :gift_card_payment, :value => number_with_precision(@order.gift_card_payment, 2) %>
        <%- else -%>
        $<%= f.text_field :gift_card_payment, :value => number_with_precision(@order.gift_card_payment, 2), :disabled => "disabled", :style => 'background-color:#DDD;' %>
        <%- end -%>
      </li>
      <li>
        <label>Take From my Account:</label> 
        <%- if logged_in? && current_user.balance > 0 -%>
        $<%= f.text_field :account_balance_payment, :value => number_with_precision(@order.account_balance_payment, 2) %>
        <%- else -%>
        $<%= f.text_field :account_balance_payment, :value => number_with_precision(@order.account_balance_payment, 2), :disabled => "disabled", :style => 'background-color:#DDD;' %>
        <%- end -%>
      </li>
      <li class="odd">
        <label>Put on My Credit Card:</label> 
        $<%= f.text_field :credit_card_payment, :value => number_with_precision(@order.credit_card_payment, 2) %>
      </li>
      <li style="display:none;" id="paymentrequiredfield"><label>Payment still required:</label> $<%= text_field_tag :payment_required, number_to_currency(@order.total), :style => 'border:0;', :disabled => "disabled" %></li>
      <li style="display:none;" id="totalfield"><label>Total Paid:</label> $<%= text_field_tag :total, number_to_currency(0), :style => 'border:0;', :disabled => "disabled" %></li>
    </ol>
  </fieldset>

  <% if !@order.user_id && !logged_in? %>
  <fieldset class="clearfix" id="checkout_create_account">
    <legend>Create an Account?</legend>
    <p>A ChristmasFuture account allows you to:</p>
    <ul>
      <li>track your giving history over time and your impact in the world</li>
      <li>access your tax receipts and printable gift cards online</li>
      <li>resend gifts to alternate email addresses</li>
      <li>save information preferences, so you don&rsquo;t have to re-enter it next time!</li>
      <li>join a group with people who are interested in the same projects and causes that you are</li>
      <li>conveniently track projects you have supported in one place </li>
      <li>create a &ldquo;projects wishlist&rdquo; and more!</li>
    </ul>

    <ol>
      <li><label class="left"><%= check_box_tag :create_account, "1", (params[:create_account] ? true : false), :onchange => "if(this.checked){$('password_entry').show();}else{$('password_entry').hide();}" %> Yes, I want to create an account on ChristmasFuture&rsquo;s website</label></li>
    </ol>
    <div id="password_entry" style="display:none;">
      <ol>
        <li><label for="password" style="width:120px;">Password</label> <%= password_field_tag :password, nil, :id => 'password' %></li>
        <li><label for="password_confirmation" style="width:120px;">Confirm Password</label> <%= password_field_tag :password_confirmation, nil, :id => 'password_confirmation' %></li>
        <li>
          <fieldset>
            <legend>Terms of Service</legend>
            <ol>
              <li class="left"><%= check_box_tag :terms_of_use %> I have read the <a href="/terms-of-use" rel="blank">terms of use</a> and agree</li>
            </ol>
          </fieldset>
        </li>
    </ol>
    </div>
  </fieldset>
  <% end %>
</div>
<div class="checkoutbuttons clearfix">
  <div class="buttonsubmit"><%= link_to "&laquo; Go Back a Step", edit_dt_checkout_path(:step => "support"), :class => "large" %></div>
  <%= submit_tag 'Proceed to Step 3 &raquo;', :class => 'buttonsubmit' %>
</div>
<% end %>

<%- content_for :sidebar do -%>
  <h2><%= link_to "My Cart", dt_checkout_path, :method => :delete %></h2>
  <%= render "dt/cart/sidebar" %>  
  <%= render "dt/accounts/profile_sidebar" %>  
  <%= render :partial => 'dt/checkouts/verisign' %>
<%- end -%>

<% content_for :google_analytics_path do %>/checkout/payment.html<% end %>
