<% content_for :top_content do %>
  <div class="clearfix prepend-top" style="position:relative;">
    <div class="span-16 prepend-2 last">
      <img src="/images/give/icon-cash_register.png" width="93" height="79" alt="">
    </div>
  </div>
<% end %>

<% html_title("Checkout Receipt") %>
<%= checkout_nav %>

<!-- this is to get around a really odd webkit bug -->
<div>&nbsp;</div>

<div class="clearfix">
  <div class="span-10">
    <p><strong>Do you work for a company that does donation-matching?</strong><br> Double your impact by letting them know about this donation. Thanks!</p>
  </div>

  <div class="span-4 last">
    <%= render 'iend/authentications/authentications' %>
  </div>
</div>

<%= render :partial => "order_summary" %>

<% if @order.tax_receipt %>
  <h2 class="">Tax Receipt</h2>
  <div class="clearfix">
    <p>A tax receipt has been emailed to you. You can <%= link_to "download a duplicate tax receipt", tax_receipt_path(@order.tax_receipt, @order.tax_receipt.view_code, :format => :pdf) %> right here.</p>
  </div>
<% end %>

<%= render :partial => "upowered_share" %>

<% #if logged_in? && current_user.authentications.facebook.present? %>
  <div class="sharing">
    <h2>Facebook</h2>
    <% if @order.gifts.present? %>
      <%= render :partial => 'dt/facebook_posts/form', :locals => { :message => "I just gave a gift that will help end extreme poverty. Pretty cool, right? See how you can give a UEnd:Poverty gift card too\n#{root_url(:protocol => 'http://')}"} %>
    <% elsif @order.gift_card_payment? %>
      <%= render :partial => 'dt/facebook_posts/form', :locals => { :message => "I just got a UEnd:Poverty giftcard – now what poverty-ending project should I invest it in?\n#{root_url(:protocol => 'http://')}"} %>
    <% else %>
      <%= render :partial => 'dt/facebook_posts/form', :locals => { :message => "I just contributed to one of over 50 active poverty-ending projects with UEnd:Poverty – feels pretty great!\n#{root_url(:protocol => 'http://')}"} %>
    <% end %>
  </div>
<% #end %>

<% if @order.is_registration then %>
  <%= render :partial => 'thanks_registration' %>

<% elsif @directed_gift %>
  <%= render :partial => 'thanks_directed' %>
<% elsif @order.pledges.size > 0 %>
  <%= render :partial => 'thanks_pledge' %>
<% else %>
  <%= render :partial => 'thanks_general' %>
<% end %>

<% unless @order.gifts.empty? %>
  <%= link_to "Buy Another Gift", new_dt_gift_path, :class => "smallbutton" %>
  <div class="clear"></div>
  <h2>Gift(s)</h2>
  <p>Your gift emails have been scheduled to be sent. The printable ecard(s) have been sent to you via email, but you can also download your printable ecard(s) here.</p>

  <% for gift in @order.gifts %>
    <div class="clearfix">
      <h3>Your gift to <%=h gift.to_name %> <%=h gift.to_email %></h3>
      <blockquote style="margin-bottom:1em;">
        <strong>Your message:</strong> <%=h gift.message %>
      </blockquote>
      <div><%= link_to "Download Printable Card", formatted_dt_gift_path(gift, :pdf, :code => gift.pickup_code), :class => "large" %></div>
    </div>
  <% end %>

<% end %>

<% content_for :google_analytics_path do %>/checkout/complete.html<% end %>
