<%- content_for :html_title do -%>Checkout Complete!<%- end -%>

<% if !logged_in? || current_user.authentications.facebook.count == 0 %>
<div class="facebooklogin">
  <div class="img"><%= link_to image_tag('dt/authentications/facebook_24.png', :size => "24x24", :alt => ""), '/dt/auth/facebook' %></div>
  <%= link_to (logged_in? ? 'Connect via facebook' : 'Login with facebook'), '/dt/auth/facebook' %>
</div>
<% end %>
<%= render :partial => 'dt/facebook_posts/form' %>


<%= render :partial => "order_summary" %>

<% if @order.is_registration then %>
<p>
You have successfully joined 
<%= link_to(@order.registration_fee.participant.campaign.name, dt_campaign_path(@order.registration_fee.participant.campaign)) %>
. This fee will be used to support costs associated with running 
<%= link_to(@order.registration_fee.participant.campaign.name, dt_campaign_path(@order.registration_fee.participant.campaign)) %> 
and this website.<br />
<br />
Click here to return to the 
<%= link_to(@order.registration_fee.participant.campaign.name, dt_campaign_path(@order.registration_fee.participant.campaign)) %>
homepage.
</p>

<% elsif @directed_gift %>
  <%- content_for :page_title do -%>Thank you for helping to end extreme poverty.<%- end -%>
  <p>You just gave <strong><%= number_to_currency(@order.total) %></strong> to <strong><%= link_to @project.name, dt_project_path(@project) %></strong>! Thank you.</p>
  
  <a href="/dt/tell_friends/new?project_id=<%=@project.id%>"><img src="/images/dt/buttons/tellFriend_lgrey2.gif"></a>

  <% if @order.investments.find(:first, :conditions => {:project_id => Project.admin_project.id}) %>
  <p>We also thank you for supporting the Uend: Foundation directly!</p>
  <% end %>

  <% if !@order.is_registration %>
    <p>You can now return to the <%= link_to "Homepage", "/dt/" %> or download any item(s) that you may have below.</p>
  <% end %>

<% elsif @order.pledges.size > 0 %>
  <p>
    Thank you for supporting 
    <%- if @order.pledges.size == 1 -%>
      <%= @order.pledges.first.participant.user.full_name %>.
    <%- else -%>
      <% 
        participants = @order.pledges.map(&:participant)
        last_participant = participants.pop
        @participant_list = participants.map{|p| p.user.full_name}.join(", ")
        @participant_list += "and #{last_participant.user.full_name}"
      %>
      <%= @participant_list %>.
    <%- end -%>
    100% of your <%= number_to_currency(@order.total) %> donation will go to development projects that are making lasting and sustainable change in people's lives.
  </p>
  <% if @order.investments.find(:first, :conditions => {:project_id => Project.admin_project.id}) %>
  <p>We also thank you for supporting the Uend: Foundation directly!</p>
  <% end %>

  <p>You can now return to <%= link_to @order.pledges.first.participant.team.campaign.name, dt_campaign_path(@order.pledges.first.participant.team.campaign) %> or download any item(s) that you may have below.</p>
<% else %>
  <%- content_for :page_title do -%>Thank you for helping to change the world.<%- end -%>
  <p>Extreme poverty can end in our lifetime. Your choice to refocus <strong><%= number_to_currency(@order.total) %></strong> to development projects will help make lasting and sustainable change in people's lives.</p>

  <% if @order.investments.find(:first, :conditions => {:project_id => Project.admin_project.id}) %>
  <p>We also thank you for supporting the Uend: Foundation directly!</p>
  <% end %>

  <% if !@order.is_registration %>
    <p>You can now return to the <%= link_to "Homepage", "/dt/" %> or download any item(s) that you may have below.</p>
  <% end %>
<% end %>


<% if @order.tax_receipt %>
<h2>Tax Receipt</h2>

<div class="clearfix">
  <p>A tax receipt has been emailed to you. You can also download a duplicate tax receipt right here.</p>
  <div><%= link_to "Download Tax Receipt", dt_tax_receipt_path(@order.tax_receipt, @order.tax_receipt.view_code, :format => :pdf), :class => "large" %></div>
</div>
<% end %>

<% unless @order.gifts.empty? %>
  <h2>Gift(s)</h2>
  <p>Your gift emails have been scheduled to be sent. The printable ecard(s) have been sent to you via email, but you can also download your printable ecard(s) here.</p>

  <% for gift in @order.gifts %>
    <div class="clearfix">
      <h3>Your gift to <%=h gift.to_name %> <%=h gift.to_email %></h3>
      <blockquote style="margin-bottom:1em;">
        <strong>Your message:</strong> <%=h gift.message %>
      </blockquote>
      <div><%= link_to "Download Printable Card", formatted_dt_gift_path(gift, :pdf, :code => gift.pickup_code), :class => "large" %></div>
    </div>
  <% end %>
<% end %>

<% content_for :google_analytics_path do %>/checkout/complete.html<% end %>
