<% html_title("#{@user.first_name} #{@user.last_name}") %>

<h1><%= "#{image_tag(@user.image.url, :alt => '') if @user.image?} #{@user.first_name} #{@user.last_name}" %></h1>
<p><strong>Location: <%= [@user.city, @user.province, @user.country].compact.join(', ') %></strong></p>

<%= iend_user_nav %>

<div class="clearfix">
  <%= render "iend/shared/private_sidebar" %>


  <div class="span-10 last">
    <%= render "iend/shared/public_profile_nav" %>
    
    <h2 style="margin-left:12px;">Projects</h2>
    <!-- paging goes here -->
    <div class="span-9 prepend-1 pageshadow-10 last">
      <div class="clearfix" id="projects">
      <% @user.projects_funded.each_with_index do |project, i| %>
        <div class="span-4 append-bottom<%= ' last' if (i+1)%2 == 0 %>">
          <%= render :partial => 'dt/projects/project', :locals => { :project => project } %>
        </div>
      <% end %>
      </div>
      
      <% if logged_in? && current_user.authentications.facebook.present? || true == true %>
        <div class="sharing">
          <h2>Facebook</h2>
          <%= render :partial => 'dt/facebook_posts/form', :locals => { :message => "I’m all set up with a profile on UEnd.org and joining a group of people helping end poverty around the world…here I go!\n#{root_url(:protocol => 'http://')}", :cols => 45 } %>
        </div>
      <% end %>
      
    </div>
  </div>
  
</div>
