<div id="staff-<%= user.id %>" class="staff_user">
  <b class="rtop">
    <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"</b>
  </b>
  <div class="staff_user_content clearfix">
    <div class="user_details">
      <div class="user_name"><%= user.name %></div>
      <div class="user_title"><%= user.title %></div>
      <div class="user_bio"><%= RedCloth.new(sanitize(user.bio)).to_html if user.bio %></div>
      <%- if user.twitter -%>
      <div class="user_twitter">Twitter: <a href="<%= user.twitter %>"><%= user.twitter %></a></div>
      <%- end -%>
      <%- if user.facebook -%>
      <div class="user_facebook">Facebook: <a href="<%= user.facebook %>"><%= user.facebook %></a></div>
      <%- end -%>

    </div>
    <div class="user_picture_normal"><%= image_tag(user.picture.url(:normal)) if user.picture %></div>
  </div>
  <b class="rbottom">
  <b class="r4"></b> <b class="r3"></b> <b class="r2"></b> <b class="r1"></b>
  </b>
</div>