<%-
title = user[:title]
staff_user = user[:user]
-%>
<div class="staff_user">
  <b class="rtop">
    <b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"</b>
  </b>
  <div class="staff_user_content clearfix">
    <%- if staff_user.blank? -%>
      <div class="user_details">
        <div class="user_name">TBD</div>
        <div class="user_title">
          <%= title %>
        </div>
      </div>
      <div class="user_picture_normal"><%= image_tag("/images/dt/icons/users/normal/tbd.png") %></div>
    <%- else -%>
      <div class="user_details">
        <div class="user_name"><%= staff_user.full_name %></div>
        <div class="user_title"><%= staff_user.title %></div>
        <div class="user_bio"><%= RedCloth.new(sanitize(staff_user.bio)).to_html if staff_user.bio %></div>
        <%- if staff_user.twitter -%>
          <div class="user_twitter">Twitter: 
          <%= 
            if staff_user.twitter.slice(0,4) == 'http'
              twitter_link = staff_user.twitter
            else
              twitter_link = "http://twitter.com/#{staff_user.twitter.gsub(/^@/, '')}"
            end
            link_to(twitter_link, twitter_link, :target => "_blank")
          %>
          </a></div>
        <%- end -%>
        <%- if staff_user.facebook -%>
          <div class="user_facebook">Facebook: <%= link_to( staff_user.facebook, staff_user.facebook, :target => "_blank") %></div>
        <%- end -%>
      </div>
      <div class="user_picture_normal"><%= image_tag(staff_user.image.url(:normal)) if staff_user.image? %></div>
    <%- end -%>
  </div>
  <b class="rbottom">
  <b class="r4"></b> <b class="r3"></b> <b class="r2"></b> <b class="r1"></b>
  </b>
</div>