<%- content_for :html_title do %><%= h @group.name %><% end -%>
<%- content_for :nav do %><%= dt_get_involved_nav %><% end -%>


<%= dt_group_nav %>


    <h2>Group Description</h2>
	  <div class="columns content-quickfacts">
	    <div class="left">
        <ul>
          <% if !@group.founder.nil? %><li><strong>Founder:</strong> <%= @group.founder.name %></li><% end %>
          <% if !@group.created_at.nil? %><li><strong>Start Date:</strong> <%= @group.created_at.to_date.to_s :long %></li><% end %>
          <li>&nbsp;</li>
          <li><strong>Group Status:</strong> <%= @group.private? ? 'Private' : 'Public' %></li>
          <li><strong>Total Invested:</strong> <%= number_to_currency(@group.raised) %></li>
        </ul>
      </div>
      <div class="left">
        <ul>
          <li><strong>Number of Members:</strong> <%= @group.memberships.size %></li>
          <% if @group.place? %><li><strong>Location:</strong> <%= @group.place %></li><% end %>
          <li><strong>Total Group Projects:</strong> <%= @group.projects.size %></li>
          <li><strong><span style="text-transform:none;">Cause(s):</span></strong> <%= group_causes(@group) %></li>
        </ul>
      </div>
    </div>

    <%= error_messages_for :group %>
    <div class="userform">
    <% form_for(:group, :url => dt_groups_path, :html => { :id => 'groupform', :name => 'groupform' }) do |f| %>
      <fieldset id="groupInfo">
  			<legend>Update your group information </legend>
  			<ul class="row" style="padding-top:10px; padding-bottom:10px;">
  				<li class="textsm" style="margin-bottom:4px; "><%= f.radio_button :private, 0, :style => "border:none; padding:0; margin-right:3px;" %> Public Group - Choose to reveal group to public.</li>
  				<li class="textsm" style="margin-bottom:4px; "><%= f.radio_button :private, 1, :style => "border:none; padding:0; margin-right:3px;" %> Private Group - Choose to hide group from public view.</li>
  				<li><label for="group_name"><%= render :partial => 'dt/shared/form_required' %>Group name</label><%= f.text_field :name, :style => 'width:340px;' %></li>
  				<!--<li><label for="group_location" >Group Location</label><input name="group[location]" type="text" id="group_location"  style="width:340px; margin-right:5px; " size="30"/></li>-->
          <li><label for="group_group_type">Group Type</label> <%= collection_select :group, :group_type_id, group_types, :id, :name, { :include_blank => true } %></li>
  			</ul>
  		</fieldset>

      <fieldset id="groupDescription">
        <legend>Update your Group Description</legend>
        <ul class="row">
          <li><label for="group_description">Group Description</label><%= f.text_area :description, :rows => 8, :cols => 30 %></li>
        </ul>
      </fieldset>

      <fieldset id="groupLocation">
        <legend>Update your Group Location</legend>
        <ul class="row" style="padding-top:10px; padding-bottom:10px;">
          <li><label for="group_city">City/Town</label><%= f.text_field :city %></li>
          <li><label for="group_province">Province/State</label><%= f.text_field :province %></li>
          <li><label for="group_country">Country</label><%= f.select :country, country_select_options %></li>
        </ul>
      </fieldset>
      
      <%= submit_tag "Update Group", :class => 'buttonsubmit' %>
    <% end %>
    </div>
  <% content_for :sidebar do %>
	  <%= dt_profile_sidebar %>
  <% end %>