<div id="subnav">
  <ul>
    <li<%= ' class="current"' if params[:controller] == 'dt/groups' && params[:action] == 'show' %>><%= link_to "Group Overview", dt_group_path(@group) %></li>
    <li<%= ' class="current"' if params[:controller] == 'dt/group_projects' && params[:action] == 'index' %>><%= link_to "Group Projects", dt_group_group_projects_path(@group) %></li>
    <li<%= ' class="current"' if params[:controller] == 'dt/groups/memberships' %>><%= link_to "Members", dt_group_memberships_path(@group) %></li>
    <li<%= ' class="current"' if params[:controller] == 'dt/groups/news' %>><%= link_to "Group News", dt_group_messages_path(@group) %></li>
  </ul>
</div>  

