<%- content_for :html_title do -%>Create Group<%- end -%>
<%- content_for :nav do -%><%= dt_get_involved_nav %><%- end -%>

    <p>Connect with other people in your own city or from across the world who have chosen to help eradicate extreme poverty. Share your concern for specific projects, developing communities, or implementing organizations. By creating a group, you can invite others to join in the projects and communities that you are interested in.</p>
    <%= error_messages_for :group %>
    <div class="userform">
    <% form_for(:group, :url => dt_groups_path, :html => { :id => 'groupform', :name => 'groupform' }) do |f| %>
      <fieldset id="groupInfo">
  			<legend>Please enter your group information </legend>
  			<ol class="row" style="padding-top:10px; padding-bottom:10px;">
  				<li class="textsm" style="margin-bottom:4px; "><label for="group_private_0" class="left"><%= f.radio_button :private, 0, :style => "border:none; padding:0; margin-right:3px;" %> Public Group - Choose to reveal group to public.</label></li>
  				<li class="textsm" style="margin-bottom:4px; "><label for="group_private_1" class="left"><%= f.radio_button :private, 1, :style => "border:none; padding:0; margin-right:3px;" %> Private Group - Choose to hide group from public view.</label></li>
  				<li><label for="group_name"><%= render :partial => 'dt/shared/form_required' %>Group name</label><%= f.text_field :name, :style => 'width:340px;' %></li>
  				<!--<li><label for="group_location" >Group Location</label><input name="group[location]" type="text" id="group_location"  style="width:340px; margin-right:5px; " size="30"/></li>-->
          <li><label for="group_group_type">Group Type</label> <%= collection_select :group, :group_type_id, group_types, :id, :name, { :include_blank => true } %></li>
  			</ol>
  		</fieldset>

      <fieldset id="groupDescription">
        <legend>Enter your Group Description</legend>
        <ol class="row">
          <li><label for="group_description">Group Description</label><%= f.text_area :description, :rows => 8, :cols => 30 %></li>
        </ol>
      </fieldset>

      <fieldset id="groupLocation">
        <legend>Enter your Group Location</legend>
        <ol class="row" style="padding-top:10px; padding-bottom:10px;">
          <li><label for="group_city">City/Town</label><%= f.text_field :city %></li>
          <li><label for="group_province">Province/State</label><%= f.text_field :province %></li>
          <li><label for="group_country">Country</label><%= f.select :country, country_select_options %></li>
        </ol>
      </fieldset>

      
      <%= submit_tag 'Create Group', :class => 'buttonsubmit' %>
      <%= hidden_field_tag(:project_id, params[:project_id]) if params[:project_id] %>
    <% end -%>
    </div>

    <% content_for :sidebar do %>
      <%= dt_profile_sidebar %>
    <% end -%>