<ul>
	<li><%= link_to "Carts", bus_admin_custom_report_carts_path %></li>
	<li><%= link_to "Gift Cards", bus_admin_custom_report_gift_cards_path %></li>
	<li><%= link_to "Gift Card Tips", bus_admin_custom_report_gift_card_tips_path %></li>
	<li><%= link_to "Profiles", bus_admin_custom_report_profiles_path %></li>
	<li><%= link_to "Projects", bus_admin_custom_report_projects_path %></li>
	<li><%= link_to "u:powered", bus_admin_custom_report_upowereds_path %></li>
	<li><%= link_to "u:powered Subscriptions", bus_admin_custom_report_upowered_subscriptions_path %></li>
</ul>