<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<title><%= (html_title = yield :html_title) ? html_title + " | " : '' %>ChristmasFuture Causes</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<%= stylesheet_link_tag 'dt/master.css' %>
<%= stylesheet_link_tag 'dt/navigation.css' %>
<!--[if lt IE 7]><%= stylesheet_link_tag 'dt/ie.css' %><![endif]-->
</head>
<%- body_id = yield :body_id -%>
<body<%= " id=\"#{body_id}\"" if body_id %>>
  <%- sidebar = yield :sidebar -%>
  <%- page_title = yield :page_title -%>
  <%- page_title = html_title if page_title.nil? || page_title.empty? -%>
<div id="container">
  <div id="main"> 
    <div id="content">
      <div id="header" class="clearfix">
        <div id="logo" style="left:15px;" class="clearfix"><a href="/"><img src="/images/dt/brand_elements/cf_headerlogo.gif" width="203" height="50" alt="ChristmasFuture - Change the world&hellip;for good" /></a></div>
      </div>
      <div id="contentcontainer">
        <div id="content-plain<%= "wide" unless sidebar %>-wrapper">
          <div id="content">
            <h1><%= page_title %></h1>
            <%= yield %>
          </div>
        </div>

        <%- if sidebar -%>
        <div id="sidebar-plain-wrapper">
          <div id="sidebar">
            <%= sidebar %>
          </div>
        </div>
        <%- end -%>
      </div>
    </div>
  </div>
</div>
</body>
</html>
