<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<title><%= (html_title = yield :html_title) ? html_title + " | " : '' %>Uend: Causes</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<%= stylesheet_link_tag 'dt/master.css' %>
<%= stylesheet_link_tag 'dt/navigation.css' %>
<!--[if lt IE 7]><%= stylesheet_link_tag 'dt/ie.css' %><![endif]-->
</head>
<%- body_id = yield :body_id -%>
<body<%= " id=\"#{body_id}\"" if body_id %>>
  <%- sidebar = yield :sidebar -%>
  <%- page_title = yield :page_title -%>
  <%- page_title = html_title if page_title.nil? || page_title.empty? -%>
<div id="container">
  <%= render :file => "dt/shared/head" %>

  <div id="contentcontainer" class="clearfix">
    <h1 id="pagetitle"><%= page_title %></h1>
    <div id="content<%= "wide" unless sidebar %>-wrapper">
      <div id="content">
        <%= yield %>
      </div>
    </div>
  
    <%- if sidebar -%>
    <div id="sidebar-wrapper">
      <div id="sidebar">
        <%= sidebar %>
      </div>
    </div>
    <%- end -%>
  </div>
</div>
</body>
</html>
