<% long_view ||=  false %>
<% if not participant.pending?%>
	<% if long_view %>
		<div id="participant_<%= participant.id %>"  class="<%= cycle('row_even','row_odd') %> participant_long_view clearfix" style="min-height:60px;">
			<div class="participant_long_display_picture">
				<%= image_tag participant.picture.thumb.url, :class => :participant_thumbnail unless participant.picture == nil %>
				<%= image_tag 'dt/icons/participant_placeholder_icon_48x48.jpg', :class => :participant_thumbnail unless participant.picture != nil %>
			</div>
			<%= link_to image_tag("/images/dt/buttons/sponsor_participant.png", :alt => "Sponsor this Participant", 
						:title => "Sponsor this Participant"), new_dt_participant_pledge_path(participant), :style => "float:right;" unless controller.action_name == "search" %>
			<div class="participant_details">
				<span class="campaign-item-list" style="{font-weight: bold}">
					<strong><%= link_to participant.name, dt_participant_path(participant) %></strong>
					<%= " - <span class='dollars-raised'>#{participant.funds_raised} dollars raised! </span>" if participant.funds_raised > 0 %>
				</span>
			<% 
				participant_details = "Participant in #{link_to(participant.team.campaign.name, dt_campaign_path(participant.team.campaign))} (no team affiliation)"
				if participant.user == participant.team.leader
					if participant.team.generic?
						participant_details = "Campaign Organizer of #{participant.team.campaign.name}"
					else
						participant_details = "Team Leader of #{link_to(participant.team.name, dt_team_path(participant.team))}, a team in #{link_to(participant.team.campaign.name, dt_campaign_path(participant.team.campaign))}"
					end
				else
					if not participant.team.generic?
						participant_details = "Member of #{link_to(participant.team.name, dt_team_path(participant.team))}, a team in #{link_to(participant.team.campaign.name, dt_campaign_path(participant.team.campaign))}"
					end
				end
			%>
			</div>
			<div class="participant_details"><%= participant_details %></div>			
			<div class="participant_details"></div>
		</div>
	<% else %>
		<% if (!participant.pending && !participant.team.pending) || (controller.controller_name =="teams") %>
			<div id="participant_<%= participant.id %>"  class="<%= cycle('row_even','row_odd') %>">
				<span class="participant_list_view">
				  <p>
						<%= link_to participant.name, dt_participant_path(participant) %>
						<% if participant.team.generic? %>				
							<% if participant.user == participant.team.leader %>
								(Campaign Organizer)
							<% end %>
						<% else %>
							<% if controller.controller_name != 'teams' %>
								<%= participant.user == participant.team.leader ? "(Team Admin":"(Team Member" %>
								- <%= link_to(participant.team.name, dt_team_path(participant.team)) %>)
							<% else %>
								<%= participant.user == participant.team.leader ? "(Team Admin)":"(Team Member)" %>
							<% end %>
						<% end %>
						$ <%= participant.funds_raised %> raised.
					  <%= delete_icon(dt_participant_path(participant)) if (current_user!=:false && participant.funds_raised == 0 && (current_user.cf_admin? || participant.team.owned?) && participant.user != participant.team.leader) %>
					</p>
				</span>
			</div>
		<% end %>	
	<% end %>
<% end %>

