<% long_view ||=  false %>
<% if (not participant.nil?) && (not participant.pending? or participant.user == participant.team.leader or (logged_in? && current_user.cf_admin?) ) %>
	<% if long_view %>
		<div id="participant_<%= participant.id %>"  class="<%= cycle('row_even','row_odd') %> participant_long_view clearfix" style="min-height:60px;">
			<div class="participant_long_display_picture">
				<%= image_tag participant.image.url(:thumb), :class => :participant_thumbnail if participant.image? %>
				<%= image_tag 'dt/icons/participant_placeholder_icon_48x48.jpg', :class => :participant_thumbnail unless participant.image? %>
			</div>
			<%= link_to image_tag("/images/dt/buttons/sponsor_participant.png", :alt => "Sponsor this Participant", 
						:title => "Sponsor this Participant"), new_dt_participant_pledge_path(participant), :style => "float:right;" if controller.action_name != "search" && @can_sponsor_participant %>
      <% if participant.pending? %>
        (PENDING - <%= link_to("Click here to activate", dt_participant_path(participant) + "/activate") %>)
      <% end %>
			<div class="participant_details">
				<span class="campaign-item-list" style="font-weight: bold">
					<strong><%= link_to participant.name, dt_participant_path(participant) %></strong>
					<%= " - <span class='dollars-raised'>#{participant.funds_raised} dollars raised! </span>" if participant.funds_raised > 0 %>
				</span>
			<% 
				participant_details = "Participant in #{link_to(participant.team.campaign.name, dt_campaign_path(participant.team.campaign))} (no team affiliation)"
				if participant.user == participant.team.leader
					if participant.team.generic?
						participant_details = "Campaign Organizer of #{participant.team.campaign.name}"
					else
						participant_details = "Team Leader of #{link_to(participant.team.name, dt_team_path(participant.team))}, a team in #{link_to(participant.team.campaign.name, dt_campaign_path(participant.team.campaign))}"
					end
				else
					unless participant.team.generic?
						participant_details = "Member of #{link_to(participant.team.name, dt_team_path(participant.team))}, a team in #{link_to(participant.team.campaign.name, dt_campaign_path(participant.team.campaign))}"
					end
				end
			%>
			</div>
			<div class="participant_details"><%= participant_details %></div>			
			<div class="participant_details"></div>
		</div>
	<% else # list view %>
		<% if (!participant.pending && !participant.team.pending) || (controller.controller_name =="teams") %>
			<div id="participant_<%= participant.id %>"  class="<%= cycle('row_even','row_odd') %>">
			  <p>
				  <span class="participant_list_view">
						<%= link_to participant.name, dt_participant_path(participant) %>
						<% unless participant.active %>
							previously raised $ <%= participant.funds_raised %> while
							<% if participant.team.generic? %>
								not in a team.
							<% elsif controller.controller_name =="teams" %>
								in this team.
							<% else %>
								in <%= link_to(participant.team.name, dt_team_path(participant.team)) %>.
							<% end %>
						<% end %>
						<% if participant.active %>
							<% if participant.team.generic? %>				
								<% if participant.user == participant.team.leader %>
									(Campaign Organizer)
								<% end %>
							<% else %>
								<%= participant.user == participant.team.leader ? "(Team Admin" : "(Team Member" %>
								<% if controller.controller_name != 'teams' %>
									- <%= link_to(participant.team.name, dt_team_path(participant.team)) %>)
								<% else %> 
									)
								<% end %>
							<% end %>						
							$ <%= participant.funds_raised %> raised.
						<% end %>
					  <%= delete_icon(dt_participant_path(participant)) if (current_user != :false && participant.funds_raised == 0 && (current_user.cf_admin? || participant.team.owned?) && participant.user != participant.team.leader) %>
				  </span>
				</p>
			</div>
		<% end %>	    
	<% end %>
<% end %>
