<% long_view ||=  false %>
<% if not participant.pending?%>
	<% if long_view %>
	<div id="team_<%= participant.id %>"  class="<%= cycle('row_even','row_odd') %>" style="height:60px;">
			<div style="width:120px;float:left">
				<%= image_tag participant.picture.thumb.url, :class => :thumbnail unless participant.picture == nil %>
				<%= image_tag 'dt/icons/dummy_user.png', :class => :thumbnail unless participant.picture != nil %>
			</div>
			<%= link_to "<span>Pledge</span>", new_dt_participant_pledge_path(participant), :class => "button-pledge", :style => "float:right;" %>
			
			<%
				participant_class = "#{participant.team.campaign.name} Participant"
				if participant.user == participant.team.leader
						if participant.team.generic?
							participant_class = "#{participant.team.campaign.name} Campaign Organizer"
						else
							participant_class = "#{participant.team.name} Team Leader"
						end
				else
					if not participant.team.generic?
						participant_class = "#{participant.team} Member"
					end
				end
			%>
			<div class="participant_details"><strong><%= participant_class %></strong></div>			
			<div class="participant_details"><%= link_to participant.name, dt_participant_path(participant) %> </div>
			<div class="participant_details"><%= participant.funds_raised %> dollars raised.</div>
	</div>
	<% else %>
		<% if !participant.pending && !participant.team.pending %>
			<div id="team_<%= participant.id %>"  class="<%= cycle('row_even','row_odd') %>">
				<span class="participant_details">
					<%= "<strong>*</strong>" unless (participant.user != participant.team.leader ||  participant.team.generic?) %>
					<%= '<strong>**</strong>' unless (participant.user != participant.team.leader || (not participant.team.generic?)) %>
				<%= link_to participant.name, dt_participant_path(participant) %> (<%= link_to participant.team.name, dt_team_path(participant.team) %>)
				<%= participant.funds_raised %> dollars raised.
				</span>
			</div>
		<% end %>	
	<% end %>
<% end %>

