<% long_view ||=  false %>
<% if not participant.pending?%>
	<% if long_view %>
	<div id="team_<%= participant.id %>"  class="<%= cycle('row_even','row_odd') %>" style="height:60px;">
			<div class="participant_long_display_picture">
				<%= image_tag participant.picture.thumb.url, :class => :thumbnail unless participant.picture == nil %>
				<%= image_tag 'dt/icons/participant_placeholder_icon_48x48.jpg', :class => :thumbnail unless participant.picture != nil %>
			</div>
			<%= link_to "<span>Sponsor</span>", new_dt_participant_pledge_path(participant), :class => "button-sponsor", :style => "float:right;" %>
			<div class="participant_details">
				<span class="campaign-item-list" style="{font-weight: bold}">
					<%= link_to participant.name, dt_participant_path(participant) %>
				</span>
			<% 
				participant_class = "#{participant.team.campaign.name} Participant"
				if participant.user == participant.team.leader
					if participant.team.generic?
						participant_class = "#{participant.team.campaign.name} (Campaign Organizer)"
					else
						participant_class = "#{link_to(participant.team.name, dt_team_path(participant.team))} (Team Leader)"
					end
				else
					if not participant.team.generic?
						participant_class = "#{link_to(participant.team.name, dt_team_path(participant.team))} (Member)"
					end
				end
			%>
			</div>
			<div class="participant_details"><strong><%= participant_class %></strong></div>			
			<div class="participant_details"><%= participant.funds_raised %> dollars raised.</div>
	</div>
	<% else %>
		<% if (!participant.pending && !participant.team.pending) || (controller.controller_name =="teams") %>
			<div id="team_<%= participant.id %>"  class="<%= cycle('row_even','row_odd') %>">
				<span class="participant_details">
				  <p>
						<%= link_to participant.name, dt_participant_path(participant) %>
						<% if participant.team.generic? %>				
							<% if participant.user == participant.team.leader %>				
								(Campaign Organizer)
							<% end %>
						<% else %>
							<% if controller.controller_name != 'teams' %>
								<%= participant.user == participant.team.leader ? "(Team Admin":"(Team Member" %>
								- <%= link_to(participant.team.name, dt_team_path(participant.team)) %>)
							<% else %>
								<%= participant.user == participant.team.leader ? "(Team Admin)":"(Team Member)" %>
							<% end %>
						<% end %>
						$ <%= participant.funds_raised %> raised.
					</p>
				</span>
			</div>
		<% end %>	
	<% end %>
<% end %>

