<%- content_for :html_title do -%><%= @participant_having_object.name %> Participants<%- end -%>

<br />
<div id="participants">
  <% if @participant_having_object.is_a?(Campaign) %>
	<h2 class="campaign">
    <%= link_to(@participant_having_object.name + "'s", dt_campaign_path(@participant_having_object)) %> 
    Participants
  </h2>
  <% else %>
	<h2 class="team">
    <%= link_to(@participant_having_object.name + "'s", dt_team_path(@participant_having_object)) %> 
    Participants
  </h2>
  <% end %>
	<div id="search_box">
		<%= render :partial => 'dt/campaigns/search' %>
	</div>

	<div id="participant_container" class="row_container">
		<%= render :partial => 'participant', :collection => @participants, :locals => {:long_view => true} %>
		<%= "<strong>There are no participants registered for this campaign yet.</strong>" unless @participants.size > 0 %>
		<div class="row_even">
			<%= will_paginate @participants %>
			<div>
        <% if @participant_having_object.is_a?(Campaign) %>
				Back to <%= link_to(@participant_having_object.name, dt_campaign_path(@participant_having_object)) %>
        <% else %>
				Back to <%= link_to(@participant_having_object.name, dt_team_path(@participant_having_object)) %>
        <% end %>
			</div>
      
		</div>
	</div>
</div>
