<%- content_for :html_title do -%>Manage Your Profile: <%= @participant.name %><%- end -%>

<div>
	<h1><%= link_to @participant.user.full_name, dt_participant_path(@participant) %>'s page for <%= link_to @participant.team.campaign.name, dt_campaign_path(@participant.team.campaign) %>.</h1>
	
	<%= error_messages_for :participant %>
	<div class="campaign_form">
		<% form_for([:dt,@participant], :html => {:multipart => true}) do |f| %>
			<fieldset>
				<legend></legend>
				
				<label>Share a little about yourself (this information will be publically viewable):</label>
				<%= fckeditor_textarea( "participant", "about_participant", :toolbarSet=> 'ChristmasFutureBasic', :height => 200 ) %> 
				<label>What is your fundraising goal?</label>
				$ <%= f.text_field :goal %>

				<label>Upload your photo (must be less than 50 kb). If you don't upload one a default image will be used for you.  You can also come back and upload your photo later.</label>
				<%= image_tag @participant.picture.thumb.url if @participant.picture? %>
				<%= image_tag 'dt/icons/participant_placeholder_icon_72x72.jpg'unless @participant.picture != nil %><br/>
				<%= upload_column_field :participant,  :picture  %>
			</fieldset>
			<span class="update"><%= f.submit "Update" %></span>
		<% end %>
	</div>
	
	<div class="postnews">
		<a name="news"></a>
		<%= render :partial => 'dt/news_items/news', :locals => {:postable => @participant, :show_post_form => true}%>
	</div>
	
	
	<%= render :partial => 'dt/wall_posts/wall', :locals => {:postable => @participant, :show_post_form => true}%>
</div>