<%- content_for :html_title do -%>Join <%= @team.campaign.name %><%- end -%>

<% if @team.generic? %>
	<h1>Join "<%= link_to(@team.campaign.name, dt_campaign_path(@team.campaign)) %>" as an individual</h1>
	<div class="campaign-picture" style="float:right;padding-top:-50px;">
		<%= image_tag @team.campaign.picture.thumb.url, :class => :thumbnail if @team.campaign.picture? %>			
		<% image_tag 'dt/icons/campaign_placeholder_icon_72x72.jpg', :class => :thumbnail unless @team.campaign.picture? %>
	</div>
<% else %>
	<h1>Join <%= link_to(@team.name, dt_team_path(@team)) %></h1>
	<div class="team-picture" style="float:right;margin-top:-50px;">
		<%= image_tag @team.picture.thumb.url, :class => :thumbnail if @team.picture? %>			
		<%= image_tag 'dt/icons/team_placeholder_icon_125x75.jpg', :class => :thumbnail unless @team.picture? %>
	</div>
	<div>
		<span>You're about to become a team member of <%= @team.name %></span>
	</div>
<% end %>
<div class="campaign_form">
	<%= error_messages_for :participant %>
	<% form_for([:dt,@team,@participant], :html => {:multipart => true}) do |f| %>

 <%# Users can register with the website and sign up as a participant at the 
   # same time, so if they are not logged in offer them the opportunity to login 
   # or register %>

 <%# TODO: Is @participant.user.id.nil? the best test to see if the user associated with the 
   # participant has just been newed up in the controller because there is no 
   # currently logged in user? %>
 <% if @participant.user.id.nil? %>

  <h2>You are not currently logged in.</h2>
  <p>If you have already have an account with us please <%= link_to 'login', dt_login_path %> by clicking here, otherwise you can create an account below:</p>

  <fieldset>
	  <legend class="header">Create Account</legend>
	  <ol>

    <%#TODO: This is not very DRY - combine with app/views/dt/accounts/new.html.erb %>
   	<li>
     <%= label(:participant, :new_reg_login, render(:partial => 'dt/shared/form_required') + "Login/Email") %>
     <%= f.text_field :new_reg_login %>
    </li>

    <%#TODO: This is not very DRY - combine with app/views/dt/accounts/new.html.erb %>
		  <li>
     <%= label(:participant, :new_reg_display_name, render(:partial => 'dt/shared/form_required') + "Display Name (used to identify you on the site)") %>
     <%= f.text_field :new_reg_display_name %>
    </li>

    <%#TODO: This is not very DRY - combine with app/views/dt/accounts/new.html.erb %>
	   <li>
     <%= label(:participant, :new_reg_password, render(:partial => 'dt/shared/form_required') + "Password (Must be longer than 4 characters and try to make it something you'll remember.)") %>
     <%= f.password_field :new_reg_password %>
    </li>
    
    <%#TODO: This is not very DRY - combine with app/views/dt/accounts/new.html.erb %>
	   <li>
     <%= label(:participant, :new_reg_password_confirm, render(:partial => 'dt/shared/form_required') + "Confirm Password") %>
     <%= f.password_field :new_reg_password_confirm %>
    </li>

    <%#TODO: This is not very DRY - combine with app/views/dt/accounts/new.html.erb %>
  		<li style="clear:left;">
     <%= label(:participant, :new_reg_country, render(:partial => 'dt/shared/form_required') + "Country") %>
     <%= f.select :new_reg_country, country_select_options, :style => 'width:auto;' %>
    </li>

    <%#TODO: This is not very DRY - combine with app/views/dt/accounts/new.html.erb %>
  		<li style="clear:left;">
     <%= label(:participant, :new_reg_terms_of_use, render(:partial => 'dt/shared/form_required') + "Terms of Service") %>
     <p class="textsm"><%= f.check_box :new_reg_terms_of_use %> I have read the <a href="/terms-of-use" rel="blank">terms of use</a> and agree</p>
    </li>

	  </ol>

   <%= render :partial => 'dt/shared/form_requirednote' %>

  </fieldset>

 <% end %>

		<fieldset>
			<h2>Create your personal profile for this campaign:</h2>
			<label>Enter the URL you would like to share with your friends:<%= form_required %>
			<%= what_is_this?'short_name', "The short name is a small (10-20 characters) that will make 
			it easier to share your profile page with others. It should not contain any spaces and should 
			be concise so as to convey the central idea of your campaign. Also this name will be used to 
			provide your profile with a Christmas Future URL. http://www.christmasfuture.org/dt/campaigns/#{@team.campaign.short_name}/ShortName" %>
			</label>
    		<span class="small_text">http://www.christmasfuture.org/dt/<%= @team.campaign.short_name %>/participant/</span><%= f.text_field :short_name, :maxlength => 25, :size => 25 %>
			<%= observe_field	:participant_short_name, 
								:frequency => 1,
								:url => validate_short_name_of_new_dt_participant_path,
								:with => :participant_short_name
								%>
			<%= show_spinner("Validating ") %>
			<div id="errors" style="display:none;">
			</div>

			<label>Public Profile Information (eg. a little about yourself, your reasons for joining the campaign, and why ending poverty interests you): <%= form_required %></label>
			<%= fckeditor_textarea( "participant", "about_participant", :toolbarSet=> 'ChristmasFutureBasic', :height => 200 ) %> 
			
			<label>What is your personal fundraising goal? (optional, leave blank for no specific goal)</label>
			$ <%= f.text_field :goal %>
			
			<label>Upload your photo (must be less than 500kb). You can upload the photo later by editing your profile.</label>
			<%= upload_column_field :participant,  :picture  %>
			
			<span class="join"><h1><%= f.submit 'Join'%></h1></span>
		</fieldset>
	<% end %>
</div>
