<% if @team.generic? %>
	<h1>Join "<%= link_to(@team.campaign.name, dt_campaign_path(@team.campaign)) %>" as an individual</h1>
	<div class="campaign-picture" style="float:right;padding-top:-50px;">
		<%= image_tag @team.campaign.picture.thumb.url, :class => :thumbnail if @team.campaign.picture? %>			
		<% image_tag 'dt/icons/campaign_placeholder_icon_72x72.jpg', :class => :thumbnail unless @team.campaign.picture? %>
	</div>
	<div>
		<span><strong>Are you part of a team or group? </strong><br/>You must sign up with that team if you wish to be a part of it for this campaign. 
		Click  <%= link_to("here", dt_campaign_teams_path(@team.campaign)) %>	to find a team to join, or you can <%=link_to('create a team', new_dt_campaign_team_path(@campaign)) %>.
	</div>
<% else %>
	<h1>Join <%= link_to(@team.name, dt_team_path(@team)) %></h1>
	<div class="team-picture" style="float:right;margin-top:-50px;">
		<%= image_tag @team.picture.thumb.url, :class => :thumbnail if @team.picture? %>			
		<%= image_tag 'dt/icons/team_placeholder_icon_125x75.jpg', :class => :thumbnail unless @team.picture? %>
	</div>
	<div>
		<span>You're about to join: <%= @team.name %></span>
	</div>
<% end %>
<br />
<div class="campaign_form">
	
	<%= error_messages_for :participant %>
	<% form_for([:dt,@team,@participant], :html => {:multipart => true}) do |f| %>
		<fieldset>
			<h2>Create your Personal Profile:</h2>
			<label>Enter the URL you would like to share with your friends:<%= form_required %>
			<%= what_is_this?'short_name', "The short name is a small (10-20 characters) that will make 
			it easier to share your profile page with others. It should not contain any spaces and should 
			be concise so as to convey the central idea of your campaign. Also this name will be used to 
			provide your profile with a Christmas Future URL. http://www.christmasfuture.org/dt/campaigns/#{@team.campaign.short_name}/ShortName" %>
			</label>
    		<span class="small_text">http://www.christmasfuture.org/dt/<%= @team.campaign.short_name %>/participant/</span><%= f.text_field :short_name %>
			<%= observe_field	:participant_short_name, 
								:frequency => 1,
								:url => validate_short_name_of_new_dt_participant_path,
								:with => :participant_short_name
								%>
			<%= show_spinner("Validating ") %>
			<div id="errors" style="display:none;">
			</div>

			<label>Share a little about yourself (this information will be publically viewable): <%= form_required %></label>
			<%= fckeditor_textarea( "participant", "about_participant", :toolbarSet=> 'ChristmasFutureBasic', :height => 200 ) %> 
			
			<label>What is your personal fundraising goal? (optional, leave blank for no specific goal)</label>
			$ <%= f.text_field :goal %>
			
			<label>Upload your photo (must be less than 50 kb). If you don't upload one a default image will be used for you.  You can also come back and upload your photo later.</label>
			<%= upload_column_field :participant,  :picture  %>
			
			<span class="join"><h1><%= f.submit 'Join'%></h1></span>
		</fieldset>
	<% end %>
</div>