<%- content_for :html_title do -%>Join <%= @team.campaign.name %><%- end -%>

<% if @team.generic? %>
	<div class="campaign-picture" style="float:right;padding-top:-50px;">
		<%= image_tag @team.campaign.image.url(:thumb), :class => :thumbnail if @team.campaign.image? %>
		<% image_tag 'dt/icons/campaign_placeholder_icon_72x72.jpg', :class => :thumbnail unless @team.campaign.image? %>
	</div>
<% else %>
	<h1>Join <%= link_to(@team.name, dt_team_path(@team)) %></h1>
	<div class="team-picture" style="float:right;margin-top:-50px;">
		<%= image_tag @team.image.url(:thumb), :class => :thumbnail if @team.image? %>
		<%= image_tag 'dt/icons/team_placeholder_icon_125x75.jpg', :class => :thumbnail unless @team.image? %>
	</div>
	<div>
		<span>You're about to become a team member of <%= @team.name %></span>
	</div>
<% end %>
<div class="campaign_form">
	<%= error_messages_for :participant %>
	<% form_for([:dt,@team,@participant], :html => {:multipart => true}) do |f| %>

 <%# Users can register with the website and sign up as a participant at the 
   # same time, so if they are not logged in offer them the opportunity to login 
   # or register %>

 <% if current_user == :false %>

  <h2>You are not currently logged in.</h2>
  <p>If you have already have an account with us please <%= link_to 'login now', dt_login_path %>.</p>

  <fieldset>
	  <legend class="header">Create Account</legend>
	  <ol>
   	<li>
     <%= label_for_required_field :participant, :new_reg_login, "Login/Email" %>
     <%= f.text_field :new_reg_login %>
    </li>
		  <li>
     <%= label_for_required_field :participant, :new_reg_display_name, "Display Name (used to identify you on the site)" %>
     <%= f.text_field :new_reg_display_name %>
    </li>
	   <li>
     <%= label_for_required_field :participant, :new_reg_password, "Password (Must be longer than 4 characters)" %>
     <%= f.password_field :new_reg_password %>
    </li>
	   <li>
     <%= label_for_required_field :participant, :new_reg_password_confirm, "Confirm Password" %>
     <%= f.password_field :new_reg_password_confirm %>
    </li>
  		<li style="clear:left;">
     <%= label_for_required_field(:participant, :new_reg_country, "Country") %>
     <%= f.select :new_reg_country, country_select_options, :style => 'width:auto;' %>
    </li>
  		<li style="clear:left;">
     <%= label :participant, :new_reg_terms_of_use, render(:partial => 'dt/shared/form_required') + "Terms of Service" %>
     <p class="textsm"><%= f.check_box :new_reg_terms_of_use %> I have read the <a href="/terms-of-use" rel="blank">terms of use</a> and agree</p>
    </li>
	  </ol>

   <%= render :partial => 'dt/shared/form_requirednote' %>

  </fieldset>

 <% end %>

		<fieldset>
			<h2>Create your personal profile for this <%= @team.campaign.name %> so that people can support you:</h2>
			<label>Choose your profile URL:<%= form_required %>
			<%= what_is_this?'short_name', "The short name is a small (10-20 characters) that will make 
			it easier to share your profile page with others. It should not contain any spaces and should 
			be concise so as to convey the central idea of your campaign. Also this name will be used to 
			provide your profile with a Uend: URL. http://www.uend.org/dt/campaigns/#{@team.campaign.short_name}/ShortName" %>
			</label>
    		<span class="small_text">http://www.uend.org/dt/<%= @team.campaign.short_name %>/participant/</span><%= f.text_field :short_name, :maxlength => 25, :size => 25 %>

			<%= observe_field	:participant_short_name, 
								:frequency => 1,
								:url => validate_short_name_of_new_dt_participant_path,
								:with => "'participant_short_name='+value+'&campaign_id='+#{@team.campaign.id}" 
								%>
			<%= show_spinner("Validating ") %>
			<div id="errors" style="display:none;">
			</div>

			<label>Public Profile Information (eg. a little about yourself, your reasons for joining <%= @team.campaign.name %>: <%= form_required %></label>
			<%= fckeditor_textarea( "participant", "about_participant", :toolbarSet=> 'uEndBasic', :height => 200 ) %> 
			
			<label>What is your personal fundraising goal? (optional, leave blank for no specific goal)</label>
			$ <%= f.text_field :goal %>
			
			<label>Upload your photo (must be less than 1MB). You can upload the photo later by editing your profile.</label>
			<%= f.file_field :image %>

			<% if @team.campaign.has_registration_fee? %>
			  <div id="fee-warning-text">
			    <p style="margin-top:1em;">
			      <strong>To help cover administration costs, a fee of $<%= @team.campaign.fee_amount.to_s + " " + @team.campaign.fee_currency %> is required to join <%= @team.campaign.name %>.</strong>
			    </p>
			  </div>
			  <div><span class="join"><%= f.submit 'Proceed to Checkout'%></span></div>
			  
			<% else %>
			  <div><span class="join"><%= f.submit 'Complete Registration'%></span></div>
			<% end %>
		</fieldset>
	<% end %>
</div>
