<%- content_for :html_title do %>Tell a Friend Confirmation<% end -%>
<%- content_for :nav do %><%= iend_user_nav if logged_in? %><% end -%>

  <%= error_messages_for :share %>
  <% form_for(:share, :url => send_message_iend_user_my_wishlists_path(:account_id => current_user), :html => {:id => "wishlistform", :name => "wishlistform"}) do |f| %>
  <p>Please review your information.</p>
  <div class="userform">
    <%= f.hidden_field 'e_card_id', :id => 'e_card_id' %>

    <fieldset>
      <legend>The projects you've chosen to share</legend>
      <p><% if params[:project_ids] %>
      <% for project in @projects %>
      <%= hidden_field_tag "project_ids[]", project.id, :id => "project_id-#{project.id}" %>
      <div><%= project.name %></div>
      <% end %>
      <% else %>
      I just want to share about Uend:
      <% end %></p>
      
    </fieldset>
    
    <fieldset>
      <legend>E-card Details</legend>
      <ul style="width:302px;">
        <% if @share.name? %><li><strong>From (Name):</strong> <%= params[:share][:name] %> <%= f.hidden_field :name %></li><% end %>
        <li><strong>From (Email):</strong> <%= params[:share][:email] %> <%= f.hidden_field :email %></li>
        <% if @share.to_name? %><li><strong>To (Name):</strong> <%= params[:share][:to_name] %> <%= f.hidden_field :to_name %></li><% end %>
        <li><strong>To (Email):</strong> <%= params[:share][:to_email] %> <%= f.hidden_field :to_email %></li>
        <% if @share.message? %><li><strong>Gift Message:</strong><br /> <%= params[:share][:message] %> <%= f.hidden_field :message %></li><% end %>
      </ul>
    </fieldset>

    <%= submit_tag 'Send E-card', :class => 'buttonsubmit' %>
    <input type="button" value="Go Back" onclick="history.go(-1);" class="buttonsubmit" />
  </div>
  <% end %>
  <% content_for :sidebar do %>
    <h2>E-Card</h2>
    <div id="miniGallery">
        <p>This is the e-card you have selected to send.</p>
        <div id="medImgWrap">
          <div class="medImg"><%= image_tag(url_for_file_column(@share.e_card, "medium"), :alt => '') if @share.e_card_id? && @share.e_card %></div>
        </div>
        <div id="ecardPreview" style="display:none;"><input type="button" value="Preview your email" id="ecard_preview" onclick="var params=Form.serialize($('wishlistform'));window.open('<%= preview_iend_user_my_wishlists_path() %>?' + params, 'preview', 'width=800,height=440,resizable=1,scrollbars=1');" class="buttonsubmit" style="margin-left:0;" /></div>
      </div>  
  <% end %>