<%- content_for :html_title do %>My Wishlist<% end -%>

    <% if params[:project_id] && @project %>
    <% form_tag dt_my_wishlists_path(:account_id => current_user), :id => 'wishlistform' do %>
      <div class="userform">
        <fieldset>
          <legend>Would you like to add &quot;<%= @project.name %>&quot; to your personal wishlist?</legend>
          <%= hidden_field_tag :project_id, params[:project_id] %>
        </fieldset>
        <%= submit_tag "Add to My Wishlist", :class => 'buttonsubmit' %>
      </div>
    <% end %>
    <% else %>
    <p>You need to <%= link_to "choose a project", dt_projects_path %> to add to your wishlist</p>
    <% end %>
  <% content_for :sidebar do %>
    <%= dt_profile_sidebar %>
  <% end %>