<%- content_for :html_title do -%>Deposit<%- end -%>
<%- content_for :nav do -%><%= dt_account_nav %><%- end -%>
<%- content_for :head do -%><%= stylesheet_link_tag 'dt/cart' %><%- end -%>

<%= error_messages_for :deposit %>
<% form_for(:deposit, :url => dt_account_deposit_path(:account_id => current_user, :id => params[:id]), :html => {:id => "depositform", :name => "depositform", :method => :put}) do |f| %>
<div class="userform">
  <%= render :partial => 'dt/shared/form_requirednote' %>
  <fieldset>
    <legend>Deposit</legend>
    <ol>
      <li>
        <label for="deposit_amount" class="wide"><%= form_required %>Deposit Amount</label> $<%= f.text_field :amount, :value => number_with_precision(@investment.amount, 2) %>
        <div class="note" style="margin-left:135px;">Example: $100</div>
      </li>
    </ol>
  </fieldset>

  <div style="float:right;" class="clearfix"><%= submit_tag 'Update Deposit', :class => 'buttonsubmit' %></div>
</div>
<% end %>

<%- content_for :sidebar do -%>
  <%= render :file => "dt/cart/summary" %>
  <%= dt_profile_sidebar %>
<%- end -%>
