<%= dt_account_nav %>
<div id="contentContainer">
  <div id="leftColW">
  <h1>Deposit</h1>
  <% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
  <% if flash[:error] %><div class="error"><%= flash[:error] %></div><% end %>

  <%= error_messages_for :deposit %>
  <% form_for(:deposit, :url => confirm_dt_account_deposits_path, :html => {:id => "depositform", :name => "depositform"}) do |f| %>
  <p>Please enter your personal information. Your personal information, as entered below will be used to authorize your credit card. Please enter the information accurately.</p>
  <div class="userform">
    <fieldset>
      <legend>Payment Details</legend>
      <ul>
    		<li><label for="deposit_amount"><%= render :partial => 'dt/shared/form_required' %>Deposit Amount</label><%= f.text_field :amount, :value => (@deposit.amount? ? number_to_currency(@deposit.amount) : "$") %></li>
        <li><label for="deposit_credit_card"><%= render :partial => 'dt/shared/form_required' %>Credit Card</label><%= f.text_field :credit_card %></li>
        <li><label for="deposit_expiry_month"><%= render :partial => 'dt/shared/form_required' %>Card Expiry</label>
          <div id="ccExpiry">
  <%= f.select("expiry_month", (1..12).to_a.collect {|m| 
    mo = m.to_s.rjust(2, "0"); 
    [ mo, mo ] }, { :include_blank => true, :selected => @deposit.expiry_month.to_s.rjust(2, "0") }, { :style => 'width:auto;' }) -%>
  <div style="float:left;width:1em;">/</div><%= f.select("expiry_year", (0..7).to_a.collect {|y| 
    d = Date.civil(Date.today.year+y.to_i) 
    [ d.year.to_s, d.year.to_s[2, 2] ] }, { :include_blank => true }, { :style => 'width:auto;' }) %> 
          </div>
        </li>
      </ul>
    </fieldset>

    <%= render "dt/shared/fund_cf" %>

    <fieldset>
      <legend>Total Amount</legend>
      <ul>
        <li><label for="amount_total">Amount Total:</label><%= text_field_tag :amount_total, number_to_currency(0), :style => 'border:0;', :onfocus => "blur();" %></li>
      </ul>
    </fieldset>

    <%= error_messages_for :user %>
    <fieldset style="width:360px;">
      <legend>Credit Card Information</legend>
      <ul>
        <li><label for="deposit_first_name"><%= render :partial => 'dt/shared/form_required' %>First Name</label><%= f.text_field 'first_name' %></li>
        <li><label for="deposit_first_name"><%= render :partial => 'dt/shared/form_required' %>Last Name</label><%= f.text_field 'last_name' %></li>
        <li><label for="deposit_address"><%= render :partial => 'dt/shared/form_required' %>Address</label><%= f.text_field 'address' %></li>
        <li><label for="deposit_city"><%= render :partial => 'dt/shared/form_required' %>City</label><%= f.text_field 'city' %></li>
        <li><label for="deposit_province"><%= render :partial => 'dt/shared/form_required' %>Province/State</label><%= f.text_field 'province', :size => 2, :maxlength => 2, :style => 'width:auto;' %></li>
        <li><label for="deposit_postal_code"><%= render :partial => 'dt/shared/form_required' %>Postal/Zip Code</label><%= f.text_field 'postal_code', :size => 10, :maxlength => 10, :style => 'width:auto;' %></li>
        <li><label for="deposit_country"><%= render :partial => 'dt/shared/form_required' %>Country</label><%= f.select 'country', country_select_options, { :style => 'width:auto;' } %></li>
      </ul>  
    </fieldset>

    <%= submit_tag 'Continue', :class => 'buttonsubmit' %>
    <%= render :partial => 'dt/shared/form_requirednote' %>
  </div>
  <% end %>
  </div>
  <div id="rightColN">
	  <%= dt_profile_sidebar %>
  </div>
</div>