<%- content_for :html_title do -%>Sign In Options<%- end -%>

<%= render 'iend/shared/header' %>
<%= render :partial => 'iend/shared/account_nav' %>

<% if @authentications %>
  <% unless @authentications.empty? %>
    <p><strong>You have signed in with these services:</strong></p>
    <div class="authentications clearfix">
      <% for authentication in @authentications %>
        <div class="authentication">
          <%= image_tag "dt/authentications/#{authentication.provider}_32.png", :size => "32x32" %>
          <div class="provider"><%= authentication.provider_name %></div>
          <div class="uid"><%= authentication.uid %></div>
          <%= link_to "X", [:iend, authentication], :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>
        </div>
      <% end %>
    </div>
  <% end %>
  <p><strong>Add a service to sign in with:</strong></p>
<% else %>
  <p><strong>Sign in through one of these services:</strong></p>
<% end %>

<div class="clearfix">
  <% %w(facebook google).each do |provider| %>
  <% if current_user.authentications.find_by_provider(provider) %>
    <div class="auth_provider">
      <%= image_tag "dt/authentications/#{provider}_64.png", :size => "64x64", :alt => provider.titleize %>
      Already added
    </div>
  <% else %>
    <a href="/auth/<%= provider %>" class="auth_provider">
      <%= image_tag "dt/authentications/#{provider}_64.png", :size => "64x64", :alt => provider.titleize %>
      <%= provider.titleize %>
    </a>
  <% end %>
  <% end %>
</div>

<% unless logged_in? %>
  <p>
    <strong>Don't use these services?</strong>
    <%= link_to "Sign up", signup_path %> or
    <%= link_to "Login", login_path %> with a password.
  </p>
<% end %>
