
<script language="JavaScript"> function ajaxSubmit(){ return false} /*{new Ajax.Request('<%= search_dt_projects_path %>', {asynchronous:true, evalScripts:true, method:'get', parameters:Form.serialize($('advanced_search'))}); return false;} */
</script>
<div>
<% form_tag(  search_dt_projects_path , {:id => 'advanced_search', :method => :get, :onsubmit => "if($('keywords').value=='Search'){ $('keywords').value='';}"})do %>
<h3>Advanced Project Search</h3>
<div id='wrapper-adv-search-box'>
  <p>
    <label class='adv-search-label'>Search By Keywords:</label>
    <br>
    <%= text_field_tag 'keywords', (params[:keywords].nil? ? 'Search' : params[:keywords]), 
    :title => 'Search', 
    :size => 65 ,
    :onblur =>"if(!this.value) this.value='Search';", 
    :onfocus => "if(this.value=='Search') this.value='';"
    %>  
  </p>
  <p>
    <%= check_box_tag( 'continent_selected', (params[:continent_selected] ? '1' : '0'), params[:continent_selected])%>
    <label class='adv-search-label'>Search By Location:</label>
    <br>
    Continent: <%= select_tag("continent_id", options_for_select(@continents, params[:continent_id].to_i),  :onchange => "ajaxSubmit(); $('country_id').value='';assign_selected(this, 'continent');" )  %> 
    &nbsp;Country: 
    <span id='country_id_container'>
      <% if !params[:country_id].nil? && !params[:country_id].empty?%>
      <% javascript_tag do -%>
      Event.observe(window, 'load', function() {
        new Ajax.Request('/dt/projects/add_countries?country_id=<%= params[:country_id]%>', {
          asynchronous:true, evalScripts:true, method:'get', parameters:'continent_id=' + <%=params[:continent_id]%>
        }
        )
      }, 'load')
      <%end -%>
      <%end%>
      <%= select_tag("country_id",  '', :onchange => "ajaxSubmit();assign_selected(this, 'country');" , :disabled => true)%>	

    </span>
    <%= image_tag 'spinner.gif' , :id => 'spinner', :style => 'display:none; padding-top:3px;' %>

  </p>
  
    <%=	observe_field("continent_id",
  :on => "change",
  :url => {:action => "add_countries"},
  :method => :get,
  :with => "continent_id",
  :before   => %(Element.show("spinner")),
  :success  => %(Element.hide("spinner"))
  )		
  %>

  <p>
  <%= check_box_tag( 'organization_selected', (params[:organization_selected] ? '1' : '0'), params[:organization_selected])%>
  <label class='adv-search-label'>Search By Organization:</label>
  <br>
  <%= select_tag("partner_id", options_for_select(@partners,params[:partner_id].to_i), :onchange => "ajaxSubmit();assign_selected(this, 'organization');" ) %>
  </p>
  
  <p>
    <%= check_box_tag( 'cause_selected', (params[:cause_selected] ? '1' : '0'), params[:cause_selected])%>
    <label class='adv-search-label'>Search By Cause or Sector:</label>
    <br>
    Sector: <%= select_tag("sector_id",options_for_select(@sectors, params[:sector_id].to_i) , :onchange => "ajaxSubmit();assign_selected(this, 'cause');" ) %> &nbsp;
     Cause: 
     <span id='cause_id_container'>
       <% if !params[:cause_id].nil? && !params[:cause_id].empty?%>
       <% javascript_tag do -%>
       Event.observe(window, 'load', function() {
         new Ajax.Request('/dt/projects/add_causes?cause_id=<%= params[:cause_id]%>', {
           asynchronous:true, evalScripts:true, method:'get', parameters:'sector_id=' + <%=params[:sector_id]%>
         }
         )
       }, 'load')
       <%end -%>
       <%end%>
       <%= select_tag("cause_id",  '', :onchange => "ajaxSubmit();assign_selected(this, 'cause');" , :disabled => true)%>	

     </span>
     <%= image_tag 'spinner.gif' , :id => 'spinner2', :style => 'display:none; padding-top:3px;' %>
  </p>
  <%=	observe_field("sector_id",
  :on => "change",
  :url => {:action => "add_causes"},
  :method => :get,
  :with => "sector_id",
  :before   => %(Element.show("spinner2")),
  :success  => %(Element.hide("spinner2"))
  )		
  %>

  <p>
    <%= check_box_tag( 'funding_req_selected', (params[:fundung_req_selected] ? '1' : '0'),params[:funding_req_selected])%>
    <label class='adv-search-label'>Search By Funding Requirement:</label>
    <br>
    min <%= text_field_tag("funding_req_min", params[:funding_req_min], :size => 10, :onchange => "ajaxSubmit();assign_selected(this, 'funding_req');" ) %> 
    and max <%= text_field_tag("funding_req_max", params[:funding_req_max], :size => 10, :onchange => "ajaxSubmit();assign_selected(this, 'funding_req');" ) %>
    &nbsp;
    <br>
    <%= check_box_tag('fully_funded', 'yes', params[:fully_funded])%> Include fully funded projects
  </p>



  <%= hidden_field_tag "filter", "true"%>
  <!-- <%= hidden_field_tag "advanced","true"%> -->
  
  <div id="button_placeholder">
    <%= submit_tag '', :style=>'border:0px;', :class=> 'adv_submit_button'%>
  </div>
  <!--<span id="count_results_container" style="float:right;position:relative;bottom:20px;right:160px;background:yellow">
  </span>
-->
  <% end -%>
</div>

</div>
