<article id="project-1" class="project-module">
  <div class="project-module-top">
    <a href="<%= dt_project_path(project) %>">
    <% if project.lives_affected? %>
      <div class="project-livesaffected-num"><%= number_with_delimiter(project.lives_affected) %></div>
      <div class="project-livesaffected">lives affected plus yours</div>
    <% else %>
      <div class="project-livesaffected-num"><%= number_to_currency(project.total_cost, :precision => 0) %></div>
      <div class="project-livesaffected">total cost</div>
    <% end %>
    </a>
  </div>
  <div class="project-info">
    <div class="project-place"><%= link_to Place.find(project.country_id).name, nation_dt_project_path(project) %></div>
    <div class="project-name"><%= link_to truncate(project.name, :length => 48), dt_project_path(project) %></div>
    <div class="project-organization"><%= link_to truncate("by #{project.partner.name}", :length => 28), organization_dt_project_path(project) %></div>
  </div>
  <div class="project-actions clearfix">
    <div class="project-quick-give"><%= link_to "Quick Give", new_dt_investment_path(:project_id => project.id) %></div>
    <!-- <div class="project-like">
          <a href="#"><img src="/images/nav/like-grey.png" width="21" height="27" alt=""> Like</a>
        </div> -->
  </div>
  <div class="project-module-bottom clearfix">
    <div class="project-progress-bar">
      <div class="project-progress-fg" style="width:<%= project.get_percent_raised %>%"></div>
    </div>
    <div class="detail">
      <%= project.get_percent_raised.to_i %>%<br> Funded
    </div>
    <div class="detail">
      <%= number_to_currency(project.total_cost, :precision => 0) %><br> Cost
    </div>
    <div class="detail">
      <%= number_with_delimiter(Gift.count(:conditions => ["project_id=?", project.id])) %><br> Gifts
    </div>
  </div>
</article>
