<div class="full-display-project-header clearfix">
	<div class='full-display-project-title'>
		<% if (controller.action_name == "show") %>
			<%= @project.name %>
		<% else %>
			<%= link_to(@project.name, dt_project_path(@project)) %>
		<% end %>
	</div>
	<div class="full-display-sector-images"><%= sector_images(@project.id) %></div>

	<div class="project-location-link">
		<% if @project.community_id %>
			<%= "#{link_to @project.community.name, community_dt_project_path(@project)}" %><%= ', ' if @project.nation_id?  %>
		<% end %>
		<%= (@project.nation_id)? "#{link_to @project.nation.name, nation_dt_project_path(@project)}": ""%>
	</div>
</div>