<% content_for :project_header do %>
  <section id="project-header" class="container prepend-top append-bottom">
    <div class="span-10 border-right">
      <h1><%= truncate(@project.name, :length => 42) %></h1>
      <div>
        CAUSE/SECTOR:
        <% @project.sectors.each do |sector| %>
          <%= image_tag("/images/icons/#{sector.image_name(16)}", :alt => '', :width => 16, :height => 16, :style => "vertical-align:bottom;") %>
          <%= link_to(sector.name, dt_sector_path(sector) ) %>
        <% end %>
      </div>
    </div>
    <div class="span-8 last">
      <div>PROJECT BY:</div>
      <div>
        <% if @project.partner %><strong><%= link_to(@project.partner.name, organization_dt_project_path(@project)) %></strong><br><% end %>
        <%= render "location" %>
      </div>
      <div class="back-to-projects">
        <%= link_to image_tag('/images/projects/btn-back_to_projects-green.png', :alt => ''), dt_projects_path, :title => "Back to Projects" %>
      </div>
    </div>
  </section>
<% end %>
