<div class='filter-your-results' id='filter-your-results'>
  <a href='#' onclick="Effect.SlideDown('search-bar-wrapper', {duration: 1.0});
                    Effect.Appear('search-bar-wrapper',{  duration: 1.5});  
                    Element.toggle('filter-your-results'); Element.toggle('hider');
  ">Too many results ? Try our filter search</a>
</div>
<div id='search-bar-wrapper' style="display:<%= params[:filter] ? "block" : "none" %>;">
  <%= dt_advanced_search %>
</div>
<% if params[:action]!='advancedsearch' %>
  <div class='hider' id='hider'
    onclick="Effect.SlideUp('search-bar-wrapper', { duration: 1.0 }); 
      Effect.Fade('search-bar-wrapper',{  duration: 1.5});  
      Element.toggle('hider'); Effect.Appear('filter-your-results', {duration: 1.5});" 
    style='display:<%= (params[:filter] && params[:action] =='search') ?   "block" : "none" %>;'>Hide filters
  </div>
<% end %>

<% if @search.total_entries==Project.find_public(:all).size%>
    <%- content_for :html_title do -%>All Projects<%- end -%>
<% else%>

    <%if @search.total_entries>0%>

        <%- content_for :html_title do -%>Project Search Results<%- end -%>
        <div>
            <h4>You have searched using the following terms:</h4>

            <% if @search  %>
              <div>
                <% if !params[:keywords].nil? && !params[:keywords].empty? %>
                <strong>Keywords: </strong><%= params[:keywords]%>
                <% end%>
                <% if params[:continent_selected]  && !params[:continent_id].nil? && !params[:continent_id].empty?%>
                <strong>Continent: </strong><%= Place.find(params[:continent_id].to_i).name%>
                <br>
                <% end%>
                <% if params[:continent_selected]  && !params[:country_id].nil? && !params[:country_id].empty?%>
                <strong>Country: </strong><%= Place.find(params[:country_id].to_i).name%>
                <br>
                <% end%>
                <% if params[:partner_selected]%>
                <strong>Organization: </strong><%= Partner.find(params[:partner_id].to_i).name%>
                <br>
                <% end%>
                <% if params[:cause_selected] && !params[:cause_id].nil? && !params[:cause_id].empty? %>
                <strong>Cause: </strong><%= Cause.find(params[:cause_id].to_i).name unless params[:cause_id].empty?%>
                <br>
                <% end%>
                <% if params[:cause_selected] && !params[:sector_id].nil? && !params[:sector_id].nil?%>
                <strong>Sector: </strong><%= Sector.find(params[:sector_id].to_i).name unless params[:sector_id].empty? %>
                <br>
                <% end%>
                <% if params[:funding_req_selected]%>
                    <strong>Funding required: </strong> 
                
                    <% if !params[:funding_req_min].empty?%> 
                      min: <%= number_to_currency(params[:funding_req_min])%>
                    <% end %>
                    <% if !params[:funding_req_max].empty?%> 
                      max: <%= number_to_currency(params[:funding_req_max])%>      		      
                      <br>
                    <%end%>                
                <% end %>
                <% if params[:fully_funded]%>
                <strong>Fully funded: </strong> <%= params[:fully_funded]%>            
                <br>
                <% end%>                		                  
             </div>               
          <%end%>
          

        </div>
  


    <%else%>
        No results were found. Please review your search.
    <%end%>
    
    
<%end%>

<% if @search.size > 0 %>

<div id="subnav" style="padding-left:0;">
  <ul style="margin-bottom:0;">
    <li><%= @search.nil? ? @projects.size : @search.total_entries %> Projects Found</li>
  </ul>
	<ul style="margin-bottom:0;">
    	<li><strong>SORT BY:</strong></li>
    	<li>&nbsp;</li>
		<%
		params[:order_mode] = params[:order_mode]=="DESC" ? "DESC" : "ASC"
		params.merge!({:order_mode => params[:order_mode]}) 
		%>
    	<% [["target_start_date", "Target Start Date"],["total_cost","Budget"],["partner_name", "Organization"], ["place_name", "Place"]].each do |term| %>
      		<% current = params[:order] == term[0] ? "current" : "" %>
      		<li ><%= link_to term[1], search_dt_projects_path(params.merge({:order => term[0]})) %></li>
    	<% end %>
  	</ul>
</div>
<% end %>

<br />
<%= will_paginate @search %>
<div class='projectlist'>
  <%= render :partial => '/dt/projects/search_result', :collection => @search %>
</div>
