<div>
<% form_tag (search_dt_projects_path,{:id => 'advanced_search', :method => :get} ) do %>
	<!-- <%= text_field_tag 'keywords','Search', 
		:title => 'Search', 
		:size => 40 , 
		:onblur =>"if(!this.value) this.value='Search';", 
		:onfocus => "if(this.value=='Search') this.value='';"
	%>-->
		<h2>Projects Advanced Search</h2>
	<fieldset>
		Continent:<%= select_tag("continent[place_id]", options_for_select(@continents))  %> Country: 
		<span id='country_id_container'>
			<%= select_tag("country[place_id]", "country[place_id]", :disabled => true)%>	
		</span>
	</fieldset>
	<fieldset>
		Organization: <%= select_tag("partner_id", options_for_select(@partners,params[:partner_id].to_i   ) ) %>
		Cause: <%= select_tag("cause_id",options_for_select(@causes, params[:cause_id].to_i)) %>
	</fieldset>
	<fieldset>
		<div>
		Funding required: 
		min <%= text_field_tag("funding_req_min", params[:funding_req_min], :size => 10) %> 
		and max <%= text_field_tag("funding_req_max", params[:funding_req_max], :size => 10) %>
		<div><br>
		Funding received:
		min <%= text_field_tag("funding_rec_min", params[:funding_rec_min], :size => 10) %> 
		and max <%= text_field_tag("funding_rec_max", params[:funding_rec_max], :size => 10) %>
	</fieldset>
	<fieldset>
		Start date: 
		<%= select_tag("start_date", options_for_select([ ['any',''] , ['sooner than','lower'], ['later than','bigger']], params[:start_date]), :onchange => "" )%>
		<span id='start_date_form' ><%= text_field_tag("start_date_month", params[:start_date_month], :size => 2, :onblur =>"if(!this.value) this.value='mm';", :onfocus => "if(this.value=='mm') this.value='';") %>-<%= text_field_tag("start_date_day",params[:start_date_day], :size => 2,:onblur =>"if(!this.value) this.value='dd';", :onfocus => "if(this.value=='dd') this.value='';") %>-<%= text_field_tag("start_date_year", params[:start_date_year], :size => 4,:onblur =>"if(!this.value) this.value='yyyy';", :onfocus => "if(this.value=='yyyy') this.value='';") %></span>
	</fieldset>
	
	<%=
		observe_field("continent[place_id]",
				:on => "change",
				:url => {:action => "add_countries"},
				:method => :get,
				:with => "continent_id"
		)
	%>
	
	<%= hidden_field_tag "advanced","true"%>
	<input type="button" name="back_to_simple" value="Back to normal search" size="40" id="back_to_simple" onclick="Element.hide('search-bar-wrapper')">

	<span id="searchsubmit">
		<%= submit_tag 'Search', :size =>40%>
	</span>
<% end -%>
</div>