<div>
  <h1>Project Search:</h1>
  <div class='projects-search-home'>
    <div>
      <% form_tag (search_dt_projects_path,{:id => 'project_search', :method => :get, :onsubmit => "if($('keywords').value=='Search'){ $('keywords').value='';}"} ) do %>
      <%= text_field_tag 'keywords', (params[:keywords].nil? ? 'Search' : params[:keywords]), 
      :title => 'Search', 
      :size => 65 ,
      :onblur =>"if(!this.value) this.value='Search';", 
      :onfocus => "if(this.value=='Search') this.value='';"
      %>
      <span id="searchsubmit">
        <%= submit_tag 'go',
        :id => 'simple_search_submit', 
        :class => 'submitreplace'
        %>
      </span>
    </div>
    <p>Search by location, cause, or name. eg. "women education africa" <br>
      Or try our <%= link_to 'Advanced Search', advancedsearch_dt_projects_path %>
    </p>

    <% end -%>
  </div>
  
  <h3> Or list projects by:</h3>
  <div class='projects-list-by'>
    <div class='list-sectors'>
      <h3>Cause/Sector</h3>
      <%= sectors_projects %>
    </div>
  </div>
  
  <div class='list-countries'>
  
  </div>
</div>
<br>
<h1>This Month's Featured Projects</h1>
<div>
<%= render :partial => '/dt/projects/featured_project', :collection => @projects if @projects %>
</div>
