<%- content_for :html_title do -%><%= @nation.name %><%- end -%>

<%= render(:partial => 'project_header', :object => @projects) %>

<div class="project-content">
	<h1><%= @nation.name %></h1>
	<p><%= @nation.description %></p>
</div>
<div class='project-sidebar'>
  <% if @nation.file_image? %><%= image_tag @nation.file_image, :alt => "#{@nation.name} Image" %><% end %>
  <% if @nation.quick_fact_places.size > 0 -%>
  <div class="quickfacts">
    <h2>Quick Facts</h2>
    <ul>
      <%= render :partial => 'quickfact_place', :collection => @nation.quick_fact_places %>
      <li class="blueblock"><%= link_to "Find other projects in this country", dt_projects_path(:search => { :country_id => [@nation.id] } ) %></li>
    </ul>
  </div>
  <% end -%>

  <% if @project.nation.rss_url? && @news_feed %>
  <h5>NEWS FEEDS</h5>
  <ul>
    <%= render :partial => 'news_feed_entry', :collection => @news_feed.entries %>
    <li><%= link_to "Read More&hellips;", @news_feed.url %></li>
  </ul><% end %>

  <%= mdg_goals %>
</div>
