<div class="quickfactsHeader">Quick Facts:</div>
<ul>
  <% if @project.lives_affected? %><li><strong>Lives Affected:</strong> <%= @project.lives_affected %></li><% end %>
  <li><strong>Funding Requirement:</strong> <%= number_to_currency(@project.total_cost) %></li>
  <li><strong>Raised:</strong> <%= number_to_currency(@project.dollars_raised) %></li>
  <!-- <li><strong>Dollars Spent:</strong> <%= number_to_currency(@project.dollars_spent) %></li> -->
  
  <li><strong>Current Need:</strong> <%= number_to_currency(@project.current_need) %></li>
	<% if @project.fundable? %>
		<div class="sidebar-give">
			<% link_to "<img src='/images/dt/placeholders/give.gif' alt='Give' />", give_dt_project_path(@project) %>			
			<%= image_tag("/images/dt/placeholders/give.gif", :alt => 'Give', :title => 'Give', :onclick => "Element.toggle('give-disambiguation-box-#{@project.id}');")%>
			<div id='give-disambiguation-box-<%= @project.id %>' class="give-disambiguation-box" style="display:none;">
				<ul>
					<li><%= link_to("Give to this project directly", new_dt_investment_path(:project_id => @project.id)) %></li>
					<li><%= link_to("Give to this project on behalf of someone", new_dt_gift_path(:project_id => @project)) %></li>
				</ul>
			</div>
			
		</div>
	<% end %>
  
</ul>
