
    <div class="projectbuttons clearfix">
      <% if @project.fundable? %><%= link_to "<span>Gift this Project</span>", new_dt_gift_path(:project_id => @project), :class => "button-gift" %><% end %>
      <% if @project.fundable? %><%= link_to "<span>Invest</span>", new_dt_investment_path(:project_id => @project), :class => "button-invest" %><% end %>
    </div>
    <div class="projectactions">
      <ul>
        <li class="blueblock"><%= link_to "Tell-A-Friend", new_dt_tell_friend_path( :project_id => @project.id ) %></li>
        <li class="blueblock"><%= link_to "Send My Wishlist", new_message_dt_account_my_wishlists(current_user, :project_id => @project.id ) %></li>
        <% if !logged_in? || (logged_in? && !current_user.my_wishlists.find(:first, :conditions => {:project_id => @project.id})) %><li class="blueblock"><%= link_to "&nbsp;Add to My Wishlst", dt_my_wishlists_path(:account_id => current_user, :project_id => @project), :method => :post %></li><% end %>
        <% if logged_in? && current_user.group_admin? %><li class="blueblock"><%= link_to "&nbsp;Add to Group Wishlst", new_dt_wishlist_path(:project_id => @project) %></li><% end %>
        <% if @project.fundable? %><li class="blueblock"><%= link_to "&nbsp;Invest in this Project", new_dt_investment_path(:project_id => @project.id) %></li><% end %>
      </ul>
    </div>
