<%- content_for :html_title do -%>Project Search Results<%- end -%>

<div>
  <strong>You have searched using the following terms:</strong>
  <% if @place %><div class="textsm" style="padding-bottom:0;"><strong>Place:</strong>          <%= link_to @place.name,   dt_search_path(:place_id => @place.id) %></div><% end %>
  <% if @cause %><div class="textsm" style="padding-bottom:0;"><strong>Cause:</strong>          <%= link_to @cause.name,   dt_search_path(:cause_id => @cause.id) %></div><% end %>
  <% if @partner %><div class="textsm" style="padding-bottom:0;"><strong>Organization:</strong> <%= link_to @partner.name, dt_search_path(:partner_id => @partner.id) %></div><% end %>
  <% if !@place && !@cause && !@partner %><div class="textsm" style="padding-bottom:0;">You didn't specify any terms. Below is the list of all projects.</div><% end %>
</div>

<% if @search.size > 0 %>

<div id="subnav" style="padding-left:0;">
  <ul style="margin-bottom:0;">
    <li><%= @search.total_entries %> Projects Found</li>
  </ul>
	
  <!-- <ul style="margin-bottom:0;">
    <li><strong>SORT BY:</strong></li>
    <li>&nbsp;</li>
    <% [["date", "Target Start Date"], ["budget", "Budget"], ["organization", "Organization"], ["place", "Place"]].each do |term| %>
      <% current = params[:order] == term[0] ? "current" : "" %>
      <li ><%= link_to term[1], search_dt_projects_path(params.merge({:order => term[0]})) %></li>
    <% end %>
  </ul> -->
</div>
<% end %>
<%= will_paginate @search %>
<% @search.each do | project | @project = project%>

<div class="project" id="projectInfo-<%= project.id %>">
    <div class="columns">
      <div class="content">
        <div class="contentmargin">
          <h2><%= link_to project.name, dt_project_path(project) %></h2>
          <div class="projectRank">
            <ul class="specList">
              <% if project.target_start_date? %><li><span><strong>Target Start Date:</strong> <%= project.target_start_date.to_formatted_s(:long) %></span></li><% end %>
              <% if project.partner_id? && project.partner %><li><span><strong>Organization:</strong> <%= link_to project.partner.name, organization_dt_project_path(project) %></span></li><% end %>
            </ul>
          </div>

          <p><strong>Project Description:</strong> <%= project.summarized_description(50) %>&nbsp; &#8250; <%= link_to "Read more&hellip;", dt_project_path(project.id) %></p>
        </div>
      </div>
      
    	<div class="sidebar">
    	  <div class="projectbuttons">
          <% if project.fundable? %><%= link_to "<span>Gift this Project</span>", new_dt_gift_path(:project_id => project), :class => "button-gift" %><% end %>
          <% if project.fundable? %><%= link_to "<span>Invest</span>", new_dt_investment_path(:project_id => project), :class => "button-invest" %><% end %>
        </div>
        <div class="quickfacts">
        	<%= project_search_quickfacts %>
        </div>
    	</div>
    </div>
  </div>
<%end%>
<% if @search.empty? %>
	<div> No results were found for "<%= @search.query%>"</div>
<%end%>

