<%- content_for :html_title do %><%= h @project.name %><% end -%>
<%- content_for :nav do %><%= project_nav %><% end -%>

<div class="projectRank">
  <ul class="specList">
    <% if @project.target_start_date? %><li><span><strong>Target Start Date:</strong> <%= @project.target_start_date.to_formatted_s(:long) %></span></li><% end %>
    <% if @project.partner_id? && @project.partner %><li><span><strong>Organization:</strong> <%= link_to @project.partner.name, organization_dt_project_path(@project) %></span></li><% end %>
  </ul>
</div>

<div class="projectDescription">
  <p><%= @project.description %></p>
</div>

<% if @project.rss_url && @rss_feed %>
<h2>Stories from the field</h2>
<%= render :partial => 'blog' %>
<% end %>

<% if @flickr_images.size > 0 %>
<h2>Project Photos</h2>
<%= will_paginate @flickr_images, :param_name => 'flickr_page' %>
<%= render :partial => 'flickr_photo', :collection => @flickr_images %>
<% end %>

<% if @youtube_videos.size > 0 %>
<h2>Project Video</h2>
<%= will_paginate @youtube_videos, :param_name => 'youtube_page' %>
<%= render :partial => 'youtube_video', :collection => @youtube_videos %>
<% end %>

<% content_for :sidebar do %>
  <%= project_actions %>
  <%= render :partial => 'related_projects' %>
  <div class="quickfacts">
  <%= project_quickfacts %>
  </div>
  
  <%= dt_profile_sidebar %>
<% end %>