<%- content_for :html_title do %><%= h @project.name %><% end -%>
<div id='projectRank'>
  <div class="project-content">
    <div id='project-flickr-slide-show'>
    </div>
      
    <%= @project.short_description %>
       
    <%= @project.description %>
    
  </div>
  <div class='project-sidebar'>
    <img src="/images/tmp/sectorbar_4sectors.png" align="top" />
    <img src="/images/tmp/give.gif" align="top"/><br />

    <div id="project-accordion" class="accordion">  
         <div class="accordion-toggle">Quick Facts</div>    
         <div class="accordion-content">
           <div class="quickfacts">
              <ul>
                <% if @project.lives_affected? %><li><strong>Lives Affected:</strong> <%= @project.lives_affected %></li><% end %>
                <li><strong>Funding Requirement:</strong> <%= number_to_currency(@project.total_cost) %></li>
                <li><strong>Raised:</strong> <%= number_to_currency(@project.dollars_raised) %></li>
                
                <li><strong>Current Need:</strong> <%= number_to_currency(@project.current_need) %>
                  
                </li>
              </ul>
           </div>
         </div>    
         
         <div class="accordion-toggle">Financial Data</div>    
         <div class="accordion-content">Content 2</div>
             
         <div class="accordion-toggle">Program</div>    
         <div class="accordion-content">Content 3</div>    
         
         <div class="accordion-toggle">Community</div>    
         <div class="accordion-content">Content 4</div>
         
         <div class="accordion-toggle">Nation</div>    
         <div class="accordion-content">Content 5</div>
         
         <div class="accordion-toggle">Implementing Organization</div>    
         <div class="accordion-content">Content 6</div>
    </div>
    <div id="buttonTellFriend"><a href="/dt/tell_friends/new">Tell a Friend</a></div>
  </div>
</div>
<hr style='clear:both;'>

<%= javascript_tag "document.observe('dom:loaded', function(){ accordion = new Accordion('project-accordion', 1);})"%>




