<%- content_for :og_image do -%>/images/logo.png<%- end -%>
<%- content_for :og_description do -%><%= @project.short_description %><%- end -%>
<% html_title(@project.name) %>

<%= render 'project_header' %>

<h1 class="project-title"><%= @project.name %></h1>

<%= render :partial => 'project_details' %>

<div class="project-description">
  <%= render 'project_images' %>
  
  <div class="project-description">
    <%= @project.description %>
  </div>
</div>


<% content_for :project_sidebar do %>
  <div><%= link_to image_tag('/images/give/uforward.png', :alt => ''), new_dt_gift_path(:project_id => @project.id), :title => "U:forward - pay it forward as a gift." %></div>
  <div><%= link_to image_tag('/images/give/udirect.png', :alt => ''), new_dt_investment_path(:project_id => @project.id), :title => "U:direct - Give directly to this project." %></div>

  <div class="lives-affected">
    <span style="font-size:3em"><%= number_with_delimiter(@project.lives_affected.to_i) %></span><br>
    <em>lives are affected<br>
    by this project</em>
  </div>
  
  <p><strong>Implementing Organization</strong></p>
  <div class="smaller">
    <p><strong><%= link_to @project.partner.name, organization_dt_project_path(@project) %></strong></p>
    <div>
      <%= @project.partner.description %>
    </div>
  </div>
<% end %>