<%- content_for :html_title do -%><%= @project.partner.name %>: <%= @project.name %><%- end -%>

<%= render(:partial => 'project_header', :object => @projects) %>

<div class="project-content">
	<%= flickr_slider %>
	<%= @project.description %>
</div>
<div class='project-sidebar'>
	<div id="project-accordion" class="accordion">		
		<div class="accordion-toggle">Quick Facts</div>    
		<div class="accordion-content">
			<div class="quickfacts">
				<%= render :partial => 'small_project_quickfacts' %>
			</div>
		</div>    

		<% if @budget_items%>
			<div class="accordion-toggle">Financial Data</div>    
			<div class="accordion-content">
				<div class="quickfacts">
					<%= render :partial => 'project_financial_data' %>
				</div>
			</div>
		<% end%>

		<% if @project.partner %>
			<div class="accordion-toggle">Implementing Organization</div>    
			<div class="accordion-content">
				<div class="quickfacts">
					<ul>
						<li><strong>Organization:</strong> <%= link_to(@organization.name, organization_dt_project_path(@project) )%></li>
						<li><strong>Description:</strong> <%= truncate(@organization.description.gsub(/<\/?[^>]*>/, ""), 280) %> <%= link_to "Read more&hellip;", organization_dt_project_path(@organization.id) %></li>
					</ul>
				</div>
			</div>
		<% end %>
	</div>
	<div class="project-sidebar-buttons">
		<% if @project.fundable? %>
			<%= image_tag("/images/dt/buttons/give.gif", :alt => 'Give', :title => 'Give', :onclick => "Element.toggle('give-disambiguation-box-#{@project.id}');")%>
		<% end %>
		<a href="/dt/tell_friends/new?project_id=<%=@project.id%>"><img src="/images/dt/buttons/tellFriend_lgrey2.gif"></a>
		<div id='give-disambiguation-box-<%= @project.id %>' class="give-disambiguation-box" style="display:none;">
		  <ul class="arrow">
				<li><%= link_to("Give to this project directly", new_dt_investment_path(:project_id => @project.id)) %></li>
				<li><%= link_to("Give to this project on behalf of someone", new_dt_gift_path(:project_id => @project)) %></li>
				<% if session[:gift_card_balance] %>
				<li><%= link_to("Give my entire Gift Card Balance to this project", new_dt_investment_path(:project_id => @project, :directed_gift => 1)) %></li>
				<% end %>
			</ul>
		</div>
	</div>
	
</div>


<%= javascript_tag "document.observe('dom:loaded', function(){ accordion = new Accordion('project-accordion', 1);})"%>

<div class="project-details">
	<div class ="detail-tabs clearfix">
		<ul id='ul-project' class="left-tabs clearfix">
			<li class="detail-tab" id='intended-li'><a href="#intended" class="nav-tab" onclick="tab_select( $('intended-li'), $('intended_outcome') );"><span>Intended Outcome</span></a></li>
			<li class="detail-tab" id='project-li'><a href="#home" class="nav-tab" onclick="tab_select( $('project-li'), $('project_plan') );"><span>Project Plan</span></a></li>
			<li class="detail-tab" id='measurable-li'><a href="#measurable" class="nav-tab" onclick="tab_select( $('measurable-li'), $('measurable_feedback') );"><span>Measurable Feedback</span></a></li>
			<li class="detail-tab" id='stories-li'><a href="#stories" class="nav-tab" onclick="tab_select( $('stories-li'), $('project_stories') );"><span>Stories</span></a></li>
			<li class="detail-tab" id='photos-li' onclick="tab_select( $('photos-li'), $('project_photos') );"><a href="#photos" class="nav-tab" ><span>Photos</span></a></li>
			<li class="detail-tab" id='videos-li' onclick="tab_select( $('videos-li'), $('project_videos') );">
				<%= link_to_remote '<span>Videos</span>',
					:url  => {:controller => :projects, :action => 'get_videos', :id => @project.id},
					:method => :get,
					:before   => %(Element.show("ajax_busy")),
					:success  => %(Element.hide("ajax_busy")),
					:html => {:id => @project.id, :class=>'nav-tab'}
			%>
			</li>
			<%= javascript_tag "document.observe('dom:loaded', function(){  init_tab();})"%>
		</ul>
	</div>
	<div class="detail-content">
		<%= show_spinner() %>
		<div id='project_plan'>
			<% if !@project.milestones.empty? && !@project.target_start_date.nil? %>
			  <ul>
				<%= render :partial => 'milestone', :collection => @project.milestones%>
				</ul>
			<% else %>
				<h2>There is no project plan data available.</h2>
			<% end %>  
		</div>

		<!-- intended outcome -->
		<div id='intended_outcome' style='display:none'>
			<% if @project.intended_outcome? %>
				<div>
					<%= @project.intended_outcome %>
				</div>
			<% else %>
				<h2>There is no intended outcome data available.</h2>
			<% end %>

		</div>

		<div id='measurable_feedback' style='display:none;'>
			<% if @project.meas_eval_plan? %>
				<div>
					<h2>Measurable Feedback Reporting Plan:</h2>
					<%= @project.meas_eval_plan %>
				</div>
			<% end %>
		
			<% if @project.key_measures.size > 0 %>
				<h2>Measurements and Evaluations</h2>
				<div class="key_measures">
					<%= render :partial => 'key_measure', :collection => @project.key_measures %>
				</div>
			<% else %>
				<h2>There is no measurable feedback data available.</h2>
			<% end %>
		
		</div>
		<div id='project_stories' style='display:none;'>
			<% if @project.rss_url && @rss_feed %>
				<h2>Stories from the field</h2>
				<%= render :partial => 'blog' %>
			<% else %>
			  <h2>No stories available for this project yet</h2>
			<% end %>		
		</div>

		<div id='project_photos' style='display:none'>
			<% if @flickr_images.size > 0 %>
				<h2>Project Photos</h2>
				<%= will_paginate @flickr_images, :param_name => 'flickr_page' %>
				<%= render :partial => 'flickr_photo', :collection => @flickr_images %>
			<% else %>
				<h2>There are no photos available.</h2>
			<% end %>
		</div>

		<div id='project_videos' style='display:none;'>
			<% if @youtube_videos.size > 0 %>
				<h2>Project Videos</h2>
				<%= will_paginate @youtube_videos, :param_name => 'youtube_page' %>
				<%= render :partial => 'youtube_video', :collection => @youtube_videos %>
			<% else %>
				<h2>There are no videos available.</h2>
			<% end %>
		</div>
	</div>
</div>

