<%- content_for :html_title do -%>Sign-in<%- end -%>

<div<%= raw ' style="margin:18px;"' if request.xhr? %>>
  <%= render :partial => 'dt/accounts/inactive' if @activated === false %>

  <div class="clearfix">
    <div class="span-6 append-1">
      <h2 class="plain">Login</h2>

      <div class="facebooklogin">
        <div class="img"><%= link_to image_tag('dt/authentications/facebook_24.png', :size => "24x24", :alt => ""), '/dt/auth/facebook' %></div>
        <%= link_to 'Login using facebook', '/dt/auth/facebook' %>
      </div>

      <% semantic_form_for :user, :url => dt_session_path(:protocol =>  ssl_protocol), :html => { :name => 'loginform', :id => 'loginform' } do |f| %>
        <% f.inputs do %>
          <%= f.input :login, :label => "Username/Email" %>
          <%= f.input :password, :as => :password, :hint => link_to("Forgot your password?", reset_dt_accounts_path) %>
          <%= f.input :remember_me, :as => :boolean %>
        <% end %>
        <% f.buttons do %>
          <%= f.commit_button "Login" %>
          <%= hidden_field_tag(:return_to, params[:return_to]) if params[:return_to] %>
        <% end %>
      <% end %>
    </div>
    <div class="span-5 prepend-1 border-left">
      <h2 class="plain">New to UEnd?</h2>
      <p>
        Follow your projects or set up a campaign.
      </p>
      <p>
        <%= link_to 'Join Us', new_dt_account_path, :class => 'smallbutton' %>
      </p>
    </div>
  </div>
</div>