<%- content_for :html_title do -%>Sign-in<%- end -%>
<%- content_for :head do -%><%= javascript_include_tag "dt/accounts" %><%- end -%>

<%= render :partial => 'dt/accounts/inactive' if @activated === false %>

<p>To sign in, enter your username (your email address) and password below.</p>
<% semantic_form_for :user, :url => dt_session_path(:protocol =>  ssl_protocol), :html => { :name => 'loginform', :id => 'loginform' } do |f| %>
  <% f.inputs do %>
    <%= f.input :login, :label => "Username/Email" %>
    <%= f.input :password, :as => :password, :hint => link_to("Forgot your password?", reset_dt_accounts_path) %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button "Login" %>
    <%= f.input :remember_me, :as => :boolean %>
    <%= hidden_field_tag(:return_to, params[:return_to]) if params[:return_to] %>
  <% end %>
<% end %>
<p>
  <%= link_to "Click here to create an account", dt_signup_path %><br />
  Registration is FREE and takes only a moment.
</p>
