<%- content_for :html_title do %>My Groups<% end -%>
<%- content_for :nav do %><%= dt_account_nav %><% end -%>


  <p>We change the world together. Connect with other people in your own city or from across the world who have chosen to help eradicate extreme poverty. Share your concern for specific projects, developing communities, or implementing organizations. Search <i>Connect</i> to find people who have already given to certain projects, or see who is interested in a specific project.</p>
  <% if @groups.size > 0 %>
  <%= render :partial => 'dt/groups/group', :collection => @groups %>
  <% else %>

      <p>You are not currently a member of any group. <%= link_to "Find a group", dt_groups_path %> or <%= link_to "create a group", new_dt_group_path %>.</p>

    <% content_for :sidebar do %>
  	  <%= dt_profile_sidebar %>
    <% end %>
  <% end %>
