<%- bg = tax_receipt_counter % 2 == 1 ? ' style="background:#EEE"' : '' -%>
<tr>
	<% if tax_receipt.gift_id? && tax_receipt.gift %> 
	  <td<%= bg %>><%= link_to 'Gift for ' + tax_receipt.gift.name, "/dt/accounts/%s/tax_receipts/%s.pdf" % [tax_receipt.user.id, tax_receipt.id] %></td>
	  <td<%= bg %>><%= tax_receipt.created_at.to_formatted_s :short %></td>
	  <td<%= bg %>><%= number_to_currency tax_receipt.gift.amount %></td>
	<% end %> 
	<% if tax_receipt.deposit_id? && tax_receipt.deposit %> 
	  <td<%= bg %>><%= link_to 'Account Deposit', "/dt/accounts/%s/tax_receipts/%s.pdf" % [tax_receipt.user.id, tax_receipt.id] %></td>
	  <td<%= bg %>><%= tax_receipt.created_at.to_formatted_s :short %></td>
	  <td<%= bg %>><%= number_to_currency tax_receipt.deposit.amount %></td>
	<% end %> 
	<% if tax_receipt.order_id? && tax_receipt.order %> 
    <td<%= bg %>><%= link_to 'Order', "/dt/accounts/%s/tax_receipts/%s.pdf" % [tax_receipt.user.id, tax_receipt.id] %></td>
    <td<%= bg %>><%= tax_receipt.created_at.to_formatted_s :short %></td>
    <td<%= bg %>><%= number_to_currency tax_receipt.order.total %></td>
	<% end %>
</tr>
