<%
transaction_type = transaction.class.to_s
amount = transaction_type == "Order" ? number_to_currency(transaction.total) : number_to_currency(transaction.amount)
date = transaction.created_at.to_formatted_s(:short) if transaction.created_at
bg = transaction_counter % 2 == 1 ? ' style="background:#EEE"' : ''
%>
<% case transaction_type -%>
<% when "Order" -%>
<tr>
  <td<%= bg %>><div id="orderTransaction-<%= transaction.id %>" class="orderTransaction"><%= transaction_type %></div>
  Thanks!</td>
  <td<%= bg %>><%= date %></td>
  <td<%= bg %>><%= amount %></td>
</tr>
<% when "Deposit" -%>
<tr>
  <td<%= bg %>><div id="depositTransaction-<%= transaction.id %>" class="depositTransaction"><%= transaction_type %></div>
  <% if transaction.gift_id %> 
    (<%= "a gift from #{transaction.gift.name}" %>
    <% if transaction.gift.project_id %>to the &quot;<%= link_to transaction.gift.project.name, dt_project_path(transaction.gift.project.id) %>&quot; Project<% end %>)
  <% end %></td>
  <td<%= bg %>><%= date %></td>
  <td<%= bg %>><%= amount %></td>
</tr>
<% when "Gift" -%>
<tr>
  <td<%= bg %>><div id="giftTransaction-<%= transaction.id %>" class="giftTransaction"><%= transaction_type %> to <%= link_to (transaction.to_name? ? transaction.to_name : transaction.to_email), "mailto:#{transaction.to_email}" %> (from your <%= transaction.credit_card? ? 'credit card' : 'account' %>)</div></td>
  <td<%= bg %>><%= date %></td>
  <td<%= bg %>><%= amount %></td>
</tr>
<% when "Investment" -%>
<tr>
  <td<%= bg %>><div id="investmentTransaction-<%= transaction.id %>" class="investmentTransaction"><%= transaction_type %></div> 
  <% if transaction.gift_id %>(<%= "a gift from #{transaction.gift.name}" %>)<% end %>
  in <%= link_to transaction.project.name, dt_project_path(transaction.project.id) %>. Thanks!</td>
  <td<%= bg %>><%= date %></td>
  <td<%= bg %>>(<%= amount %>)</td>
</tr>
<% when "AdminDeposit" -%>
<tr>
  <td<%= bg %>><div id="investmentTransaction-<%= transaction.id %>" class="investmentTransaction">Deposit (from U.S.)</div> 
  <td<%= bg %>><%= date %></td>
  <td<%= bg %>><%= amount %></td>
</tr>
<% end %>
