<%
transaction_type = transaction.class.to_s
amount = transaction_type == "Order" ? number_to_currency(transaction.total) : number_to_currency(transaction.amount)
date = transaction.created_at.to_formatted_s(:short) if transaction.created_at
bg = transaction_counter % 2 == 1 ? ' style="background:#EEE"' : ''
%>
<% case transaction_type -%>
<% when "Order" -%>
<tr>
  <td<%= bg %>><div id="orderTransaction-<%= transaction.id %>" class="orderTransaction"><strong><%= transaction_type %></strong></div>
  Thanks!</td>
  <td<%= bg %>><%= date %></td>
  <td<%= bg %>><%= amount %></td>
</tr>
<% when "Deposit" -%>
<tr>
  <td<%= bg %>><div id="depositTransaction-<%= transaction.id %>" class="depositTransaction"><strong><%= transaction_type %></strong>
    <%= (transaction.order_id)?" (Order ##{transaction.order_id})":"" %> 
	</div>
  <% if transaction.gift_id %> 
    (<%= "a gift from #{transaction.gift.name}" %>
    <% if transaction.gift.project_id %>to the &quot;<%= link_to transaction.gift.project.name, dt_project_path(transaction.gift.project.id) %>&quot; Project<% end %>)
  <% end %></td>
  <td<%= bg %>><%= date %></td>
  <td<%= bg %>><%= amount %></td>
</tr>
<% when "Gift" -%>
<tr>
  <td<%= bg %>><div id="giftTransaction-<%= transaction.id %>" class="giftTransaction"><strong><%= transaction_type %></strong> to <%= link_to (transaction.to_name? ? transaction.to_name : transaction.to_email), "mailto:#{transaction.to_email}" %> (from your <%= transaction.credit_card? ? 'credit card' : 'account' %>)
    <%= (transaction.order_id)?" (Order ##{transaction.order_id})":"" %> 
  </div></td>
  <td<%= bg %>><%= date %></td>
  <td<%= bg %>>(<%= amount %>)</td>
</tr>
<% when "Investment" -%>
<tr>
  <td<%= bg %>><div id="investmentTransaction-<%= transaction.id %>" class="investmentTransaction">
  	<strong><%= transaction_type %></strong>
  <%= (transaction.order_id)?" (Order ##{transaction.order_id})":"" %> 
  </div> 
  <% if transaction.gift_id %>(<%= "a gift from #{transaction.gift.name}" %>)<% end %>
  in <%= link_to transaction.project.name, dt_project_path(transaction.project.id) %>. Thanks!</td>
  <td<%= bg %>><%= date %></td>
  <td<%= bg %>>(<%= amount %>)</td>
</tr>
<% when "Pledge" -%>
<tr>
  <td<%= bg %>><div id="investmentTransaction-<%= transaction.id %>" class="investmentTransaction">
  	<strong><%= transaction_type %></strong>
  <%= (transaction.order_id)?" (Order ##{transaction.order_id})":"" %> 
  </div> 
  <% if !transaction.participant_id %>
  	<% if !transaction.team_id %>
  		a pledge to <%= link_to(transaction.campaign.name,dt_campaign_path(transaction.campaign)) %>
  	<% else %>
  		a pledge to <%= link_to(transaction.team.name,dt_team_path(transaction.team)) %>, 
  		a team participating in <%= link_to(transaction.team.campaign.name, dt_campaign_path(transaction.team.campaign)) %>
  	<% end %>
  <% else %>
  	a pledge to <%= link_to(transaction.participant.name,dt_participant_path(transaction.participant)) %> 
  	participating in <%= link_to(transaction.participant.team.campaign.name, dt_campaign_path(transaction.participant.team.campaign)) %>
  	<% if !transaction.participant.team.generic %>
  		as a member of <%= link_to(transaction.participant.team.name, dt_team_path(transaction.participant.team)) %>
  	<% end %>
  <% end %>
  </td>
  <td<%= bg %>><%= date %></td>
  <td<%= bg %>>(<%= amount %>)</td>
</tr>
<% when "AdminDeposit" -%>
<tr>
  <td<%= bg %>><div id="investmentTransaction-<%= transaction.id %>" class="investmentTransaction"><strong>Deposit</strong> (from U.S.)</div> 
  <td<%= bg %>><%= date %></td>
  <td<%= bg %>><%= amount %></td>
</tr>
<% when "RegistrationFee" %>
  <tr>
    <td>
      a registration fee for 
      <%= link_to(transaction.participant.team.campaign.name, dt_campaign_path(transaction.participant.team.campaign)) %>
    </td>
  </tr>
<% end %>
