      <li class="wishlist-item"><%= link_to wishlist_project.name, dt_project_path(wishlist_project) %>
        <% if wishlist_project.community_id? %><p><strong>Location:</strong> <%= wishlist_project.community.name %>, <%= wishlist_project.nation.name %></p><% end %>
        <p>
          <strong>Cause(s):</strong> 
          <% if wishlist_project.project_status_id? && wishlist_project.project_status %>| <strong>Status:</strong> <%= wishlist_project.project_status.name %> <% end %>
        <br />
          <% if wishlist_project.fundable? %><%= link_to "INVEST IN THIS PROJECT", new_dt_investment_path(:project_id => wishlist_project) %><% end %>
          | <%= link_to "REMOVE PROJECT", iend_user_my_wishlist_path(current_user, current_user.my_wishlists.find_by_project_id(wishlist_project.id).id), :method => :delete %>
        </p>
      </li>
