<%- content_for :nav do -%><%= dt_account_nav %><%- end -%>
<%- content_for :html_title do -%>Edit My Profile<%- end -%>
<%- content_for :head do -%><%= javascript_include_tag "dt/accounts" %><%- end -%>
<%- content_for :top_content do -%><%= render :partial => 'dt/accounts/inactive' if logged_in? && !current_user.activated? %><%- end -%>

<%= error_messages_for :user %>
<% form_for(:user, :url => dt_account_path(@user), :html => { :method => 'put', :id => "userform", :name => "userform"}) do |f| -%>
<div class="userform">

	<fieldset>
		<legend class="header">Login/Email</legend>
	  <% if @user.under_thirteen? %>
		<div class="textsm">If you need to change your email address, please have your parent use their alternate valid email address.</div>
		<% else %>
		<div class="textsm">If you need to change your email address, please use a valid alternate email address.</div>
		<% end %>
		<ol>
  		<li><label for="login"><%= render :partial => 'dt/shared/form_required' %>Login/Email</label><%= f.text_field :login %></li>
		</ol>
	</fieldset>

	<fieldset>
	  <legend>Your Identity</legend>
	  <% if @user.under_thirteen? %>
	  <div class="textsm">Please enter a display name for your child that is not personally identifiable</div>
	  <% else %>
	  <div class="textsm">You must either give your first and last name or your display name. If you include a display name, it will be used to identify you on our website. If not, we will use your first name and last initial.</div>
	  <% end %>
		<ol>
			<% unless @user.under_thirteen? %><li><label for="user_first_name">First Name</label> <%= f.text_field :first_name %></li><% end %>
			<% unless @user.under_thirteen? %><li><label for="user_last_name">Last Name</label> <%= f.text_field :last_name %></li><% end %>
			<li><label for="user_display_name">Display Name</label> <%= f.text_field :display_name %></li>
		</ol>
	</fieldset>

	<%= error_messages_for :password %>

	<fieldset>
	  <legend>Change Password</legend>
		<div class="textsm">If you wish to change your password, please enter your current password along with a new password. It must be longer than 4 characters and try to make it something you'll remember.</div>
		<ol>
			<li><label for="old_password">Current Password</label> <%= password_field_tag :old_password %></li>
			<li><label for="user_password">Password</label> <%= f.password_field :password %></li>
			<li><label for="user_password_confirmation">Confirm Password</label> <%= f.password_field :password_confirmation %></li>
		</ol>
	</fieldset>

	<% unless @user.under_thirteen? %>
	<fieldset>
	  <legend>Personal Details</legend>
		<div class="textsm">The following fields are optional.</div>
		<ol>
			<li class="formInput"><label for="user_address">Address</label> <%= f.text_field :address %></li>
			<li><label for="user_city">City</label> <%= f.text_field :city %></li>
			<li><label for="user_province">Province/State</label> <%= f.text_field :province %></li>
			<li><label for="user_postal_code">Postal/Zip Code</label> <%= f.text_field :postal_code %></li>
			<li><label for="user_country">Country</label> <%= f.text_field :country %></li>
		</ol>
	</fieldset>
  <% end %>
  
	<%= submit_tag 'Update Profile', :class => 'buttonsubmit' %>
</div>
<% end -%>

<%- content_for :sidebar do -%>
  <%= dt_profile_sidebar %>
<%- end -%>
