<%- content_for :nav do -%><%= dt_account_nav %><%- end -%>
<%- content_for :html_title do -%>Sign Up<%- end -%>
<%- content_for :head do -%><%= javascript_include_tag "dt/accounts" %><%- end -%>

<p>To sign up, enter your information in the spaces below.</p>
	
<%= error_messages_for :user %>
<% form_for(:user, :url => dt_accounts_path, :html => {:id => "signupform", :name => "signupform"}) do |f| %>
<div class="userform">
  <fieldset>
    <legend>Age Verification</legend>
    <p class="textsm">Please select the checkbox if you are under 13 years of age. ChristmasFuture is committed to your privacy and safety. See our <%= link_to "Privacy Policy", "/privacy", :rel => "blank" %> for more information.</p>
    <ol>
		  <li><label for="user_under_thirteen" class="left"><%= f.check_box :under_thirteen, :onclick => 'Account.toggle_personal_info(this.checked);' %> I am under 13 years old</label></li>
		</ol>
  </fieldset>

	<fieldset>
		<legend class="header">Login/Email</legend>
  <%# Users no longer have to activate via a sent email when they sign up
		<div class="notes">
		  <h5>Email Address</h5>
		  <p>After you sign up, we will send you an email to verify your address, after which you can log in.</p>
		</div>
  %>
		<div class="textsm underThirteen" style="display:none;">Please have your parent sign you up using their valid email address.</div>
		<ol>
  		<li><label for="login"><%= render :partial => 'dt/shared/form_required' %>Login/Email</label><%= f.text_field :login %></li>
		</ol>
	</fieldset>

	<fieldset>
	  <legend>Your Identity</legend>
	  <div class="textsm personalinfo">You must either give your first and last name or your display name. If you include a display name, it will be used to identify you on our website. If not, we will use your first name and last initial.</div>
		<div class="textsm underThirteen" style="display:none;">Please enter a display name for your child that is not personally identifiable</div>
	  <ol>
  		<li class="personalinfo"><label for="first_name">First Name</label><%= f.text_field :first_name %></li>
  		<li class="personalinfo"><label for="last_name">Last Name</label><%= f.text_field :last_name %></li>
		  <li><label for="display_name">Display Name</label><%= f.text_field :display_name %></li>
	  </ol>
  </fieldset>

	<fieldset>
	  <legend>Password</legend>
		<div class="textsm">Please provide a password. It must be longer than 4 characters and try to make it something you'll remember.</div>
	  <ol>
		  <li><label for="password"><%= render :partial => 'dt/shared/form_required' %>Password</label><%= f.password_field :password %></li>
		  <li><label for="password_confirmation"><%= render :partial => 'dt/shared/form_required' %>Confirm Password</label><%= f.password_field :password_confirmation %></li>
	  </ol>
  </fieldset>

	<fieldset class="personalinfo">
	  <legend>Personal Details</legend>
		<div class="textsm">The following fields (except Country) are optional.</div>
  	<ol>
  		<li><label for="address">Address</label><%= f.text_field :address %></li>
  		<li><label for="city">City</label><%= f.text_field :city %></li>
  		<li style="clear:left;"><label for="province">Province/State</label><%= f.text_field 'province', :size => 2, :maxlength => 2, :style => 'width:auto;' %></li>
  		<li style="clear:left;"><label for="postal_code">Postal/Zip Code</label><%= f.text_field :postal_code, :size => 10, :maxlength => 10, :style => 'width:auto;' %></li>
  		<li style="clear:left;"><label for="country"><%= render :partial => 'dt/shared/form_required' %>Country</label><%= f.select :country, country_select_options, :style => 'width:auto;' %></li>
  	</ol>
  </fieldset>
	<fieldset>
	  <legend>Terms of Service</legend>
	  <p class="textsm"><%= f.check_box :terms_of_use %> I have read the <a href="/terms-of-use" rel="blank">terms of use</a> and agree</p>
  </fieldset>
  
	<div id="buttonSignUp"><%= submit_tag 'Create Account', :class => 'buttonsubmit' %></div>
	<%= render :partial => 'dt/shared/form_requirednote' %>

</div>
<% end -%>

<%- content_for :sidebar do -%>
  <%= render "dt/accounts/profile_sidebar" %>
<%- end -%>
