<%- content_for :nav do -%><%= iend_user_nav %><%- end -%>
<%- content_for :html_title do -%>Sign Up<%- end -%>
<%- content_for :head do -%><%= javascript_include_tag "dt/accounts" %><%- end -%>

<p>To sign up, enter your information in the spaces below.</p>
  
<% semantic_form_for(@user, :url => iend_users_path, :html => {:id => "signupform", :name => "signupform", :multipart => true}) do |f| %>
  <%= f.semantic_errors :user %>
  <% f.inputs "Age Verification" do %>
    <li><p class="textsm">Please select the checkbox if you are under 13 years of age. Uend: is committed to your privacy and safety. See our <%= link_to "Privacy Policy", "/privacy", :rel => "blank" %> for more information.</p></li>
    <%= f.input :under_thirteen, :as => :boolean, :label => "I am under 13 years old" %>
  <% end %>
  <% f.inputs "Username/Email" do %>
    <li><div class="textsm underThirteen" style="display:none;">Please have your parent sign you up using their valid email address.</div></li>
    <%= f.input :login, :label => "Login/Email" %>
  <% end %>
  <% f.inputs "Your Identity" do %>
    <li><div class="textsm personalinfo">You must enter a display name that will be used to identify you on our website. You may also choose to give us your first and last name which will be used to personalize our communication with you.</div></li>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :display_name %>
    <%= f.input :country, :collection => country_select_options %>
    <%= f.input :image, :as => :file %>
    <%= f.input :bio, :input_html => { :rows => 8, :cols => 40 } %>
  <% end %>
  <% f.inputs "Password" do %>
    <li><div class="textsm">Please provide a password. It must be longer than 4 characters and try to make it something you'll remember.</div></li>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  <% end %>
  <% f.inputs "Terms of Service" do %>
    <%= f.input :terms_of_use, :label => 'I have read the <a href="/terms-of-use" rel="blank">terms of use</a> and agree' %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button %>
  <% end %>
<% end %>
<%= render :partial => 'dt/shared/form_requirednote' %>


<%- content_for :sidebar do -%>
  <%= render :file => "dt/accounts/profile_sidebar" %>
<%- end -%>
