<%- content_for :nav do -%><%= iend_user_nav %><%- end -%>
<%- content_for :html_title do -%>Complete your <%= session[:omniauth]['provider'] %> registration<%- end -%>
<%- content_for :head do -%><%= javascript_include_tag "dt/accounts" %><%- end -%>

<% content_for :top_content do %>
  <div class="span-18 prepend-top">
    <h1 style="text-align:center;">Complete Your <%= session[:omniauth]['provider'] %> Registration</h1>
  </div>
<% end %>


<h2>Already have a UEnd account? Login:</h2>
<% semantic_form_for :user, :url => dt_session_path(:protocol =>  ssl_protocol), :html => { :name => 'loginform', :id => 'loginform' } do |f| %>
  <% f.inputs do %>
    <%= f.input :login, :label => "Username/Email" %>
    <%= f.input :password, :as => :password, :hint => link_to("Forgot your password?", reset_iend_users_path) %>
    <%= f.input :remember_me, :as => :boolean %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button "Link #{session[:omniauth]['provider']} profile" %>
    <%= hidden_field_tag(:return_to, params[:return_to]) if params[:return_to] %>
  <% end %>
<% end %>

<h2>Complete your registration</h2>
<p>To complete your registration, please enter your information in the spaces below.</p>
<% semantic_form_for(@user, :url => iend_users_path, :html => {:id => "signupform", :name => "signupform", :multipart => true}) do |f| %>
  <%= f.semantic_errors :user %>
  <% f.inputs do %>
    <%= f.input :login, :label => "Login/Email" %>
  <% end %>
  <% f.inputs "Your Identity" do %>
    <li><div class="textsm personalinfo">You must enter a display name that will be used to identify you on our website. You may also choose to give us your first and last name which will be used to personalize our communication with you.</div></li>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :display_name %>
    <%= f.input :country, :collection => country_select_options, :include_blank => true %>
    <%= f.input :image, :as => :file %>
    <%= f.input :bio, :input_html => { :rows => 8, :cols => 40 } %>
  <% end %>
  <% f.inputs "Password" do %>
    <li><div class="textsm">Please provide a password. It must be longer than 4 characters and try to make it something you'll remember.</div></li>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  <% end %>
  <% f.inputs "Terms of Service" do %>
    <%= f.input :terms_of_use, :as => :boolean, :label => raw('I have read the <a href="/terms-of-use" rel="blank">terms of use</a> and agree') %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button "Complete Registration" %>
  <% end %>
<% end %>
<%= render :partial => 'dt/shared/form_requirednote' %>
