<% hide_login ||= false %>
<% if !logged_in? && !hide_login %>
  <h2>Already a user? Login:</h2>
  <% form_for(:user, :url => dt_session_url(:protocol =>  ssl_protocol), :html => { :name => 'loginform' }) do |f| %>
    <div class="textsm clearfix">
      <label for="login">Username/Email</label> <%= text_field_tag 'login', nil, :tabindex => 1 %><br />
      <label for="password">Password</label> <%= password_field_tag 'password', nil, :tabindex => 2 %><br />
      <label><%= check_box_tag "remember_me" %> Remember Me</label> | <%= link_to "Create Account", new_iend_user_path %><br />
      <%= submit_tag "Login", :class => "buttonsubmit" %><br />
      <div><%= link_to "Forgot your password?", reset_iend_users_path %></div>
    </div>
  <% end %>
<% end %>

<% if logged_in? %>
<h2>My Profile</h2>
  <p>
    <%= image_tag(current_user.image.url(:tiny), :alt => "", :style => "vertical-align:middle;") if current_user.image? %>
    <strong><%= link_to h(current_user.full_name), iend_user_path(current_user) %></strong> 
    <% unless current_user.under_thirteen? %>
    (<%= current_user.full_name %>)<% end %>
  </p>

  <h5>My Portfolio</h5>
  <div class="quickfacts">
  <ul>
    <li><strong><%= link_to "Invested:", iend_user_path(current_user, :transactions => 1) %></strong> <%= number_to_currency(current_user.invested) %></li>
    <li><strong><%= link_to "Account Balance:", iend_user_path(current_user) %></strong> <%= number_to_currency(current_user.balance) %></li>
  </ul>
  </div>
  <% if current_user.projects.size > 0 %>
  <div class="projectlist">
  <h5>My Projects</h5>
  <ul>
    <%= render :partial => 'dt/projects/project_list_item', :collection => current_user.projects %>
  </ul>
  </div>
  <% end %>
<% else %>  
  <h2>Why Signup?</h2>
  <p style="margin-bottom:0;">A Uend: account allows you to:</p>
  <ul>
    <li>track your giving history</li>
    <li>access your tax receipts</li>
    <li>save information preferences, so you don&rsquo;t have to re-enter it next time</li>
  </ul>
  
  <% unless @controller.class == Dt::CheckoutsController %>
  <div class="projectactions" style="display:none">
    <ul>
      <li class="blueblock"><%= link_to "Make a Deposit", logged_in? ? new_iend_user_deposit_path(current_user.id) : login_path %></li>
      <li class="blueblock"><%= link_to "Invest in a project", new_dt_investment_path %></li>
      <li class="blueblock"><%= link_to "Give a Gift", new_dt_gift_path %></li>
    </ul>
  </div>
  <% end %>
<% end %>
  <h2>Stay Involved </h2>
  <p>Keep supporting the movement! Be sure to visit the <a href="/get-involved">Get Involved</a> section to see how you can do more.</p>
