<% if logged_in? %>
<h2>My Profile</h2>
  <p><strong><%= current_user.full_name %></strong> 
  <% unless current_user.under_thirteen? %>
  (<%= current_user.full_name %>)<% end %></p>

  <h5>My Portfolio</h5>
  <div class="quickfacts">
  <ul> 
    <li><strong>Invested:</strong> <%= number_to_currency(current_user.invested) %></li>
    <li><strong>Account Balance:</strong> <%= number_to_currency(current_user.balance) %></li>
  </ul>
  </div>
  <% if current_user.projects.size > 0 %>
  <div class="projectlist">
  <h5>My Projects</h5>
  <ul>
    <%= render :partial => 'dt/projects/project_list_item', :collection => current_user.projects %>
  </ul>
  </div>
  <% end %>
<% else %>    
  <% unless @controller.class == Dt::CheckoutsController %>
  <div class="projectactions" style="display:none">
    <ul>
      <li class="blueblock"><%= link_to "Make a Deposit", new_dt_deposit_path %></li>
      <li class="blueblock"><%= link_to "Invest in a project", new_dt_investment_path %></li>
      <li class="blueblock"><%= link_to "Give a Gift", new_dt_gift_path %></li>
    </ul>
  </div>
  <% end %>
<% end %>
