<%- content_for :html_title do -%>My Account<%- end -%>
<%- content_for :nav do -%><%= dt_account_nav %><%- end -%>
<%- content_for :top_content do -%><%= render :partial => 'dt/accounts/inactive' if logged_in? && !current_user.activated? %><%- end -%>

<div id="intro">
</div>

<div class="projectlist" id="project-list">
  <h2>My Projects</h2>
  <p>These are the investments you have made</p>
	<% if @user.investments.size > 0 %>
    <ul>
      <%= render :partial => 'investment', :collection => @user.investments(:all, :order => 'created_at ASC') %>
    </ul>
	<% else %>
	  <div class="highlight">
	    <p>You have not invested in any projects.</p>
	    <p><%= link_to "Find a project", dt_projects_path %> that you're interested in and click the &quot;Invest&quot; button beside it.</p>
	  </div>
	<% end %>
</div>

<div id="wishlist">
  <h2>My Wishlist</h2>
	<div class="clearfix">
	  <%= link_to "<span>Send My Wishlist</span>", new_message_dt_account_my_wishlists_path( current_user ), :class => "button-send_wishlist" %>
	  <%= link_to "<span>Add New Project</span>", dt_projects_path, :class => "button-add_project" %>
	</div>
	<% if @user.projects.size > 0 %>
	  <div class="projectlist">
      <ul>
        <%= render :partial => 'wishlist_project', :collection => @user.projects %>
      </ul>
    </div>
	<% else %>
	  <div class="highlight">
	    <p>You have not added any projects to your wishlist</p>
	    <p><%= link_to "Find a project", dt_projects_path %> and click the &quot;Add to My Wishlist&quot; button beside it.</p>
	  </div>
	<% end %>
</div>

<div class="projectlist" id="project-list">
  <h2>My Projects</h2>
  <p>These are the investments you have made</p>
	<% if @user.investments.size > 0 %>
    <ul>
      <%= render :partial => 'investment', :collection => @user.investments(:all, :order => 'created_at ASC') %>
    </ul>
	<% else %>
	  <div class="highlight">
	    <p>You have not invested in any projects.</p>
	    <p><%= link_to "Find a project", dt_projects_path %> that you're interested in and click the &quot;Invest&quot; button beside it.</p>
	  </div>
	<% end %>
</div>

<div class="campaignlist" id="campaign-list">
  <h2>My Campaign Participation</h2>
  <p>This is a list of the campaigns you are involved with:</p>
	<% if @participants.size > 0 %>
    <ul>
      <%= render :partial => 'participant', :collection => @participants %>
    </ul>
	<% else %>
	  <div class="highlight">
	    <p>You have not participated in any campaigns</p>
	  </div>
	<% end %>
</div>

<% if @user.tax_receipts.length > 0 -%>
<h2 style="margin-top:10px;">Tax Receipts</h2>
<div class="account-summary">
	<div id="transaction-list">
		<table style="width:100%;">
		<tr><th>Investment</th><th>Date</th><th>Amount</th></tr>
		<%= render :partial => "tax_receipt", :collection => @user.tax_receipts %>
		</table>
	</div>
</div>
<% end -%>

<%- content_for :sidebar do -%>
  <%= dt_profile_sidebar %>
<%- end -%>