<%- content_for :html_title do -%>My Account<%- end -%>
<%- content_for :nav do -%><%= dt_account_nav %><%- end -%>
<%- content_for :top_content do -%><%= render :partial => 'dt/accounts/inactive' if logged_in? && !current_user.activated? %><%- end -%>

<% if @transactions.total_entries > 0 %><p style="font-weight:bold;" class="textsm">Uninvested Funds: <%= number_to_currency(current_user.balance) %></p><% end %>
<div class="account-summary" style="margin-bottom:18px;">
	<%= will_paginate @transactions, :param_name => 'tx_page' %>
	<% if @transactions.length > 0 -%>
	<div id="transaction-list">
		<table style="width:100%;">
		<tr><th>Transaction Description</th><th>Date</th><th>Amount</th></tr>
		<%= render :partial => "transaction", :collection => @transactions %>
		</table>
	</div>
	<%= will_paginate @transactions, :param_name => 'tx_page' %>
	<% else -%>
	<div class="highlight">
		<p>You have not made any transactions in your account yet.</p>
		<p>Get started by <%= link_to "depositing money", new_dt_account_deposit_path(:account_id => current_user.id) %> into your account. You can use this money to Invest in projects and give Gifts to your friends and family.</p>
	</div>
	<% end -%>
</div>


<%- content_for :sidebar do -%>
  <%= dt_profile_sidebar %>
<%- end -%>