<%
	show_address ||= false 
	show_admin ||= false
	content = ' ' + link_to(campaign.name,show_campaign_path(campaign.short_name))
%>
<% if controller.action_name == "search" %>
	<div class="<%= cycle('row_even','row_odd') %>" id="campaign_<%= campaign.id%>">
		<strong><%= link_to(campaign.name, dt_campaign_path(campaign)) %></strong>
		<div class="campaign_details">
			<p>
				<strong>Event Date: </strong><%= campaign.event_date %>, 
				<strong>Fundraising Goal:</strong> $ <%= campaign.fundraising_goal %>, 
				<strong>Raised to Date:</strong> $ <%= campaign.funds_raised %>
			
				<%= image_tag campaign.picture.thumb.url, :class => :thumbnail if campaign.picture? %>
				<div>
					<%= summarize_html(campaign.description, 200, true) %>
				</div>
			</p>
		</div>
		
	</div>
<% else %>

	<div class="campaign" id="campaign_<%= campaign.id%>">
		<% (content = content + " | " + link_to('Manage Campaign', manage_dt_campaign_path(campaign))) unless not campaign.owned? %>
		<%= campaign_h2_header(content, 'campaign_details_container')%>
		<div id="campaign_details_container" class="content_container">
			<ul class="details_list">
				<li class="detail"><strong>Fundraising Goal:</strong> $ <%= campaign.fundraising_goal %></li>
				<li class="detail"><strong>Start Date:</strong><%= campaign.start_date %></li>
				<li class="detail"><strong>Event Date:</strong><%= campaign.event_date %></li>
			</ul>
			<p>
				<%= image_tag campaign.picture.thumb.url, :class => :thumbnail if campaign.picture? %>
				<%= campaign.description %>
			</p>

			<ul class="details_list">
				<li class="detail"><strong>Creator: </strong><%= campaign.creator.name%></li>
				<li class="detail"><strong>Email: </strong><%= campaign.email%></li>
			</ul>
			<% if show_address == true %>
				<h2>Address</h2>
				<div id="<%= "contact_#{campaign.id}"%>">
					<p class="address">
						<%= campaign.address %> <br />
						<%= campaign.address_2 %> <br />
						<%= campaign.province %>, <%= campaign.postalcode %> <br />
						<%= campaign.country %>
					</p>
				</div>
			<% end %>
			<% if show_admin == true%>
				<div class="campaign_admin">
					<h2 class='admin'><span style="color:#000">Admin</span> |
						<%= ( link_to_remote('Activate', :update => :campaigns,
														:url => activate_dt_campaign_path(campaign), 
															:complete => "Element.show('flash');") + " | " ) unless not campaign.pending?
														 %>
						<%= delete_icon(dt_campaign_path(campaign)) %> | 
						<%= link_to('Archive Campaign',dt_campaign_path(campaign), :confirm => 'Are you sure you want to archive this campaign?', :method => :delete )%>
					</h2>
				</div>
			<% end %>
		</div>
	</div>
<% end %>