<div id="new_campaign" class="campaign_form clearfix">
  <% form_for([:dt, @campaign], :html => { :multipart => true}) do |f|%>

    <fieldset>
      <legend>Campaign Details</legend>

      <label>Name <%= form_required %></label>
      <%= f.text_field :name, :maxlength => 50, :size => 50 %>

      <% if (@is_new) %>
        <label>Short Name <%= form_required %></label>
        <span class="small_text">http://www.christmasfuture.org/dt/</span><%= f.text_field :short_name, :maxlength => 25, :size => 25 %>
        <%= what_is_this?'short_name', 'The short name is a small (10-20 characters) name to describe your campaign. It should not contain any spaces and should be concise so as to convey the central idea of your campaign. Also this name will be used to provide your campaign with a Christmas Future URL. http://www.christmasfuture.org/yourCampaignShortName'%>
        <%= observe_field :campaign_short_name, 
                          :frequency => 1,
                          :url => validate_short_name_of_new_dt_campaign_path,
                          :with => :campaign_short_name
        %>
        <%= show_spinner("Validating ") %>
        <div id="errors" style="display:none;">
        </div>
      <% end %>

      <label>Campaign type <%= form_required %></label>
      <%= collection_select :campaign_type, :id, CampaignType.find(:all), :id, :name %>
      <% 
        #TODO: Is this actually being used? Does it do anything?       
        if (@is_new)
            observe_field :campaign_type_id, 
                          :frequency => 0.25, 
                          :url => { :action => :update_team_config_options}, 
                          :with => :campaign_type_id
        end 
      %>

      <label>Contact Email <%= form_required %></label>
      <%# TODO: Rewrite this so that it's all part of one code block %>          
      <%# TODO: Any way of doing this without an if statement, i.e. only send :value through to the partial if @is_new is true %>          
      <% if (@is_new) %>
          <%= f.text_field :email, :maxlength => 75, :size => 50, :value => current_user.email %>
      <% else %>
          <%= f.text_field :email, :maxlength => 75, :size => 50 %>
          
          <%# TODO: This currently isn't doing anything - should it be removed? %>          
          <% f.check_box :use_user_email, :onclick => "Element.toggle('campaign_email');"%> 
      <% end  %>

      <label>Upload a Campaign image < 500 kb.  If you don't upload one a default image will be used for you.  You can also come back and upload your photo later.</label>
      <%= upload_column_field :campaign,  :picture  %>

      <label>Description <%= form_required %></label>
      <%= fckeditor_textarea( "campaign", "description", :toolbarSet=> 'ChristmasFuture', :height => 200 ) %> 

    </fieldset>

    <fieldset>
      <legend>Monetary Details</legend>
      
      <label>Fundraising Goal <%= form_required %></label>
      <span class="small_text">CAD $</span><%= f.text_field :fundraising_goal %>

      <label>Campaign Fee</label>
      <span class="small_text">CAD $</span><%= f.text_field :fee_amount %>

    </fieldset>

    <fieldset>
      <legend>Campaign Dates: <%= form_required %></legend>

      <label>Start of fundraising:</label>
      <%= f.datetime_select :start_date %>

      <label>Event Date: <%= form_required %></label>
      <%= f.datetime_select :event_date %>

      <label>Raise Funds Till: <%= form_required %></label>
      <%= f.datetime_select :raise_funds_till_date %>

      <label>Allocate Funds By: <%= form_required %></label>
      <%= f.datetime_select :allocate_funds_by_date %>
    </fieldset>


    <fieldset>
      <legend>Location</legend>

      <label>Address <%= form_required %></label>
      <%= f.text_field :address %> <br />
      <%= f.text_field :address_2 %>
  
      <label>City <%= form_required %></label>
      <%= f.text_field :city %>

      <label id="province">Province <%= form_required %></label>
      <% if (@is_new) %>
        <div id="province_holder">
          <%= province_selector(:campaign, :province)%>
        </div>
      <% else %>
          <%# TODO: Can't the province selector be used here as well? Just make sure that the correct province is selected when the edit page is rendered %>          
          <%= f.text_field :province %>
      <% end  %>
      
      <label>Country <%= form_required %></label>
      <%= f.country_select :country, ["Canada", "United States"]  %>
      <%= observe_field :campaign_country, 
                        :frequency => 0.25, 
                        :url => { :action => :update_address_details_for_country}, 
                        :with => :country
      %>    

      <label id="postal_code">Postal Code <%= form_required %></label>
      <%= f.text_field :postalcode %>

    </fieldset>

    <fieldset id="team_settings">
      <legend>Team Settings</legend>

      <label>Require Authorization to Add Team</label>
      <%= f.check_box :require_team_authorization %>
      
      <label>Allow Multiple Teams</label>
      <%= f.check_box :allow_multiple_teams %>
      
      <label>Maximum Number of Teams (optional, leave blank if no maximum)</label>
      <%= f.text_field :max_number_of_teams, :maxlength => 4, :size => 10 %>
      
      <label>Maximum Team Size (optional, leave blank if no maximum)</label>
      <%= f.text_field :max_size_of_teams, :maxlength => 4, :size => 10 %>
      
      <label>Maximum Number of Participants (optional, leave blank if no maximum)</label>
      <%= f.text_field :max_participants, :maxlength => 7, :size => 10 %>
    </fieldset>

    <fieldset id="participant_settings" style="display:none;">
      <legend>Participant Settings</legend>
      <label>Require Authorization to Join Campaign</label>
      <%= f.check_box :require_team_authorization %>
    </fieldset>

    <%# TODO: Is there a more elegant way to do this? %>          
    <% if (@is_new) %>
      <span class="create"><%= f.submit 'Create'%></span>
    <% else %>
      <span class="update"><%= f.submit "Update" %></span>
    <% end  %>

  <% end %>
</div>
