<div id="new_campaign" class="campaign_form clearfix">
  <% form_for([:dt, @campaign], :html => { :multipart => true}) do |f|%>

    <fieldset>
      <legend>Campaign Details</legend>

      <%= f.label :name, "Name#{form_required}" %>
      <%= f.text_field :name, :maxlength => 50, :size => 50 %>

      <% if (@is_new) %>
        <%= f.label :short_name, "Short Name#{form_required}" %>
        <span class="small_text">http://www.uend.org/dt/</span><%= f.text_field :short_name, :maxlength => 25, :size => 25 %>
        <%= what_is_this?'short_name', 'The short name is a small (10-20 characters) name to describe your campaign. It should not contain any spaces and should be concise so as to convey the central idea of your campaign. Also this name will be used to provide your campaign with a Uend: URL. http://www.uend.org/yourCampaignShortName'%>
        <%= observe_field :campaign_short_name, 
                          :frequency => 1,
                          :url => validate_short_name_of_new_dt_campaign_path,
                          :with => :campaign_short_name
        %>
        <%= show_spinner("Validating ") %>
        <div id="errors" style="display:none;">
        </div>
      <% end %>

      <%= f.label :campaign_type, "Campaign Type#{form_required}" %>
      <%= collection_select :campaign_type, :id, CampaignType.find(:all), :id, :name %>
      <% 
        #TODO: Is this actually being used? Does it do anything?       
        if (@is_new)
            observe_field :campaign_type_id, 
                          :frequency => 0.25, 
                          :url => { :action => :update_team_config_options}, 
                          :with => :campaign_type_id
        end 
      %>

      <%= f.label :email, "Contact Email#{form_required}" %>
      <%# TODO: Rewrite this so that it's all part of one code block %>          
      <%# TODO: Any way of doing this without an if statement, i.e. only send :value through to the partial if @is_new is true %>          
      <% if (@is_new) %>
          <%= f.text_field :email, :maxlength => 75, :size => 50, :value => current_user.email %>
      <% else %>
          <%= f.text_field :email, :maxlength => 75, :size => 50 %>
          
          <%# TODO: This currently isn't doing anything - should it be removed? %>          
          <% f.check_box :use_user_email, :onclick => "Element.toggle('campaign_email');"%> 
      <% end  %>

      <%= f.label :image, "Upload a Campaign image smaller than 1MB (1024 KB). If you don't upload one a default image will be used for you. You can also come back and upload your photo later." %>
      <%= f.file_field :image  %>

      <%= f.label :description, "Description#{form_required}" %>
      <%= fckeditor_textarea( "campaign", "description", :toolbarSet=> 'uEnd', :height => 200 ) %> 

    </fieldset>

    <fieldset>
      <legend>Monetary Details</legend>
      
      <%= f.label :fundraising_goal, "Fundraising Goal#{form_required}" %>
      <span class="small_text">CAD $</span><%= f.text_field :fundraising_goal %>

      <%= f.label :fee_amount, "Campaign Fee" %>
      <span class="small_text">CAD $</span><%= f.text_field :fee_amount %>
    </fieldset>

    <fieldset>
      <legend>Campaign Dates:</legend>

      <%= f.label :start_date, "Start of Fundraising#{form_required}" %>
      <%= f.datetime_select :start_date %>

      <%= f.label :event_date, "Event Date#{form_required}" %>
      <%= f.datetime_select :event_date %>

      <%= f.label :raise_funds_till_date, "Rause Funds Till#{form_required}" %>
      <%= f.datetime_select :raise_funds_till_date %>

      <%= f.label :allocate_funds_by_date, "Allocate Funds By#{form_required}" %>
      <%= f.datetime_select :allocate_funds_by_date %>
    </fieldset>


    <fieldset>
      <legend>Location</legend>

      <%= f.label :address, "Address#{form_required}" %>
      <%= f.text_field :address %> <br />
      <%= f.text_field :address_2 %>
  
      <%= f.label :city, "City#{form_required}" %>
      <%= f.text_field :city %>

      <%= f.label :province, "Province#{form_required}" %>
      <% if (@is_new) %>
        <div id="province_holder">
          <%= province_selector(:campaign, :province)%>
        </div>
      <% else %>
          <%# TODO: Can't the province selector be used here as well? Just make sure that the correct province is selected when the edit page is rendered %>          
          <%= f.text_field :province %>
      <% end  %>
      
      <%= f.label :country, "Country#{form_required}" %>
      <%= f.country_select :country, ["Canada", "United States"]  %>
      <%= observe_field :campaign_country, 
                        :frequency => 0.25, 
                        :url => { :action => :update_address_details_for_country}, 
                        :with => :country
      %>    

      <%= f.label :postalcode, "Postal Code#{form_required}" %>
      <%= f.text_field :postalcode %>

    </fieldset>

    <fieldset id="team_settings">
      <legend>Team Settings</legend>

      <%= f.label :require_team_authorization, "Require Authorization to Add Team" %>
      <%= f.check_box :require_team_authorization %>
      
      <%= f.label :allow_multiple_teams, "Allow Multiple Teams" %>
      <%= f.check_box :allow_multiple_teams %>
      
      <%= f.label :max_number_of_teams, "Maximum Number of Teams (optional, leave blank if no maximum)" %>
      <%= f.text_field :max_number_of_teams, :maxlength => 4, :size => 10 %>
      
      <%= f.label :max_size_of_teams, "Maximum Team Size (optional, leave blank if no maximum)" %>
      <%= f.text_field :max_size_of_teams, :maxlength => 4, :size => 10 %>
      
      <%= f.label :max_participants, "Maximum Number of Participants (optional, leave blank if no maximum)" %>
      <%= f.text_field :max_participants, :maxlength => 7, :size => 10 %>
    </fieldset>

    <fieldset id="participant_settings" style="display:none;">
      <legend>Participant Settings</legend>
      <%= f.label :require_team_authorization, "Require Authorization to Join Campaign" %>
      <%= f.check_box :require_team_authorization %>
    </fieldset>

    <fieldset id="project_settings">
      <legend>Project Settings</legend>
      Please choose the projects that this campaign will benefit:<br/>

      <% @all_projects.each do |project| %>
      <%=  check_box_tag "campaign[project_ids][]", project.id, @campaign.has_project?(project) -%> <%= project.name -%><br/>
      <% end %>
    </fieldset>

    <span class="user-warning">If you do not select any project then this
    campaign will raise funds for ALL projects on the site.</span>

    <%# TODO: Is there a more elegant way to do this? %>          
    <% if (@is_new) %>
      <span class="create"><%= f.submit 'Create'%></span>
    <% else %>
      <span class="update"><%= f.submit "Update" %></span>
    <% end  %>

  <% end %>
</div>
