<% prefix ||= "" %>
<% campaign_filter ||= false%>
<div class="<%= cycle('filter_even','filter_odd') %>">
		<% if not campaign_filter%>
		<%= prefix%>
		<%= link_to_remote image_tag('dt/icons/plus_con.gif',:border => 0, :style => 'vertical-align:middle;'), :url => add_place_limit_to_dt_campaign_path(@campaign, :place_id => place ), :update => 'campaign_filters' %>
		<%= place.name%>
			<% if place.places.size != 0 %>
				<%= blind_up_down_links(image_tag('dt/icons/expand_icon.png',:border=>0),image_tag('dt/icons/collapse_icon.png',:border=>0),"show_children_#{place.id}","place_#{place.id}_children")%>
			<% end %>
		<% else %>
		<%= link_to_remote(image_tag('bus_admin/icons/delete_icon.gif',:class => 'icon'),:url => remove_place_limit_from_dt_campaign_path(PlaceLimit.find_by_campaign_id_and_place_id(@campaign,place)), :update => 'campaign_filters')%>
			<%= place.long_name%>
		<% end %>
</div>
<% if not campaign_filter%>
	<div id="place_<%= place.id %>_children" style="display:none">
		<%= render :partial => 'place', :collection => place.places, :locals => {:prefix => prefix + "&nbsp;&nbsp;&nbsp;"} %>
	</div>
<% end %>