<div class="campaign_sidebar_search_form">
	<% form_tag(search_dt_campaigns_path,{:id => 'campaign_search', :method => :get, :onsubmit => "if($('keywords').value=='Search'){ $('keywords').value='';}"} ) do %>
		<div style="margin-bottom:.5em;">
  		<%= text_field_tag 'keywords', (params[:keywords].nil? ? 'Search' : params[:keywords]), 
  			:title => 'Search', 
  			:onblur =>"if(!this.value) this.value='Search';", 
  			:onfocus => "if(this.value=='Search') this.value='';"
  		%>
  		<span id="searchsubmit">
  			<%= submit_tag 'go',
  				:id => 'simple_search_submit', 
  				:class => 'submitreplace'
  			%>
  		</span>
		</div>
		<% showcheckboxes = true if (controller.controller_name == 'campaigns') %>

		<div class="campaign-search-checkboxes hidden">
			<%= check_box_tag 'search_type[]', 
				'Participant', 
				(params[:search_type] ? params[:search_type].include?('Participant') : ((controller.controller_name == "participants" || controller.controller_name == "campaigns") ? true:false)),
  			{ :id => "search_type-users" }
			%>Users
			<%= check_box_tag 'search_type[]',
				'Team', 
				(params[:search_type] ? params[:search_type].include?('Team') : ((controller.controller_name == "teams" || controller.controller_name == "campaigns") ? true:false)),
  			{ :id => "search_type-teams" }
			%>Teams
			<%= check_box_tag 'search_type[]', 
			'Campaign' ,
			(params[:search_type] ? params[:search_type].include?('Campaign') : ((controller.controller_name == "campaigns") ? true:false)),
			{ :id => "search_type-campaigns" }
			%>Campaigns
		 </div>
	<% end%>
</div>