<% hide_pending = true unless hide_pending == false%>
<% if (not team.generic? and (!team.pending? || !hide_pending)) %>
	<div id="team_<%= team.id %>"  class="<%= cycle('row_even','row_odd') %>">
		<p>
			<%= link_to team.name, dt_team_path(team) %> - <%= team.participants.size %> members 
			<%= (" - " + link_to('Activate!',activate_dt_team_path(team))) if (team.pending? && (!team.owned? || current_user.is_cf_admin?)) %>
			<%= delete_icon(dt_team_path(team)) if (current_user != :false && current_user.cf_admin?) %>
		</p>
	</div>
<% end %>
