<h1>Editing campaign</h1>

<%= error_messages_for :campaign %>

<% form_for(@campaign) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <b>User</b><br />
    <%= f.text_field :user_id %>
  </p>

  <p>
    <b>Campaign type</b><br />
    <%= f.text_field :campaign_type_id %>
  </p>

  <p>
    <b>Start date</b><br />
    <%= f.datetime_select :start_date %>
  </p>

  <p>
    <b>Start end</b><br />
    <%= f.datetime_select :start_end %>
  </p>

  <p>
    <b>Province</b><br />
    <%= f.text_field :province %>
  </p>

  <p>
    <b>Address</b><br />
    <%= f.text_field :address %>
  </p>

  <p>
    <b>Postalcode</b><br />
    <%= f.text_field :postalcode %>
  </p>

  <p>
    <b>Place type</b><br />
    <%= f.text_field :place_type_id %>
  </p>

  <p>
    <b>Fundraising goal</b><br />
    <%= f.text_field :fundraising_goal %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @campaign %> |
<%= link_to 'Back', dt_campaigns_path %>
