<%- content_for :html_title do -%>Edit Campaign Details: <%= @campaign.name %><%- end -%>

<%= render :partial => "/dt/campaigns/campaign_breadcrumb" %>

<h1>Editing campaign</h1>

<%= error_messages_for :campaign %>
<%# TODO: Is there a better way of making the partial aware of where it's being called from so it knows whether to render certain fields or not? %>
<%=render :partial=> 'form', :locals=>{:mode=>:edit} %>

<%= link_to 'Show', dt_campaign_path(@campaign) %> |
<%= link_to 'Back', manage_dt_campaign_path(@campaign) %>

