<div id="manage_campaign">
	<h1> Manage - <%= @campaign.name %></h1>
	<%= link_to 'Edit Campaign Details', edit_dt_campaign_path(@campaign)%>
	<p>
	<%= @campaign.description %>
	</p>
	<% if @campaign.allow_multiple_teams? %>
		<div id="team_management">
			<%= campaign_h2_header("Teams",'team_management_container')%>
			<div id="team_management_container">
				<% if @campaign.require_team_authorization? %>
					<div id="pending_teams" class="row_container">				
						<%= campaign_h2_header("Pending Teams",'pending_container')%>
						<div id="pending_container">
							<%= render :partial => 'team', :collection => @campaign.pending_teams, :locals => { :hide_pending => false} %>
						</div>
					</div>
					<div id="authorized_teams" class="row_container">
						<%= campaign_h2_header("Active Teams",'active_container')%>
						<div id="active_container">
							<%= render :partial => 'team', :collection => @campaign.active_teams %>
						</div>
					</div>
				<% else %>
					<div id="teams" class="row_container">
						<%= render :partial => 'team', :collection => @campaign.teams %>
					</div>
				<% end %>
			</div>
		</div>
	<% else %>
		<div id="participants">
			<h2>Participants</h2>
		</div>
	<% end %>	
	<%= render :partial => 'dt/news_items/news', :locals => {:postable => @campaign, :show_post_form => true}%>
	
	<%= render :partial => 'dt/wall_posts/wall', :locals => {:postable => @campaign, :show_post_form => false}%>
	
</div>