<%- content_for :html_title do -%>Manage Campaign: <%= @campaign.name %><%- end -%>

<%= render :partial => "/dt/campaigns/campaign_breadcrumb" %>

<div id="manage_campaign">
	<h1> Manage - <%= link_to(@campaign.name,show_campaign_path(@campaign.short_name)) %></h1>

	<% if @campaign.allow_multiple_teams? %>
		<div id="team_management">
			<%= campaign_h2_header("Teams",'team_management_container')%>
			<div id="team_management_container">
				<% if @campaign.require_team_authorization? %>
					<div id="pending_teams" class="row_container">				
						<%= campaign_h2_header("Pending Teams",'pending_container')%>
						<div id="pending_container">
							<%= render :partial => 'team', :collection => @campaign.pending_teams, :locals => { :hide_pending => false} %>
						</div>
					</div>
					<div id="authorized_teams" class="row_container">
						<%= campaign_h2_header("Active Teams",'active_container')%>
						<div id="active_container">
							<%= render :partial => 'team', :collection => @campaign.active_teams %>
						</div>
					</div>
				<% else %>
					<div id="teams" class="row_container">
						<%= render :partial => 'team', :collection => @campaign.teams %>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
	
	<%= campaign_h2_header(' ' + link_to('Participants',dt_campaign_participants_path(@campaign)),'participant_container',true)%>
	<div id="participant_container" class="row_container" style="display:none;">
		<%= render :partial => 'participants' %>
	</div>

	<div class="postnews">
		<a name="news"></a>
		<%= render :partial => 'dt/news_items/news', :locals => {:postable => @campaign, :show_post_form => true}%>
	</div>
	
	<%= render :partial => 'dt/wall_posts/wall', :locals => {:postable => @campaign, :show_post_form => true}%>
	
</div>