<h1>Search Results</h1>
<div id="search_box">
  <%= render :partial => 'search' %>
</div>
<h3>You searched for <strong><%= @search.query%></strong></h3>
<p><%= @search.total_entries%> results were found</p>

  <% @search.results.sort_by{|obj| obj.class.name}.each do |result| %>
    <% if result.is_a?(Campaign) %>
      <%= render :partial => 'campaign', :object => result%>
      <hr/>
    <% end%>
    <% if result.is_a?(Team)%>
    Under campaign <strong><%= result.campaign.name%></strong>
      <%= render :partial => 'team', :object => result %>
    <% end %>
    <% if result.is_a?(Participant)%>
    Under campaign <strong><%= result.campaign.name%></strong>, team <strong><%= result.team.name%></strong>
      <%= render :partial => 'dt/participants/participant', :object => result, :locals => {:long_view => false}%>
    <% end %>
  <% end%>
  
<br>
<%= will_paginate @search %>