<h1>Search Results</h1>
<div id="search_box">
  <%= render :partial => 'search' %>
</div>
<h3>You searched for <strong><%= @search.query%></strong></h3>
<p><%= @search.total_entries%> results were found</p>

  <% @search.results.sort_by{|obj| obj.class.name}.each do |result| %>
    <% if result.is_a?(Campaign) %>
    	<div class="search_result_campaigns">
				<%= render :partial => 'campaign', :object => result%>
			</div>
    <% end%>
    <% if result.is_a?(Team)%>
    	<div class="search_result_teams">
	      <%= render :partial => 'dt/teams/team', :object => result %>
	    </div>
    <% end %>
    <% if result.is_a?(Participant)%>
    	<div class="search_result_participants">
	      <%= render :partial => 'dt/participants/participant', :object => result, :locals => {:long_view => true}%>
    	</div>
    <% end %>
  <% end%>
  
<br/>
<%= will_paginate @search %>

