<% content_for :rss do %>
	<link href="<%= formatted_dt_campaign_path(@campaign,:rss)%>" title="RSS 2.0" rel="alternate" type="application/rss+xml" />
<% end %>
<div id="campaign_page">
	<div class="leftColW800">
		<div id="campaign_details">
			<h1><%= @campaign.name %> <%= " (Awaiting approval)" unless not @campaign.pending? %></h1>
			<h5 style="margin-top:-10px;">http://www.christmasfuture.org/dt/<%= @campaign.short_name %></h5>
			<p style="overflow:auto;">	
				<%= image_tag @campaign.picture.full.url,:class => :thumbnail if @campaign.picture? %>

				<%= @campaign.description %>
			</p>
		</div>
		<%= render :partial => 'dt/news_items/news', :locals => {:postable => @campaign}%>

		<div id="Participants">
			<%= campaign_h2_header(' ' +link_to('Participants',dt_campaign_participants_path(@campaign)),'participant_container')%>
			
				
			<div id="participant_container" class="row_container">
				<%= render :partial => 'dt/participants/participant', :collection => @campaign.participants, :locals => {:long_view => false} %>
				<div class="row_odd">
					<span class="small_text">** Campaign Organizer</span><br />
					<span class="small_text">* Team Leader</span>
				</div>
			</div>
		</div>
	
		<% if @campaign.allow_multiple_teams%>
			<div id="Teams">
				<% if @campaign.allow_multiple_teams? && !@campaign.teams_full? %>
					<% content = link_to('Create a Team', new_dt_campaign_team_path(@campaign))  %>
				<% end %>
				<% content = content + " | " + link_to('Join a Team', dt_campaign_teams_path(@campaign)) if @campaign.teams.size > 1 %>

				<%= campaign_h2_header(' Teams | ' + content,'teams_container')%>

				<div id="teams_container" class='row_container'>
					<%= render :partial => 'team', :collection => @campaign.teams%>
				</div>
			</div>
		<% end %>


		<%= render :partial => 'dt/wall_posts/wall',  :locals => {:postable => @campaign} %>
	</div>

	<div class="leftColN800">
		<div class="campaign-sidebar-box metrics">
			<h2>Quick Facts</h2>
			<span class="small_text">Goal: $ <%= @campaign.fundraising_goal%> CDN</span><br/>
			<span class="small_text">Pledged: $ <%= @campaign.funds_raised %> CDN</span><br/>
			<span class="small_text">Percentage of Goal: <%= @campaign.percentage_done %></span><br/>
		</div>
		<div class="campaign-sidebar-box get-involved">
			<li><%= link_to("Join #{@campaign.name}", join_dt_campaign_path(@campaign)) %></li>
			<%= link_to('<li>Join a Team</li>', dt_campaign_teams_path(@campaign)) if @campaign.teams.size > 1 %></li>
			<%= ("<li>" + link_to('Create a Team', new_dt_campaign_team_path(@campaign)) +"</li>")if (@campaign.allow_multiple_teams? && !@campaign.teams_full?)%>
			<li><%= link_to "Support a participant", dt_campaign_participants_path(@campaign) %></li>
			<%= link_to "<span>Pledge</span>", new_dt_campaign_pledge_path(@campaign), :class => "button-pledge" %>
		</div>
		<div class="campaign-sidebar-box campaign-address">
			<h5>Address</h5>
			<p class="address">
				<%= @campaign.address %> <br />
				<%= (@campaign.address_2 + ' <br />') unless @campaign.address_2 == ''%>
				<%= @campaign.province %>, <%= @campaign.postalcode %> <br />
				<%= @campaign.country %>
			</p>
		</div>
	</div>

	
</div>