<% content_for :rss do %>
	<link href="<%= formatted_dt_campaign_path(@campaign,:rss)%>" title="RSS 2.0" rel="alternate" type="application/rss+xml" />
<% end %>
<div id="campaign_page">
	
	<div class="campagin_container">
		<div id="campaign_details">
			<h1><%= @campaign.name %> <%= " - PENDING!" unless not @campaign.pending? %></h1>
			
			<h5 style="margin-top:-10px;">http://www.christmasfuture.org/dt/<%= @campaign.short_name %></h5>
			
  		<%= image_tag @campaign.picture.full.url,:class => :thumbnail if @campaign.picture? %>
			<p>
				<%= @campaign.description %>
			</p>
			<h5>Address</h5>
			<p class="address">
				<%= @campaign.address %> <br />
				<%= (@campaign.address_2 + ' <br />') unless @campaign.address_2 == ''%>
				<%= @campaign.province %>, <%= @campaign.postalcode %> <br />
				<%= @campaign.country %>
			</p>
		</div>
	
		<%= render :partial => 'dt/news_items/news', :locals => {:postable => @campaign}%>
	
		<%= render :partial => 'dt/wall_posts/wall',  :locals => {:postable => @campaign} %>
	
		<% if @campaign.allow_multiple_teams%>
			<div id="Teams">
				<%= campaign_h2_header(' Teams | ' + link_to('Create a Team', new_dt_campaign_team_path(@campaign)),'teams_container')%>
				<div id="teams_container" class='row_container'>
					<%= render :partial => 'team', :collection => @campaign.teams%>
				</div>
			</div>
		<% else %>
			<div id="Participants">
				<%= campaign_h2_header('Participants | ' + link_to('Join this Campaign', new_dt_team_participant_path(@campaign.teams[0])),'participants_container')%>
				<div id="participants_container" class='row_container'>
				</div>
			</div>
		<% end %>
	</div>
	<div class="metrics">
		<h2>Metrics</h2>
		<h4>Goal</h4>
		<span class="small_text">
			<%= @campaign.fundraising_goal_with_currency%>
		</span>
		<h4>Pledged</h4>
		<span class="small_text">
			<%= @campaign.funds_raised %>$CDN
		</span>
		<h4>Percentage of Goal</h4>
		<span class="small_text">
			<%= @campaign.percentage_done %>
		</span>
	</div>
</div>