<%- content_for :html_title do -%><%= @page_title %><%- end -%>
<%- content_for :page_title do -%>Give to a project, invest in the future <%- end -%>
<%- content_for :top_content do -%><%= render :partial => 'dt/accounts/inactive' if logged_in? && !current_user.activated? %><%- end -%>

<%= error_messages_for :investment %>
<% form_for(:investment, :url => dt_investments_path, :html => {:id => "investmentform", :name => "investmentform"}) do |f| %>
<div class="userform">
	<% if !@project_specified %>
		<fieldset>
			<legend>I would like to:</legend>
			<ol>
				<% if cf_unallocated_project %>
					<li>
						<label class="left"><%= f.hidden_field "project_id" %><%= cf_unallocated_project.name %></label>
						<% if @investment.project_id == cf_unallocated_project.id %>
							<div class="note">If this is not what you want, you can <%= link_to "find a different project", dt_projects_path %> to invest in.</div>
						<% end %>
					</li>
				<% elsif !@project %>
					<li>
						<div class="note"><%= link_to("you must choose a project", dt_projects_path) %></div>
					</li>
				<% end %>
			</ol>
		</fieldset>
	<% else %>
		<fieldset>
			<legend>I would like to give to:</legend>
			<ol>
				<% if cf_unallocated_project %>
					<li><h2><%= link_to("\"#{@project.name}\"", dt_project_path(@project)) %></h2>
						<label class="left"><%= f.hidden_field "project_id" %></label>
							<div class="note">If this is not what you want, you can <%= link_to "find a different project", dt_projects_path %> to invest in.</div>
					</li>
				<% end %>
			</ol>
		</fieldset>
	<% end %>
		

  <fieldset>
    <legend>Your Investment</legend>
    <ol>
  		<li>
  		  <label for="investment_amount" style="width:135px;"><%= render :partial => 'dt/shared/form_required' %>Investment Amount</label> $<%= f.text_field :amount %>
  		  <div class="note" style="margin-left:150px;">Example: $100</div>
  		</li>
    </ol>
  </fieldset>
  
  <% if logged_in? && @project && @project.group_project?(current_user) %>
  <fieldset>
    <legend>Group Wishlist</legend>
    <p><%= render :partial => 'dt/shared/form_required' %>You have the option to invest on behalf of one of your groups, would you like to do this now?</p>
    <ol>
      <li><label class="left"><%= f.radio_button :group_id, '' %>Not at this time.</label></li>
      <% for g in current_user.groups %>
      <li><label class="left"><%= f.radio_button :group_id, g.id %><%= g.name %></label></li>
      <% end %>
    </ol>
  </fieldset>
  <% end %>

	<div style="float:right;" class="clearfix"><%= submit_tag 'Add to Cart', :class => 'buttonsubmit' %></div>
</div>
<% end %>

<%- content_for :sidebar do -%>
	<%= dt_profile_sidebar %>
<%- end -%>