<%- content_for :html_title do -%><%= @page_title %><%- end -%>
<%- content_for :page_title do -%>Give to a project, invest in the future <%- end -%>
<% content_for :top_content do %>
  <div class="clearfix prepend-top" style="position:relative;">
    <div class="span-11 prepend-2">
      <h1><img src="/images/give/title-udirect.png" width="179" height="58" alt="U:direct"></h1>
    </div>
    <div class="span-5 last">
      <h4 class="plain" style="bottom:0; position:absolute;"><em><strong>Give directly to a project.</strong></em></h4>
    </div>
  </div>
<% end %>

<% semantic_form_for([:dt, @investment], :html => {:id => "investmentform"}) do |f| %>
  <%= f.semantic_errors :investment %>
  <% f.inputs "Your Investment" do %>
    <%
      options = []
      if @sector
        options << [raw("to the sector I've chosen - #{link_to @sector.name, [:dt, @sector]}"), ""]
      else
        options << [unallocated_project.name, unallocated_project.id] if unallocated_project
        options << [raw("to a project I've chosen - #{link_to @project.name, [:dt, @project]}"), @project.id] if @project && (!unallocated_project || @project.id != unallocated_project.id)
        hint = unallocated_project && @project.id == unallocated_project.id ? raw("If this is not what you want, you can #{link_to 'find a different project', [:dt, :projects]}.") : nil
      end
    %>
    <% if @sector %>
      <%= f.hidden_field :sector_id, :value =>  @sector.id %>
    <% end %>
    <%= f.input :project_id, :label => "How would you like to direct your investment?", :as => :radio, :collection => options, :hint => hint %>
    <%= f.input :amount, :label => "Investment Amount", :hint => "Example: $100" %>
    <%= f.input :promotion_id, :as => :hidden %>
  <% end %>
  
  <% f.buttons do %>
    <%= f.commit_button "Add to Cart" %>
  <% end %>
<% end %>

<%= render :partial => "dt/shared/form_requirednote" %>
