<li>
  <a href="<%= url_for_file_column(thumbnail, "medium") %>" rel="blank" id="ecard-link-<%= thumbnail.id %>"><%= image_tag url_for_file_column(thumbnail, "small"), :alt => "" %></a>
  <script type="text/javascript">
  <!--
  <%
  ecard_for_js= {}
  thumbnail.attributes.each do |k,v|
    case k
      when "small", "medium", "large", "printable"
        ecard_for_js[k] = url_for_file_column(thumbnail, k)
      when "name"
      else
        ecard_for_js[k] = v
    end
  end
  -%>
  <% if thumbnail_counter == 1 %>ecards = new Hash();<% end %>ecards.set(<%= thumbnail.id %>, <%= ecard_for_js.to_json %>);
  -->
  </script>
</li>
