<% content_for :carousel do %>
  <div id="carousel-wrapper">
    <div id="carousel">
      <% @carousel_items.each do |carousel_item| %>
      <div class="carousel-item">
        <div class="carousel-content">
          <%= image_tag carousel_item.title_image.url(), :alt => '' %>
          <%= carousel_item.content %>
        </div>
        <div class="carousel-image">
          <% if carousel_item.code? %>
            <%= carousel_item.code %>
          <% else %>
            <%= image_tag carousel_item.image.url, :alt => '' %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <div id="carousel-pager">
      <a href="#" id="carousel-prev">Previous</a>
      <span id="carousel-pager-items"></span>
      <a href="#" id="carousel-next">Next</a>
    </div>
  </div>
<% end %>

<div style="text-align:center;">
  <h1><img src="/images/home/the_gift_connection.png" width="288" height="23" alt="The Gift Connection"></h1>
  <p style="font-size:24px;margin-bottom:12px;" class="serif">If we were all to redirect a mere 5% of the billions of dollars that we already spend each year on gifts, there would be enough to eliminate extreme poverty in about 15 years.</p>
  <p style="margin-bottom:36px;">Know someone who wants to end extreme poverty? <%= link_to "Find the right gift here. &gt;", dt_give_path %></p>
  
  <p><img src="/images/home/look_what_your_gifts_have_done.png" width="465" height="23" alt="Look what your gifts have done so far..."></p>
  
</div>

<% content_for :javascript do -%>
  <%= javascript_include_tag '/_/js/jquery.cycle.all.min.js' %>
  <script type="text/javascript">
  //<![CDATA[
  $(function() {
    $('#carousel').cycle({
      activePagerClass: 'current',
      pause: 1,
      pager: '#carousel-pager-items',
      pagerAnchorBuilder: function(index, el) {
        return '<a href="#">' + (index+1) + "</a>\n";
      },
      width:'100%'
    });
  });
  //]]>
  </script>
<%- end %>
