<%- content_for :og_title do -%>UEnd:Poverty<%- end -%>
<%- content_for :og_image do -%><%= path_to_image('logo.png') %><%- end -%>
<%- content_for :og_description do -%>If we were all to redirect a mere 5% of the billions of dollars that we already spend each year on gifts, there would be enough to eliminate extreme poverty in about 15 years.<%- end -%>

<%= render :partial => 'carousel' %>

<div class="clearfix">
  <g:plusone size="medium"></g:plusone>
  <a href="http://twitter.com/share" class="twitter-share-button" data-text="Giving is it's own reward. Ending extreme poverty is a major, freakin' bonus!" data-count="horizontal" data-via="uend_org">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  <div class="fb-like" data-href="http://www.uend.org/" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div>
  <% content_for :javascript do %>
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  <% end %>
</div>

<div style="text-align:center;" class="prepend-top">
  <h1><img src="/images/home/the_gift_connection.png" width="288" height="23" alt="The Gift Connection"></h1>
  <p style="font-size:24px;padding-bottom:12px;" class="serif">If we were all to redirect a mere 5% of the billions of dollars that we already spend each year on gifts, there would be enough to eliminate extreme poverty in about 15 years.</p>
  <p style="margin-bottom:36px;">Know someone who wants to end extreme poverty? <%= link_to "Find the right gift here. &gt;", dt_give_path %></p>
  
  <p><img src="/images/home/look_what_your_gifts_have_done.png" width="465" height="23" alt="Look what your gifts have done so far..."></p>
  
  <div class="shadow-top">
    Numbers are updated as we know more.
  </div>
  <div id="statistics" class="clearfix">
    <div class="statistic span-4">
      <%= number_with_delimiter(Gift.count + Investment.count) %>
      <div><img src="/images/home/gifts.png" width="38" height="12" alt="Gifts"></div>
    </div>
    <div class="statistic span-4">
      <%= number_to_currency(Order.complete.sum(:total), :precision => 0) %>
      <div><img src="/images/home/dollars.png" width="60" height="12" alt="Dollars"></div>
    </div>
    <div class="statistic span-3">
      <%= number_with_delimiter(Project.count) %>
      <div><img src="/images/home/projects.png" width="67" height="12" alt="Projects"></div>
    </div>
    <div class="statistic span-3">
      <%= number_with_delimiter(Place.countries_with_active_projects.all.size) %>
      <div><img src="/images/home/countries.png" width="74" height="12" alt="Countries"></div>
    </div>
    <div class="statistic span-4 last">
      <%= number_with_delimiter(Project.current.all(:conditions => "lives_affected IS NOT NULL", :select => 'DISTINCT(place_id), lives_affected', :order => "lives_affected DESC").sum(&:lives_affected) + Order.count) %>
      <div><img src="/images/home/people_impacted.png" width="122" height="12" alt="People Impacted"></div>
    </div>
  </div>
  <div class="shadow-bottom"></div>
</div>

<section id="signups" class="clearfix">
  <div class="span-10 border">
    <div style="width:220px;margin-right:22px;float:left;text-align:right; ">
      <img src="/images/home/newsletter_signup.png" width="200" height="19" alt="Newsletter Signup"><br>
      <div style="margin-top:8px;">
        <%= link_to image_tag("home/button-sign_up.png", :size => '66x22', :alt => "Sign up"), new_dt_newsletter_signup_path, :class => "newsletter_signup_link" %>
      </div>
    </div>
    <div style="width:260px;float:left;">
      <strong class="loud">Expand your poverty world view.</strong><br>
      Helpful insights, reports from the field and events delivered to your inbox.
    </div>
  </div>
  <div class="span-8 last">
    <div style="padding-left:30px; position:relative">
      <img src="/images/home/open_your_gift.png" width="360" height="17" alt="Open Your Gift. End Extreme Poverty">
      <div style="margin-top:8px;">
        Enter your pickup code
        <% form_for :gift, :url => open_dt_gifts_path, :html => { :method => :get } do |f| %>
          <%= text_field_tag :code, '', :style => "width:210px;" %>
          <%= image_submit_tag "/images/home/button-open.png" %>
          <div style="position:absolute;top:26px;right:56px;"><img src="/images/home/gift_outlines.png" width="39" height="43" alt=""></div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section id="uend_provides">
  <%= link_to image_tag('/images/home/uend_poverty_provides.png', :alt => "UEnd Poverty provides gift options to empower people like you to end extreme poverty tailored to your interests. "), dt_give_path, :title => "Give" %>
</section>

<section id="unique" class="prepend-1 append-1">
  <div style="text-align:center;padding-bottom:12px;"><img src="/images/home/what_makes_uend_unique.png" width="371" height="25" alt="What Makes Uend Unique?"></div>
  <div class="clearfix row">
    <article class="span-8">
      <div class="span-3">
        <img src="/images/home/icon-100_percent.png" width="149" height="73" alt="">
      </div>
      <div class="span-4 append-1 last">
        <h3>No Hidden Overhead Costs</h3>
        <div class="serif">100% of your gift goes to the project you choose. Our operating costs are funded privately and through u:powered. </div>
      </div>
    </article>
    <article class="span-8 last">
      <div class="span-3">
        <img src="/images/home/icon_you.png" width="108" height="131" alt="">
      </div>
      <div class="span-4 append-1 last">
        <h3>Powered by You</h3>
        <div class="serif">We exist to connect reputable grassroots partners with people passionate about ending poverty. Our site provides the tools and information for you to make an informed choice with a lasting outcome. </div>
      </div>
    </article>
  </div>

  <div class="clearfix row">
    <article class="span-8">
      <div class="span-3">
        <img src="/images/home/icon-integrated_development.png" width="154" height="96" alt="">
      </div>
      <div class="span-4 append-1 last">
        <h3>Integrated Development </h3>
        <div class="serif">To create sustainable change and an end to extreme poverty, our partners work with local assets to develop a solution that is tailored to that community&#x27;s specific needs. </div>
      </div>
    </article>
    <article class="span-8 last">
      <div class="span-3">
        <img src="/images/home/icon-less_bureaucracy.png" width="154" height="88" alt="">
      </div>
      <div class="span-4 append-1 last">
        <h3>Less Bureaucracy</h3>
        <div class="serif">We work directly with our partners and communities to ensure dollars are closer-to-the-ground where they have the most impact, instead of being tied up in bureaucratic processes. </div>
      </div>
    </article>
  </div>

  <div class="clearfix row">
    <article class="span-8">
      <div class="span-3">
        <img src="/images/home/icon-transparency.png" width="149" height="124" alt="">
      </div>
      <div class="span-4 append-1 last">
        <h3>High Transparency</h3>
        <div class="serif">Your money won&rsquo;t disappear into a catch-all distribution fund. Regular Proof of Impact (POI) updates are provided. Budget, outcomes, and funding progress are listed for every project. </div>
      </div>
    </article>
    <article class="span-8 last">
      <div class="span-3">
        <img src="/images/home/icon-choice.png" width="150" height="133" alt="">
      </div>
      <div class="span-4 append-1 last">
        <h3>More Choice</h3>
        <div class="serif">Ending extreme poverty is a complex challenge. UEnd offers projects focused on a variety of causes and development sectors so you can pick your favourite projects and causes. </div>
      </div>
    </article>
  </div>
</section>