<% content_for :top_content do %>
  <div class="prepend-top prepend-2"><h1>OPEN YOUR GIFT</h1></div>
<% end %>

<% if @opening_now %>
  <% unless session[:gift_matched] %>
    <p>Your friend gave you a gift to help end global poverty. <%= link_to "Match your friends gift", match_dt_gifts_path, :method => :put %> to double the impact.</p>
  <% end %>
  
  <p><%= @gift.name || @gift.email %> has sent you a Gift Card for <%= number_to_currency( @gift.amount ) %>!</p>
  <p>Now that you've opened your gift, you have some options. You can:</p>
<% else %>
  <p>Your current Gift Card Balance is <%= number_to_currency( @gift.balance ) %>.</p>
  <p>To use your gift, you have some options. You can:</p>
<% end %>
<div class="gift-options">
  <ul>
    <li><%= link_to "Find a project", dt_projects_path %></li>
    <% if Project.unallocated_project %><li><%= link_to "Let Uend: figure it out", new_dt_investment_path(:unallocated_gift => 1) %></li><% end %>
    <% if Project.admin_project %><li><%= link_to "Donate it to UEnd's Operational budget", new_dt_investment_path(:admin_gift => 1) %></li><% end %>
  </ul>
</div>
<div class="textsm">Note: if you choose to do nothing, your gift will expire 30 days after it was sent, which is just like choosing &quot;Let Uend: figure it out&quot;</div>
