<%- content_for :head do -%>
<%= javascript_include_tag "dt/ecards" %>
<%- end -%>
<%- content_for :html_title do -%>Gift It!<%- end -%>
<%- content_for :page_title do -%>Experience a new way to give.<%- end -%>
<%- content_for :nav do -%><%= dt_account_nav %><%- end -%>
<%- content_for :top_content do -%>
  <%= render :partial => 'dt/accounts/inactive' if logged_in? && !current_user.activated? %>
  <%= error_messages_for :gift %>

  <% form_for(:gift, :url => dt_gifts_path, :html => {:id => "giftform", :name => "giftform"}) do |f| %>

  <div class="userform">
    <div class="columns">
      <div class="content">
        <div class="contentmargin">
          <h2>Your Gift Information</h2>
          <%= render :partial => 'dt/shared/form_requirednote', :locals => { :style => 'margin-bottom:0px;' } %>

          <fieldset>
            <legend>Choose a Gift Type</legend>
            <ol class="clearfix">
              <li>
                <label class="left"><strong>Thanks for giving a gift using ChristmasFuture. You've chosen to:</strong></label>
                <% if @gift.project_id? && @gift.project %><label class="left"><%= f.radio_button "project_id", ( @gift.project_id || 0 ) %> Give <%= link_to(@gift.project.name, dt_project_path(@gift.project)) %> as a gift</label><% end %>
                <label class="left"><%= f.radio_button "project_id", nil %> Give a gift card (let the recipient a choose a project)</label>
                <% unless @gift.project_id? && @gift.project %><label class="left"><%= f.radio_button "project_id", ( @gift.project_id || 0 ) %> Give a project as a gift &nbsp; &#8250; <%= link_to("choose a project", dt_projects_path) %></label><% end %>
                <%= hidden_field_tag("project_id", @gift.project_id) if @gift.project_id %>
              </li>
            </ol>
          </fieldset>

          <fieldset>
            <legend>Enter Your Information</legend>
            <div class="notes clearfix">
              <h5>Your Information</h5>
              <p>Your info, as you would like it to appear on the ecard (eg. Mom).</p>
            </div>
            <ol>
              <li><label for="gift_name">Name</label> <%= f.text_field :name %></li>
              <li><label for="gift_email"><em>*</em> Email</label> <%= f.text_field :email %></li>
              <li><label for="gift_email_confirmation"><em>*</em>Retype Email</label> <%= f.text_field :email_confirmation, :value => (logged_in? && @gift.email? ? @gift.email : nil) %></li>
            </ol>
          </fieldset>
        </div>
      </div>
      <div class="sidebar">
        <h2>Your Cart</h2>
        <div id="sidebarcart">
          <% if @cart.items.empty? %>
            <p>Your cart is currently empty</p>
          <% else %>
            <%= render "dt/cart/sidebar" %>
          <% end %>
        </div>
      </div>
    </div>

    <%= render :partial => "newgift", :locals => { :f => f } %>
    
    
    <!--<div style="float:right;" class="clearfix"><%= submit_tag 'Add to Cart', :class => 'buttonsubmit' %></div>-->

  </div>
  <% end %>
<%- end -%>
