<%- content_for :html_title do -%>Open your gift. Change the world.<%- end -%>

<% unless @gift -%>
  <% content_for :top_content do %>
    <div class="prepend-top prepend-2"><h1>OPEN YOUR GIFT</h1></div>
  <% end %>

  <div class="clearfix" style="position:relative;">
    <div class="span-3" id="gift-outline">
      <%= image_tag "icons/gift-outlines.png", :alt => '' %>
    </div>
    <div class="span-11 last">
      <% semantic_form_for :pickup, :url => open_dt_gifts_path, :html => { :id => "giftpickupform" } do |f| %>
        <% f.inputs do %>
          <%= f.input :code, :label => "Enter your Pickup Code" %>
          <%= f.commit_button "Open" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="clearfix" id="open_gift-description">
    <div class="span-1 step">1</div>
    <div class="span-3 description">
      Open your gift and begin helping a community climb out of poverty.
    </div>
    <div class="span-1 step border-left">2</div>
    <div class="span-3 description">
      Find a project you want to support.
    </div>
    <div class="span-1 step border-left">3</div>
    <div class="span-4 append-1 last description">
      Use your gift card balance to experience the change you want to see.
    </div>
  </div>
<% else -%>
<% if @gift.project_id? %>
  <p><%= @gift.name || @gift.email %> has sent you a Project Gift for <%= number_to_currency( @gift.amount ) %>!</p>
  <p>
    This is the project they chose to give the gift to:<br />
    <%= link_to @gift.project.name, dt_project_path(@gift.project) %><br />
    Follow the link to learn more about the project.
  </p>
  <p>
    <%= link_to "Associate this gift with my account", unwrap_dt_gift_path(@gift.id, :code => @gift.pickup_code) %>
    Don't have an account? <%= link_to "Create one here", new_iend_user_path %>.
  </p>
<% else %>
  <% if @opening_now %>
    <% unless session[:gift_matched] %>
      <p>Your friend gave you a gift to help end global poverty. <%= link_to "Match your friends gift", match_dt_gifts_path, :method => :put %> to double the impact.</p>
    <% end %>
  
    <p><%= @gift.name || @gift.email %> has sent you a Gift Card for <%= number_to_currency( @gift.amount ) %>!</p>
    <p>Now that you've opened your gift, you have some options. You can:</p>
  <% else %>
    <p>Your current Gift Card Balance is <%= number_to_currency( @gift.balance ) %>.</p>
    <p>To use your gift, you have some options. You can:</p>
  <% end %>
  <div class="gift-options">
    <ul>
      <li><%= link_to "Find a project to donate to", dt_projects_path %></li>
      <% if Project.unallocated_project %><li><%= link_to "Let Uend: figure it out", new_dt_investment_path(:unallocated_gift => 1) %></li><% end %>
      <% if Project.admin_project %><li><%= link_to "Donate it to UEnd's Operational budget", new_dt_investment_path(:admin_gift => 1) %></li><% end %>
    </ul>
  </div>
  <div class="textsm">Note: if you choose to do nothing, your gift will expire 30 days after it was sent, which is just like choosing &quot;Let Uend: figure it out&quot;</div>
<% end %>
<% end -%>
