<%- content_for :html_title do -%>Open your gift. Change the world.<%- end -%>

<% if @gift -%>
  <% if @gift.project_id? %>
    <p><%= @gift.name || @gift.email %> has sent you a Project Gift for <%= number_to_currency( @gift.amount ) %>!</p>
    <p>
      This is the project they chose to give the gift to:<br />
      <%= link_to @gift.project.name, dt_project_path(@gift.project) %><br />
      Follow the link to learn more about the project.
    </p>
  <% else %>
    <% if @opening_now %>
      <p><%= @gift.name || @gift.email %> has sent you a Gift Card for <%= number_to_currency( @gift.amount ) %>!</p>
      <p>Now that you've opened your gift, you have some options. You can:</p>
    <% else %>
      <p>Your current Gift Card Balance is <%= number_to_currency( @gift.balance ) %>.</p>
      <p>To use your gift, you have some options. You can:</p>
    <% end %>
    <ul>
      <li><%= link_to "find a project to donate to", dt_search_path %></li>
      <% if Project.unallocated_project %><li><%= link_to "let ChristmasFuture figure it out", new_dt_investment_path(:unallocated_gift => 1) %></li><% end %>
      <li><%= link_to "Deposit it into my account", new_dt_account_deposit_path(current_user, :deposit => {:amount => number_to_currency(@gift.amount)}) %></li>
      <% if Project.admin_project %><li><%= link_to "Donate it to the ChristmasFuture Operational Funds project", new_dt_investment_path(:investment => {:amount => number_to_currency(@gift.balance), :project_id => Project.admin_project.id }) %></li><% end %>
    </ul>
    <div class="textsm">Note: if you choose to do nothing, your gift will expire 30 days after it was sent, which is just like choosing &quot;Let ChristmasFuture figure it out&quot;</div>
  <% end %>
<% else -%>
  <%= error_messages_for :pickup %>
  <% form_for(:pickup, :url => open_dt_gifts_path, :html => {:method => :get, :id => "opengiftform", :name => "opengiftform"}) do |f| %>
  <div class="userform">
    <fieldset>
      <ol>
        <li><label for="code">Enter your Pickup Code</label><%= text_field_tag :code %></li>
        <li class="submitli"><%= submit_tag 'Unwrap', :class => 'buttonsubmit', :id => "button-unwrap" %></li>
      </ol>
    </fieldset>
  </div>
  
  <% end -%>
<% end -%>

<%- content_for :sidebar do -%>
  <%= dt_profile_sidebar %>
<% end -%>
