<%- content_for :html_title do -%>Open your gift.  Change the world.<%- end -%>
<% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>

<% if @gift -%>
	<br/>
	<p><%= @gift.name %> has sent you a gift of <%= number_to_currency( @gift.amount ) %>!</p>
	<p>Just deposit the gift into your ChristmasFuture account to start changing the world.</p>
	<% if logged_in? %>
	<% form_for(:gift, :url => unwrap_dt_gift_path(@gift), :html => {:method => :put, :id => "giftform", :name => "giftform"}) do |f| %>
	<div class="userform">
		Click &quot;Deposit Gift&quot; below to deposit the gift into your account.
		<%= f.hidden_field :pickup_code %>
		<%= submit_tag "Deposit Gift", :class => 'buttonsubmit' %>
	</div>
	<% end -%>
	<% else %>
	<div id="login-signup"><p>Either <%= link_to "login", dt_login_path %> or <%= link_to "signup", dt_signup_path %> to get started. After you login or signup, you will be redirected back here. If you get lost in the meantime, don't worry. Just grab the Pickup Code from your email again to get back here.</p></div>
	<% end %>
<% else -%>
	<%= error_messages_for :pickup %>
	<br/>
	<h1>Open your gift. Change the world.</h1>
	<% form_for(:pickup, :url => open_dt_gifts_path, :html => {:method => :get, :id => "giftform", :name => "giftform"}) do |f| %>
	<div class="userform">
		<h2 style="float:right; padding-right:150px;">Pickup Code: <%= text_field_tag :code %></h2>
		<%= submit_tag 'open your gift', :class => '', :style => 'float:right; margin-right: 150px; font-size: 16px;' %>
	</div>

	<div class="clearfix"></div>
	
	<h2>How it works:</h2>
	<div class="indented">
		<ol>
			<li>Open your gift</li>
			<li>Find a project you want to support</li>
			<li>Give to the project with your gift card balance</li>  
		</ol>  
	</div>
	<% end -%>
<% end -%>

<% content_for :sidebar do %>  
	<br/>
	<div>
  	<h3>
  		<img src = "/images/dt/icons/recipient-icon-blue.jpg" style ="float: left; padding-right: 5px;"/>
  		Open your gift and support projects that help communities climb out of extreme poverty.
  	</h3>
  </div>
  <%= dt_short_profile_sidebar %>
<% end %>
