<%- content_for :html_title do -%>Thanks!<%- end -%>
<%- content_for :nav do -%><%= iend_user_nav %><%- end -%>

<p>Thanks kind gifter! With your generous gift of <%= number_to_currency(@gift.amount) %> we're one gift closer to changing the world...for good. </p>
<% if @cf_investment %><p>We also thank you for supporting the Uend: Foundation directly!</p><% end %>
<p>The email notification about your gift has been <%= @gift.sent_at? ? 'sent' : 'scheduled' %>. If the gift isn't unwrapped within 30 days of delivery, we will notify you.</p>
<p>We have sent you an email with a printable card if that's how you prefer to give your gift. You can also 
  <%= link_to "download a printable card here", :action => 'show', :format => 'pdf', :id => @gift.id, :code => @gift.pickup_code %></p>
<p>All the best to you this holiday season.</p>
<p>
	Thanks again,<br />
	The Uend: team
</p>

<%- content_for :sidebar do -%>
    <%= dt_profile_sidebar %>
<%- end -%>