<%- content_for :nav do -%><%= render 'dt/iend/nav' %><%- end -%>
<%- content_for :html_title do -%>Edit Password/Authentication<%- end -%>
<%- content_for :head do -%><%= javascript_include_tag "dt/accounts" %><%- end -%>

<%= error_messages_for :password %>

<% form_for([:iend, @user], :html => { :method => 'put', :id => "userform", :name => "userform", :multipart => true}) do |f| -%>
<div class="userform">
<fieldset>
  <legend>Change Password</legend>
	<div class="textsm">If you wish to change your password, please enter your current password along with a new password. It must be longer than 4 characters and try to make it something you'll remember.</div>
	<ol>
		<li><label for="old_password">Current Password</label> <%= password_field_tag :old_password %></li>
		<li><label for="user_password">Password</label> <%= f.password_field :password %></li>
		<li><label for="user_password_confirmation">Confirm Password</label> <%= f.password_field :password_confirmation %></li>
	</ol>
</fieldset>

<%= submit_tag 'Save', :class => 'buttonsubmit' %>

</div>
<% end %>