<%= error_messages_for :page %>
<% semantic_form_for [:bus_admin, @page], :html => { :id => 'page-form' } do |f| %> 
  <% f.inputs "Page Information" do %>
    <%= f.input :parent_id, :as => :select, :collection => nested_set_options(Page, @page) {|i| "#{'–' * i.level} #{i.title}" }, :include_blank => true %>
    <%= f.input :title %>
    <%= f.input :permalink, :hint => "Leave blank and the system will generate a permalink for you" %>
    <%= f.input :active %>
    <li class="text required" id="page_content_input">
      <%= f.label :content, raw('Content<abbr title="required">*</abbr>') %>
      <%= fckeditor_textarea( "page", "content", :toolbarSet => 'uEndAdmin', :height => 500) %> 
    </li>
    <%#= f.input :content, :input_html => { :rows => 40, :cols => 100 } %>
  <% end %>
  <% f.inputs "Meta" do %>
    <%= f.input :template, :hint => "Allows for a custom template - only use if you know what this does" %>
    <%= f.input :layout, :hint => "Allows for a custom layout - only use if you know what this does" %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button %>
  <% end %>
<% end %>
