<% content_for :header do %>
  <div class="feature">
    <h1>iEnd</h1>
    <p>I will end:poverty</p>
  </div>
  <nav id="sectionnav">
    <ol>
      <li<%= ' class="current"' if controller_name == 'iend' %>><%= link_to "Getting started", iend_path %></li>
      <% if logged_in? %>
        <li<%= ' class="current"' if %w(users iend_profiles).include?(controller_name) && action_name != "edit_password" %>><%= link_to "Profile", [:iend, current_user] %></li>
        <li<%= ' class="current"' if !%w(iend users iend_profiles).include?(controller_name) || action_name == "edit_password" %>><%= link_to "My Account", iend_orders_path %></li>
      <% end %>
    </ol>
  </nav>
<% end %>
