<section id="iend-nav" class="clearfix border-bottom append-bottom"> 
  <article class="span-14"> 
    <nav class="subnav">
      <ol>
        <li<%= ' class="current"' if current_nav?('iend') %>><%= link_to "Public Profile", iend_user_path(current_user, :public => 1) %></li>
        <li<%= ' class="current"' if current_nav?('users', 'edit') %>><%= link_to "Profile", edit_dt_user_path(current_user) %></li>
        <li<%= ' class="current"' if current_nav?('users', 'edit_password') %>><%= link_to "Password", edit_password_dt_user_path(current_user) %></li>
        <li<%= ' class="current"' if current_nav?('authentications') %>><%= link_to "Sign-in Options", dt_authentications_path %></li>
        <li<%= ' class="current"' if current_nav?('') %>><%= link_to "Preferences", "#" %></li>
      </ol>
    </nav>
  </article> 
  <!-- <aside id="project-like" class="span-4 prepend-1"> 
      <a href="#"><img src="/images/like.png" width="21" height="27" alt="Like"> Like This</a> 
    </aside>  -->
</section>
