<div style="padding-bottom:0.5em;">
  <h1>
  <% if @user.picture? && @user.image? %>
    <a href="<%= @user.image.url(:large) %>" class="colorbox" title="<%= @iend_profile.formatted_name %>">
      <%= image_tag(@user.image.url, :alt => '') %></a>
  <% end %>
    <%= @iend_profile.name? ? "#{@user.first_name} #{@user.last_name}" : 'Anonymous' %>
  </h1>
  <% if @iend_profile.location? %>
    <p><strong>Location: <%= [@user.city, @user.province, @user.country].compact.join(', ') %></strong></p>
  <% end %>
</div>

