<% content_for :top_content do %>
  <div class="prepend-top prepend-2">
    <h1 class="plain" style="font-size:36px;padding:0;margin:0;">RE-DIRECT GIFT SPENDING</h1>
  </div>
<% end %>

<h1>Getting Started</h1>
<p class="border-bottom">The following is a quick guide to get you started so you can make the most of your experience.</p>


<section class="iend clearfix border-bottom" style="margin-top:16px;">
  <div class="span-5 center">
    <%= image_tag 'iend/icon-id_card.png', :alt => '' %>
  </div>
  <div class="span-9 serif last">
    <h2>Complete your profile</h2>
    <div class="medium"><%= content_snippet_for(:complete_your_profile) %></div>
  </div>
</section>

<section class="iend clearfix border-bottom" style="margin-top:16px;">
  <div class="span-5 center">
    <%= image_tag 'iend/icon-select_cause.png', :alt => '' %>
  </div>
  <div class="span-9 serif last">
    <h2>Select a Cause or Project</h2>
    <div class="medium"><%= content_snippet_for(:select_a_cause) %></div>
  </div>
</section>

<section class="iend clearfix border-bottom" style="margin-top:16px;">
  <div class="span-5 center">
    <%= image_tag 'iend/icon-select_cause.png', :alt => '' %>
  </div>
  <div class="span-9 serif last">
    <%= render "invite_friends" %>
  </div>
</section>


