<%- content_for :html_title do %><%= @group.name %> Project Wishlist<% end -%>
<%- content_for :nav do %><%= dt_get_involved_nav %><% end -%>

<%= dt_group_nav %>

    <div class="projectlist">
			<h2>Our Projects</h2>
			<% if current_member(@group) && current_member(@group).admin? %>
			<div id="addProjButton" class="clearfix"><%= link_to "<span>Add New Project</span>", dt_projects_path, :class => 'button-add_project' %></div>
			<% end %>
    </div>
    <% if @projects_invested.size > 0 %>
    <div class="projectlist">
      <ul>
        <%= render :partial => 'project', :collection => @projects_invested %>
      </ul>
    </div>
    <% else %>
    <p>The group has no active projects. Invest in a wishlist project to get started!</p>
  	<% end %>	

    <h2>Our Wishlist</h2>
    <% if @projects_watched.size > 0 %>
    <div class="projectlist">
      <ul>
        <%= render :partial => 'project', :collection => @projects_watched %>
      </ul>
    </div>
    <% else %>
    <p>The group has no project wishlist. Check back soon!</p>
  	<% end %>
  		
    <!--<p>There are no projects currently added to this group.</p>
    <% if current_member(@group) && current_member(@group).admin? %>
    <% end %>
    <p><%= link_to "Find a project", dt_projects_path %> to add to your group so you can change the world together.</p>-->

  
  <% content_for :sidebar do %>
    <%= dt_profile_sidebar %>
    <% end %>
