<%- content_for :html_title do %>Tax Receipts<% end -%>

<%= render 'iend/shared/header' %>
<%= render :partial => 'iend/shared/account_nav' %>


<%- if @tax_receipts.length > 0 -%>
  <%= will_paginate @tax_receipts, :param_name => 'page' %>
  <div id="transaction-list">
    <table style="width:100%;">
    <tr><th>Description</th><th>&nbsp;</th><th>Date</th><th>Amount</th></tr>
    <%= render @tax_receipts %>
    </table>
  </div>
  <%= will_paginate @tax_receipts, :param_name => 'page' %>
<%- else -%>
  <div class="highlight">
    <p>We don't have any tax receipts yet.</p>
    <p>You can <%= link_to "give", dt_give_path %> to get started.</p>
  </div>
<%- end -%>
