<%- content_for :html_title do -%>Sign-in<%- end -%>

<%= render 'iend/shared/header' %>

<div<%= raw ' style="margin:18px;"' if request.xhr? %>>
  <%= render :partial => 'dt/accounts/inactive' if @activated === false %>

  <div class="clearfix">
    <div class="span-6 append-1">
      <h2 class="plain">Login</h2>

      <%= render 'iend/authentications/authentications' unless session[:omniauth] %>
      <%= render 'form' %>
    </div>
    <div class="span-5 prepend-1 border-left">
      <h2 class="plain">New to UEnd?</h2>
      <p>
        Follow your projects or set up a campaign.
      </p>
      <p>
        <%= link_to 'Join Us', new_iend_user_path, :class => 'smallbutton' %>
      </p>
    </div>
  </div>
</div>