<p>
	<strong><a href="/bus_admin/stats">Site Statistics</a></strong>
	<strong><%= link_to "Custom Reports", bus_admin_custom_reports_path %></strong>
</p>

<h2>Home</h2>
<table width="100%" summary="Uend: Summary">
	
    <tr>
        <td>
            <strong>Total Dollars Raised: </strong><%= number_to_currency(@total_money_raised) %>
        </td>
        <td>
            <strong>Total Project Costs: </strong><%= number_to_currency(@total_project_costs) %>
        </td>
        <td>
            <strong>Total Dollars Spent: </strong><%= number_to_currency(@total_money_spent) %>
        </td>        
    </tr>
    <!--<tr>
        <td>&nbsp;</td>
        <td>  
        <br />   
            <strong>Dollars Raised vs. Total Project Costs</strong>   
            <%= horizontal_bar_graph  [['Raised',  @total_percent_raised.floor]] %>
        </td>
        <td>&nbsp;</td>
    </tr>-->
  </table>
            

<table width=:100%" align="center" border="0" cellspacing="0" cellpadding="2">
	<tr>
		<td valign="top" width="50%"><!-- container for partners table -->
			<table width=:100%" align="center" border="0" cellspacing="0" cellpadding="2">
				<tr style="background-color: #666; color: #fff; font-weight: bold;">
					<td valign="top" colspan="3"><strong>PARTNERS</strong> </td>
				</tr>
			
				<% @colorize = true %>
				<% @all_partners.each do |partner| %>
					<% if @colorize %>    
					    <tr bgcolor="#E6F2FF" >
					    <% @colorize = false %>
					<% else @colorize = true %>
					    <tr>
					<% end %>
						<td>
							<strong><%= partner.name %></strong> <%= link_to "[Edit]", {:controller => 'bus_admin/partners', :action => 'edit', :id => partner.id} %>							
						</td>
						<td>
							<%= horizontal_bar_graph  [['Raised',  partner.get_total_percent_raised]] %>
						</td>
						<td>&nbsp;</td>
					</tr>
				<% end %>
			
			</table>		
		</td>
		<td valign="top" width="50%"><!-- container for programs table -->
			
			<table width=:100%" align="center" border="0" cellspacing="0" cellpadding="2">
				<tr  style="background-color: #666; color: #fff; font-weight: bold;">
					<td valign="top" colspan="3"><strong>PROGRAMS</strong></td>
				</tr>
				<% @colorize = true %>
				<% @all_programs.each do |program| %>
					<% if @colorize %>    
					    <tr bgcolor="#E6F2FF" >
					    <% @colorize = false %>
					<% else @colorize = true %>
					    <tr>
					<% end %>
						<td valign="top">
							<strong><%= program.name %></strong><br /><%=link_to '[View Projects]', {:controller =>'projects', :action => 'report', :program_id => program.id } %>
							
						</td>
						<td> % Dollars Raised<br />
							<%= horizontal_bar_graph  [['Raised', program.get_percent_raised]] %>
							Days Remaining in All Projects: <%= program.get_total_days_remaining %>		
							<br />					
							Days Until Last Project End Date: <%= program.days_until_last_project_ends %>	
							
						</td>
						<td>&nbsp;</td>
					</tr>
				<% end %>
			
			</table>		
		</td>
		
	</tr>	
</table>		
