<%- content_for :html_title do -%>Monthly Giving<%- end -%>
<%- content_for :page_title do -%>Monthly Giving for <%= current_user.name %><%- end -%>

<%= render 'iend/shared/header' %>
<%= render :partial => 'iend/shared/account_nav' %>

<% semantic_form_for [:iend, @subscription] do |f| %>
  <%= f.semantic_errors :user %>

  <% f.inputs "Monthly Giving Information" do %>
    <%= f.input :end_date, :start_year => @subscription.begin_date.year, :order => [:month, :day, :year] %>
    <%= f.input :amount %>
  <% end %>

  <% f.inputs "Tax Receipt Information" do %>
    <%= f.input :tax_receipt_requested, :label => "Please provide me with a tax receipt", :hint => "<span style=\"font-weight:bold;\">If you change this value, it will only apply to subscriptions processed going forward.</span> If you don't require a tax-receipt for your donation it will significantly help our organization - it lessens our restrictions according to Revenue Canada and lets us build the organization. If you would like a tax-receipt we are very happy to provide it. You choose. Thanks for thinking about it!".html_safe %>
  <% end %>

  <% f.buttons do %>
    <%= f.commit_button %>
  <% end %>

<% end %>