<%- content_for :html_title do %>Monthly Giving<% end -%>

<%= render 'iend/shared/header' %>
<%= render :partial => 'iend/shared/account_nav' %>


<%- if @subscriptions.length > 0 -%>
  <%= will_paginate @subscriptions, :param_name => 'page' %>
  <div id="transaction-list">
    <table style="width:100%;">
    <tr><th>Description</th><th>Begin Date</th><th>End Date</th><th>Amount</th><th>&nbsp;</th></tr>
    <%= render @subscriptions %>
    </table>
  </div>
  <%= will_paginate @subscriptions, :param_name => 'page' %>
<%- else -%>
  <div class="highlight">
    <p>We don't have any tax receipts yet.</p>
    <p>You can <%= link_to "give", dt_give_path %> to get started.</p>
  </div>
<%- end -%>
