<%- content_for :html_title do %><%=h @group.name %> Members<% end -%>
<%- content_for :nav do %><%= dt_get_involved_nav %><% end -%>

<%= dt_group_nav %>

    <% if @invitation %>
    <% form_for :invitation, @invitation, :url => dt_invitations_path(:group_id => @group), :html => {:id => 'invitationform'} do |f| %>
  		<fieldset id="newMember">
  			<legend>Invite New Member(s) to this Group</legend>
  			<p class="textsm">Please, separate multiple emails using a comma when inviting multiple new members</p>
  			<ul class="row">
  				<li>
  					<label for="to_emails">New Member Email(s)</label>
  					<%= text_area_tag :to_emails, nil, :id => 'to_emails', :cols => 35, :rows => 3 %>
  					<div id="addButton"><a href="javascript:if($('invitationform')){$('invitationform').submit()}"><span>Invite Member(s)</span></a></div>
  				</li>
  			</ul>
  		</fieldset>
  		<%= f.hidden_field :user_id %>
  		<%= f.hidden_field :group_id %>
		<% end %>
		<% end %>
  
    <% if @memberships.size > 0 %>
    <div id="memberlist">
      <p class="textsm"><%= @memberships.total_entries %> Members Total</p>
      <%= will_paginate @memberships %>
      <ul>
    		<li>
    			<div class="name"><strong>Member</strong></div>
    			<div class="date"><strong>Joined</strong></div>
    			<div class="mtype"><strong>Type</strong></div>
    			<div class="control">&nbsp;</div>
    		</li>
        <%= render :partial => 'membership', :collection => @memberships %>
      </ul>
    </div>
    <% else %>
      <p>There are currently no members in this group.</p>
    <% end %>
  <% content_for :sidebar do %>
	  <%= dt_profile_sidebar %>
    <% end %>
