<%- content_for :html_title do %>Discover a new way to give<% end -%>

<div class="indented" style="margin-top:1em;">
  <h1>I want to:</h1>
  <ul class="arrow">
    <li><%= link_to("Give a gift card (let the recipient choose a project)", new_dt_gift_path) %></li>
    <li><%= link_to("Give to a project on behalf of someone", dt_projects_path) %></li>
    <li><%= link_to("Give directly to a project", dt_projects_path) %></li>
    <li><%= link_to("Let Uend: choose a project for me (donations will go towards project, not operations)", new_dt_investment_path(:project_id => unallocated_project.id)) %></li>
    <li><%= link_to("Give to Uend:'s Operational Budget", new_dt_investment_path(:project_id => 10)) %></li>
  </ul>
</div>


<% content_for :sidebar do %>  
  <div style="margin-top:1em;">
    <h3>
      <img src = "/images/dt/icons/you-icon-orange.png" style ="float: left; padding-right: 5px;"/>
      Support projects that help communities climb out of extreme poverty.
    </h3>
  </div>
  <%= dt_short_profile_sidebar %>
<% end %>