<%- content_for :html_title do %>Post to the Wall<% end -%>
<%- content_for :nav do %><%= dt_account_nav %><% end -%>

<%= dt_group_nav unless @group.private && !@membership %>
  
    <%= error_messages_for :wall_message %>
    <% form_for(:wall_message, :url => dt_group_wall_message_path(@group, @wall_message), :html => { :method => :put, :id => "groupwallmessagesform", :name => "groupwallmessagesform"}) do |f| -%>
    <div class="userform simpleform">
      <%= render :partial => "form", :locals => {:f => f} %>
    	<%= submit_tag 'Update Wall Post', :class => 'buttonsubmit' %>
  	</div>
  	<% end %>
  <% content_for :sidebar do %>
	  <%= dt_profile_sidebar %>
  <% end %>