<%- content_for :html_title do %><%= @group.name %><% end -%>
<%- content_for :nav do %><%= iend_user_nav %><% end -%>

<%= dt_group_nav unless @group.private && !@membership %>

    <h2>Wall Posts</h2>
    <% if current_member && current_member.admin? -%>
    <%= error_messages_for :wall_message %>
    <% form_for(:wall_message, :url => dt_wall_messages_path(@group), :html => { :id => "groupwallmessageform", :name => "groupwallmessageform"}) do |f| -%>
    <div class="userform simpleform">
      <%= render :partial => "form", :locals => {:f => f} %>
  	  <%= submit_tag 'Create Wall Post', :class => 'buttonsubmit' %>
  	</div>
  	<% end %>
  	<% end -%>
    
    <%= will_paginate @wall_messages %>

    <%= render :partial => 'dt/groups/wall_messages/message', :collection => @wall_messages %>
  <% content_for :sidebar do %>
	  <%= dt_profile_sidebar %>
  <% end %>