<div>
	<h1>
		<% if @participant != nil %>
				Sponsor <strong><%= @participant.user.full_name %>'s</strong> participation in: <%= @participant.team.campaign.name %>
			<% form_for_var = @participant %>			
		<% elsif @team != nil %>
				Sponsor team <strong><%= @team.name %>'s</strong> participation in <%= @team.campaign.name %>
			<% form_for_var = @team %>
		<% elsif @campaign != nil %>
				Give to <strong><%= @campaign.name %></strong>
			<% form_for_var = @campaign %>
		<% end %>
	</h1>
</div>

<div class="leftColW800">
	<div id="pledge_form" class="campaign_form">
		<%= error_messages_for :pledge, :deposit %>
		<% form_for([:dt,form_for_var,@pledge]) do |f| %>		
			<h2>I would like to give:	$ <%= f.text_field :amount %> <%= f.submit 'Sponsor'%></h2>
		<% end %>
	</div>
</div>

<div class="leftColN800">
	<div class="campaign-sidebar-box metrics">
		<% if @participant != nil %>
			<%= render :partial => 'dt/participants/participant_facts',  :locals => {:@participant => @participant} %>
		<% elsif @team != nil %>
			<%= render :partial => 'dt/teams/team_facts',  :locals => {:team => @team} %>
		<% elsif @campaign != nil %>
			<%= render :partial => 'dt/campaigns/campaign_facts',  :locals => {:campaign => @campaign} %>
		<% end %>
	</div>
</div>

