<div id="pledge_form" class="campaign_form">
	<%= error_messages_for :pledge, :deposit %>
	<fieldset>
		<legend>
		<% if @participant != nil %>
				Pledge for <%= @participant.user.full_name %>'s participation in <%= @participant.team.campaign.name %>
			<% form_for_var = @participant %>
		<% end %>
		
		<% if @team != nil %>
				Pledge towards <%= @team.name %> a team participating in <%= @team.campaign.name %>
			<% form_for_var = @team %>
		<% end %>
		
		<% if @campaign != nil %>
				Pledge towards <%= @campaign.name %>	
			<% form_for_var = @campaign %>
		<% end %>
		</legend>
		
		
		<% form_for([:dt,form_for_var,@pledge]) do |f| %>		
			<label>Amount</label>
			<%= f.text_field :amount %>
			<br />
			<%= f.submit 'Pledge!'%>
	
		<% end %>
	</fieldset>
</div>
<div> more details about team/campaign/participant being pledged to
picture<br/>
amount raised <br/>
goal <br/>
description<br/>
disambiguation if pledging to a campaign or team...<br/>


Ummm there is disabiguation above.... in the legend
</div>