<div>
	<h1>
		<% if @participant != nil %>
				Sponsor <strong><%= @participant.user.full_name %>'s</strong> participation in: <%= @participant.team.campaign.name %>
			<% form_for_var = @participant %>			
		<% elsif @team != nil %>
				Sponsor team <strong><%= @team.name %>'s</strong> participation in <%= @team.campaign.name %>
			<% form_for_var = @team %>
		<% elsif @campaign != nil %>
				Give to <strong><%= @campaign.name %></strong>
			<% form_for_var = @campaign %>
		<% end %>
	</h1>
</div>

<div class="leftColW800">
	<% if @participant != nil %>
		<div class="participant-picture">
			<%= image_tag @participant.picture.thumb.url, :class => :thumbnail if @participant.picture? %>			
			<%= image_tag 'dt/icons/participant_placeholder_icon_72x72.jpg', :class => :thumbnail unless @participant.picture? %>
		</div>
	<% elsif @team != nil %>
		<div class="team-picture">
			<%= image_tag @team.picture.thumb.url, :class => :thumbnail if @team.picture? %>			
			<%= image_tag 'dt/icons/team_placeholder_icon_120x150.jpg', :class => :thumbnail unless @team.picture? %>
		</div>
	<% elsif @campaign != nil %>
		<div class="campaign-picture" style="float:right;">
			<%= image_tag @campaign.picture.thumb.url, :class => :thumbnail if @campaign.picture? %>			
			<% image_tag 'dt/icons/campaign_placeholder_icon_72x72.jpg', :class => :thumbnail unless @campaign.picture? %>
		</div>
	<% end %>
	<div id="pledge_form" class="campaign_form">
		<%= error_messages_for :pledge, :deposit %>
		<% form_for([:dt,form_for_var,@pledge]) do |f| %>		
			<span>I would like to give:	$ <%= f.text_field :amount %></span>
			<div style="clear: right;"></div>
			<span><%= f.submit 'Sponsor'%></span>
		<% end %>
	</div>
</div>

<div class="leftColN800">
	<div class="campaign-sidebar-box metrics">
		<% if @participant != nil %>
			<%= render :partial => 'dt/participants/participant_facts',  :locals => {:@participant => @participant} %>
		<% elsif @team != nil %>
			<%= render :partial => 'dt/teams/team_facts',  :locals => {:team => @team} %>
		<% elsif @campaign != nil %>
			<%= render :partial => 'dt/campaigns/campaign_facts',  :locals => {:campaign => @campaign} %>
		<% end %>
	</div>
</div>

