<%- content_for :page_title do -%>&nbsp;<%- end -%>
<%= render :partial => "/dt/campaigns/campaign_breadcrumb" %>

<div>
	<h1 style="text-transform:none;">
		<% if @participant != nil %>
			<%- content_for :html_title do -%>Sponsor <%= @participant.user.full_name %><%- end -%>		
			Sponsor <strong><%= @participant.user.full_name %></strong>
			<% form_for_var = @participant %>			
		<% elsif @team != nil %>
			<%- content_for :html_title do -%>Sponsor team <%= @team.name %>'s participation in <%= @team.campaign.name %><%- end -%>		
			Sponsor team <strong><%= @team.name %>'s</strong> participation in <%= @team.campaign.name %>
			<% form_for_var = @team %>
		<% elsif @campaign != nil %>
			<%- content_for :html_title do -%>Give to <%= @campaign.name %><%- end -%>
			Give to <strong><%= @campaign.name %></strong>
			<% form_for_var = @campaign %>
		<% end %>
	</h1>
</div>


<% if @participant != nil %>
	<div class="participant-picture">
		<%= image_tag @participant.picture.thumb.url, :class => :full_picture if @participant.picture? %>			
		<%= image_tag 'dt/icons/participant_placeholder_icon_72x72.jpg', :class => :thumbnail unless @participant.picture? %>
	</div>
<% elsif @team != nil %>
	<div class="team-picture">
		<%= image_tag @team.picture.thumb.url, :class => :full_picture if @team.picture? %>			
		<%= image_tag 'dt/icons/team_placeholder_icon_125x75.jpg', :class => :thumbnail unless @team.picture? %>
	</div>
<% elsif @campaign != nil %>
	<div class="campaign-picture" style="float:right;">
		<%= image_tag @campaign.picture.thumb.url, :class => :full_picture if @campaign.picture? %>			
		<% image_tag 'dt/icons/campaign_placeholder_icon_72x72.jpg', :class => :thumbnail unless @campaign.picture? %>
	</div>
<% end %>
<div id="pledge_form" class="campaign_form">
	<%= error_messages_for :pledge, :deposit %>
	<% form_for([:dt,form_for_var,@pledge]) do |f| %>		
		<span>I would like to give	$<%= f.text_field :amount, :style => "width:160px;" %></span><br/>
		<div style="clear: right;"></div>
		<span><%= f.submit 'Sponsor'%></span>
	<% end %>
</div>

<%- content_for :sidebar do -%>
	<div class="campaign-sidebar-box metrics">
		<% if @participant != nil %>
			<%= render :partial => 'dt/participants/participant_facts',  :locals => {:participant => @participant} %>
		<% elsif @team != nil %>
			<%= render :partial => 'dt/teams/team_facts',  :locals => {:team => @team} %>
		<% elsif @campaign != nil %>
			<%= render :partial => 'dt/campaigns/campaign_facts',  :locals => {:campaign => @campaign} %>
		<% end %>
	</div>
<%- end -%>

