<%- content_for :page_title do -%>&nbsp;<%- end -%>
<%= render :partial => "/dt/campaigns/campaign_breadcrumb" %>

<div>
	<h1 style="text-transform:none;">
		<% if @participant != nil %>
			<%- content_for :html_title do -%>Sponsor <%= @participant.user.full_name %><%- end -%>		
			Sponsor <strong><%= @participant.user.full_name %></strong>
			<% form_for_var = @participant %>			
		<% elsif @team != nil %>
			<%- content_for :html_title do -%>Sponsor team <%= @team.name %>'s participation in <%= @team.campaign.name %><%- end -%>		
			Sponsor team <strong><%= @team.name %>'s</strong> participation in <%= @team.campaign.name %>
			<% form_for_var = @team %>
		<% elsif @campaign != nil %>
			<%- content_for :html_title do -%>Give to <%= @campaign.name %><%- end -%>
			Give to <strong><%= @campaign.name %></strong>
			<% form_for_var = @campaign %>
		<% end %>
	</h1>
</div>
<%- if @pledge.errors.size > 0 -%>
<!-- Do not show the image -->
<%- elsif @participant != nil -%>
<div class="participant-picture" style="float:right;">
	<%= image_tag @participant.image.url(:thumb), :class => :full_picture if @participant.image? %>
	<%= image_tag 'dt/icons/participant_placeholder_icon_72x72.jpg', :class => :thumbnail unless @participant.image? %>
</div>
<%- elsif @team != nil -%>
<div class="team-picture" style="float:right;">
	<%= image_tag @team.image.url(:thumb), :class => :full_picture if @team.image? %>
	<%= image_tag 'dt/icons/team_placeholder_icon_125x75.jpg', :class => :thumbnail unless @team.image? %>
</div>
<%- elsif @campaign != nil -%>
<div class="campaign-picture" style="float:right;">
	<%= image_tag @campaign.image.url(:thumb), :class => :full_picture if @campaign.image? %>
	<%= image_tag 'dt/icons/campaign_placeholder_icon_72x72.jpg', :class => :thumbnail unless @campaign.image? %>
</div>
<%- end -%>
<div id="pledge_form">
	<%= error_messages_for :pledge, :deposit %>
	<% form_for([:dt, form_for_var, @pledge]) do |f| %>		
		<div class="group">I would like to give	$<%= f.text_field :amount, :style => "width:160px;" %></div>
		<div class="group">
			<%- hide_method = %Q{if ($('pledger_details') && $('pledger_details').visible()) Effect.toggle('pledger_details', 'blind', { duration : 0.5 }); } -%>
			<%- show_method = %Q{if ($('pledger_details') && !$('pledger_details').visible()) Effect.toggle('pledger_details', 'blind', { duration : 0.5 }); } -%>
			<%= f.radio_button(:notification, "anonymous", :onchange => hide_method ) %> anonymously <br />
			<%= f.radio_button(:notification, "personal", :onchange => show_method ) %> personally <br />
			<%= f.radio_button(:notification, "public", :onchange => show_method ) %> publicly <%= what_is_this? 'notification', %Q{Sponsoring a participant anonymously will not record your details at all. A personal pledge will identify you to the participant only, while a public pledge will recognize your contribution to everyone when viewing this participant's sponsorships.} %>
		</div>
		
		<% if logged_in? %>
		<div id="pledger_details" class="group" style="display: <%= @pledge.notification == "anonymous" ? "none" : "block" %>">
			<%= f.label :pledger, "Name #{form_required}" -%><%= f.text_field :pledger, :value => current_user.full_name %><br />
			<%= f.label :pledger_email, "E-mail #{form_required}" -%><%= f.text_field :pledger_email, :value =>  current_user.email %>
		</div>
		<% end %>
                <% unless logged_in? %>
                <div id="pledger_details" class="group" style="display: <%= @pledge.notification == "anonymous" ? "none" : "block" %>">
			<%= f.label :pledger, "Name #{form_required}" -%><%= f.text_field :pledger %><br />
			<%= f.label :pledger_email, "E-mail #{form_required}" -%><%= f.text_field :pledger_email %>
		</div>
                <% end %>
		<div style="clear: right;"></div>
		<span><%= f.submit 'Sponsor'%></span>
	<% end %>
</div>

<%- content_for :sidebar do -%>
	<div class="campaign-sidebar-box metrics">
		<% if @participant != nil %>
			<%= render :partial => 'dt/participants/participant_facts',  :locals => {:participant => @participant} %>
		<% elsif @team != nil %>
			<%= render :partial => 'dt/teams/team_facts',  :locals => {:team => @team} %>
		<% elsif @campaign != nil %>
			<%= render :partial => 'dt/campaigns/campaign_facts',  :locals => {:campaign => @campaign} %>
		<% end %>
	</div>
<%- end -%>

