<%- content_for :html_title do %>Tell a Friend Confirmation<% end -%>

  <%= error_messages_for :share %>
  <% form_for(:share, :url => dt_tell_friends_path, :html => {:id => "tellfriendform", :name => "tellfriendform"}) do |f| %>
  <p>Please review your information.</p>
  <div class="userform">
    <%= f.hidden_field 'e_card_id', :id => 'e_card_id' %>

    <fieldset>
      <legend>The project you've chosen to share</legend>
      <p><% if @share.project_id? %>
      a specific project &nbsp;&nbsp; &#8250; <%= @share.project_id? ? link_to(@share.project.name, dt_project_path(@share.project)) : link_to("choose project", dt_projects_path) %>
      <% else %>
      I just want to share about Uend:
      <% end %></p>
      <%= f.hidden_field :project_id %>
    </fieldset>

    <fieldset>
      <legend>E-card Details</legend>
      <ul style="width:302px;">
        <li><label for="share_name">From (Name)</label><%= params[:share][:name] %> <%= f.hidden_field :name %></li>
        <li><label for="share_email">From (Email)</label><%= params[:share][:email] %> <%= f.hidden_field :email %></li>
        <li><label for="to_emails">To Email(s)</label><div><%= @shares.collect{|s|s.to_email}.join(", ") %></div> <%= hidden_field_tag :to_emails, @shares.collect{|s|s.to_email}.join(",") %></li>
        <li><label for="share_message">Gift Message</label><%= params[:share][:message] %> <%= f.hidden_field :message %></li>
      </ul>
    </fieldset>

    <%- if recaptcha_available? -%>
      <%= recaptcha_tags :display => { :theme => 'white' } %>
    <%- end -%>

    <%= submit_tag 'Send E-card', :class => 'buttonsubmit' %>
    <input type="button" value="Go Back" onclick="history.go(-1);" class="buttonsubmit" />
  </div>
  <% end %>
  <% content_for :sidebar do %>
    <h2>E-Card</h2>
    <div id="miniGallery">
        <p>This is the e-card you have selected to send.</p>
        <div id="medImgWrap">
          <div class="medImg"><%= image_tag(url_for_file_column(@share.e_card, "medium"), :alt => '') if @share.e_card_id? && @share.e_card %></div>
        </div>
        <div id="ecardPreview" style="display:none;"><input type="button" value="Preview your email" id="ecard_preview" onclick="var params=Form.serialize($('tellfriendform'));window.open('<%= preview_dt_tell_friends_path() %>?' + params, 'preview', 'width=800,height=440,resizable=1,scrollbars=1');" class="buttonsubmit" style="margin-left:0;" /></div>
      </div>  
  <% end %>