<%- content_for :head do -%>
<%= javascript_include_tag "dt/ecards" %>
<%- end -%>
<%- content_for :html_title do %>Tell a Friend<% end -%>

<% content_for :top_content do %>
<div class="prepend-top prepend-2"><h1>Spread the word. And the good.</h1></div>
<% end %>

  <p>You recently got involved in helping change the world with UEnd. The world has a lot of people - six billion plus - all of which need to be involved if we're going to eradicate extreme poverty. It is with this goal in mind that we humbly ask you to pass your story (and UEnd's) on to a friend. Or two. Or six billion.</p>
  <p>Thanks again for getting involved.</p>

  <% semantic_form_for(@share, :url => dt_tell_friends_path, :html => {:id => "tellfriendform", :name => "tellfriendform"}) do |f| %>
    <%= f.semantic_errors :share %>
    <% f.inputs do %>
      <%
        options = []
        options << [raw("a specific project &#8250; #{link_to 'choose project', dt_projects_path}"), ""] if !@project
        options << [raw("a specific project &#8250; #{link_to @project.name, [:dt, @project]}"), @project.id] if @project
        options << ["no, I just want to share about UEnd", ""]
      %>
      <%= f.input :project_id, :label => "Is there a project you'd like to share?", :as => :radio, :collection => options %>
    <% end %>

    <% f.inputs "Sender Information" do %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :email_confirmation %>
    <% end %>

    <% f.inputs "Email Recipient(s)" do %>
      <%= f.input :to_emails, :as => :text, :input_html => { :cols => 35, :rows => 3 }, :hint => 'Separate multiple emails using a comma when sending to multiple people' %>
    <% end %>
    
    <% f.inputs "Message Details" do %>
      <%= f.input :message, :as => :text, :input_html => { :cols => 35, :rows => 6 } %>
      <li>
        <%= f.label :e_card_id, 'Choose an ecard image from the options below.' %>
        <%= f.hidden_field :e_card_id %>
        <div class="clearfix" style="padding-top:12px;">
          <div class="span-3" id="e_card-preview">
            <%= image_tag url_for_file_column(@share.e_card, 'medium'), :alt => '' %>
          </div>
          <div class="span-7" id="e_card-selection">
            <p style="padding-bottom:8px;">
              <img src="/images/nav/arrow-back.png" width="13" height="15" alt="" style="vertical-align:bottom;"> 
              This is the image selected to appear on your card.
            </p>
            <% @ecards.each do |ecard| %>
              <%= image_tag url_for_file_column(ecard, 'small'), :data_id => ecard.id, :data_url => url_for_file_column(ecard, 'medium'), :alt => '', :style => "padding:0 8px 4px 0" %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>

    <% f.inputs do %>
      <li>
        <%= recaptcha_tags :display => { :theme => 'white' } %>
      </li>
    <% end %>

    <% f.buttons do %>
      <%= f.commit_button "Share" %>
    <% end %>
    <%= render :partial => 'dt/shared/form_requirednote' %>
  <% end %>

  
<% content_for :sidebar do %>

<% end %>