<% if @fb_group_available -%>
<h2>Facebook Community Group</h2>
  <% if not @fb_group -%>
    <p><%= link_to "Login", :action=>"facebook_login", :id=>@project.id %> into facebook, to view the community facebook group.</p>
    <p>&nbsp;</p>
  <% else -%>
    <%= will_paginate @fb_members, :param_name => 'fb_page' %>
    
    <p class="blueblock"><%= link_to image_tag("/images/dt/icons/fbIcon.gif", :alt => '') + "&nbsp; Go to Facebook Group", @facebook_group_link, :rel => 'blank' %></p>
    <p><%=h @fb_group.name %></p>
    <p>Facebook user: <%= @fb_user.full_name %></p>
    <% if @fb_user_in_group %>
      <p>You are a member of this group</p>
    <% else -%>
      <p>You are not a member of this group. To join, go to the <%= link_to "#{@fb_group.name}", @facebook_group_link %> facebook group and select "Join this group". </p>
    <% end %>
    <div id="gallery">
      <ul id="thumbs">
      <% for m in @fb_members %>
        <li><%= link_to image_tag((m.pic_square.empty? ? "http://static.ak.facebook.com/pics/s_default.jpg" : m.pic_square) , :alt => m.name, :style => "width:50px;height:50px;"), "http://www.facebook.com/profile.php?id=#{m.uid}" %><div class="thumbLabel"><%= m.name %></div></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% else %>
&nbsp;
<% end %>
