<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
  <head>
    <meta name="generator" content="HTML Tidy, see www.w3.org" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<%= stylesheet_link_tag 'dt/campaign' %>
<%= stylesheet_link_tag 'campaign_backend' %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'prototype' %>
<%= stylesheet_link_tag 'redbox' %> 
<%= javascript_include_tag 'tabbed_pane' %>
<%= stylesheet_link_tag 'tabbed_pane' %>
<%= javascript_include_tag 'effects' %>
	<title>CFoo Campaign System</title>
 </head>
<body>
	<div id="dashboard">
		<div id="dash_header">
			<%= image_tag 'dashboard/cfoo_icon.png', :style => 'vertical-align:top;', :alt => 'Christmas Future Cmapaign Manager'%>
			<span class="title">ChristmasFuture - Campaigns</span>
		</div>
		<ul id="dash_left_col">
			<li>
				<h1>Dash Board</h1>
			</li>
			<li class="open_top_level_link_item">Campaigns</li>
			<ul class="function_list">
				<li class="child_link_item_with_shadow">News</li>
				<li class="child_link_item">News</li>
				<li class="child_link_item">Wall</li>
			</ul>
			<li class="top_level_link_item">Teams</li>
			<li class="top_level_link_item">Participants</li>
		</ul>
		<div id="dash_right_col">
			<%= '<p style="color: green;">' + flash[:notice]  + '</p>' unless flash[:notice] == nil%>
			<%= yield %>
		</div>
		<div id="dash_footer">
					<span class="change_line">Changing the world... for <span class="white">good</span>.</span>
		</div>
	</div>
</body>
</html>
