<%= render :partial => 'layouts/shared/head' %>
<body id="campaigns">
<%= render :partial => "layouts/shared/facebook_api" %>

<div class="wrapper">
<%= render :partial => 'layouts/shared/header' %>


<div id="maincontentarea" class="content">
  <div class="container">
    <section id="top_content">
      <%= yield :top_content %>
    </section>
  </div>

  <div class="container prepend-top append-large-bottom pageshadow">
    <aside class="span-3" id="campaign-filters">
      &nbsp;
    </aside>
    <article class="span-12">
      <%= render :partial => 'layouts/shared/flashes' %>
      <% if content_for?(:title) %><h1 class="plain dark"><%= yield :title %></h1><% end %>

      <div id="fb-root"></div>
      <%= yield %>
    </article>
    <aside class="span-3 last">
      <div id="rail">
        <%= render :partial => 'layouts/shared/newsletter' %>

        <%= yield :sidebar %>
      </div>
    </aside>
  </div>
</div>

<%= render :partial => 'layouts/shared/footer' %>
</div>
<%= render :partial => 'layouts/shared/tail' %>