<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
  <head>
    <meta name="generator" content="HTML Tidy, see www.w3.org" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<%= stylesheet_link_tag 'dt/campaign' %>
	<%= stylesheet_link_tag 'campaign_backend' %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'prototype' %>
	<%= javascript_include_tag 'effects' %>
	<%= javascript_include_tag 'fckeditor/fckeditor' %>
	<title><%= yield :html_title -%></title>
 </head>
<body>
	<div id="dashboard">
		<div id="dash_header">
			<%= image_tag 'dashboard/cfoo_icon.png', :style => 'vertical-align:top;', :alt => 'Uend: Campaign Manager'%>
			<span class="title">Uend: - Campaigns</span>
		</div>
		<%= render :partial => 'shared/dashboard_links'%>
		<div id="dash_right_col">
			<%= '<p style="color: green;">' + flash[:notice]  + '</p>' unless flash[:notice] == nil%>
			<%= yield %>
		</div>
		
		<div id="dash_footer">
					<span class="change_line">Changing the world... for <span class="white">good</span>.</span>
					
		</div>
	</div>
</body>
</html>
