<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  
  <title><%= (html_title = yield :html_title) ? html_title + " | " : '' %>ChristmasFuture</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="description" content="ChristmasFuture, Change the world for good." />
  <meta name="keywords" content="" />
<%= javascript_include_tag "prototype", "builder", "effects", "controls", "dt/application" %>
<%= javascript_include_tag 'fckeditor/fckeditor' %>
<%= stylesheet_link_tag 'dt/master.css', :media => 'screen, projection' %>
<!--[if lt IE 7]><%= stylesheet_link_tag 'dt/ie.css', :media => 'screen, projection' %><![endif]-->
<%= yield :rss%>
<%= yield :head %>


</head>
<body>
<div id="container">
  <%= render "dt/shared/head" %>
  <%= render "dt/shared/globalnav" %>

<%- nav = yield :nav -%>
<%- page_title = yield :page_title -%>
<%- top_content = yield :top_content -%>
<%- content = yield :content -%>
<%- sidebar = yield :sidebar -%>
<%- bottom_content = yield :bottom_content -%>

  <% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
  <% if flash[:error] %><div class="error"><%= flash[:error] %></div><% end %>

  <% if nav %><h1><%= page_title %></h1><% end %>
  
  <%- if nav -%>
  <div id="nav" class="clearfix">
    <%= nav %>
  </div>
  <%- end -%>
  
  <%- if top_content && !top_content.empty? -%>
  <div id="topcontentcontainer" class="clearfix">
    <div id="topcontent">
      <%= top_content %>
    </div>
  </div>
  <%- end -%>

  <div id="contentcontainer" class="clearfix">
    <div class="pagetitle"> 
    	<% unless nav %><h1><%= page_title %></h1><% end %>
		</div>
    <div id="content<%= "wide" unless sidebar %>-wrapper">
      <div id="content">
        <%= yield %>
      </div>
    </div>
  
    <%- if sidebar -%>
    <div id="sidebar-wrapper">
      <div id="sidebar">
        <%= sidebar %>
      </div>
    </div>
    <%- end -%>
  </div>

  <%- if bottom_content -%>
  <div id="bottomcontentcontainer" class="clearfix">
    <div id="bottomcontent">
      <%= bottom_content %>
    </div>
  </div>
  <%- end -%>

  <%= dt_footer %>
</div>
<script src="http<%= request.ssl? ? 's://ssl' : '://www' %>.google-analytics.com/urchin.js" type="text/javascript"></script>
<!--googlestats-->
<% google_analytics_path = yield :google_analytics_path %>
<% if RAILS_ENV == 'production' && google_analytics_path %>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-832237-2");
		pageTracker._initData();
		pageTracker._trackPageview();
	</script>
	<script type="text/javascript">
		window.onload = function()
		{
			pageTracker._trackPageview('<%= google_analytics_path %>');
		}
	</script> 
<% end %>
</body>
</html>