<%= render :partial => 'layouts/shared/head' %>
<body>
<%= render :partial => "layouts/shared/facebook_api" %>

<div class="wrapper">
<%= render :partial => 'layouts/shared/header' %>

<div id="maincontentarea" class="content prepend-top append-large-bottom">

  <% if params[:sectors].present? || params[:name].present? %>
  <section class="container prepend-top">
    <%= render :partial => 'layouts/shared/flashes' %>
    <ul id="iend-search-terms">
<% Sector.find(sector_params_array).each do |sector| %>
      <li class="term"><%= link_to sector.name, iend_users_path(:sectors => sector_remove(sector.id), :name => params[:name]) %></li>
<% end %>
<% if params[:name].present? %>
      <li class="term"><%= link_to params[:name], iend_users_path(:sectors => params[:sectors], :name => nil) %></li>
<% end %>
      <li><%= link_to "| &nbsp; Clear all", iend_users_path %></li>
    </ul>
  </section>
  <% end %>

  <div class="container prepend-top">
    <aside class="span-3" id="iend-search-filter">
      <h2 class="plain border-bottom">Search</h2>
      <div class="iend-search-filter">
        <form method="get">
          <label for="name">NAME</label>
          <p>
            <input name="name" id="name" type="search" value="<%= params[:name] %>" placeholder="Name">
            <input type="submit" value="Go"> <input type="hidden" name="sectors" value="<%= params[:sectors] %>">
          </p>
        </form>
      </div>
      <div class="iend-search-filter">
        CAUSE/SECTOR
        <ul>
<% @sectors.each do |sector| %>
            <li><%= link_to sector.name, iend_users_path(:sectors => sector_add(sector.id), :name => params[:name]) %></li>
<% end %>
        </ul>
      </div>
    </aside>
    <article class="span-12">
      <%= content_tag(:h1, yield(:title), :class => "clearfix") if show_title? && content_for?(:title) %>
      
 <!-- TODO insert search summary -->
      
      <div id="fb-root"></div>
      <%= yield %>
    </article>
  </div>
</div>

<%= render :partial => 'layouts/shared/footer' %>
</div>
<%= render :partial => 'layouts/shared/tail' %>
