<%= render :partial => 'layouts/shared/head' %>
<body>
<div class="wrapper">
<%= render :partial => 'layouts/shared/header' %>

  <div class="content prepend-top append-bottom">
    <div class="container">
      <aside class="span-3">
        <%= yield :search_filters %>
      </aside>
      <article class="span-12">
        <%= yield %>
      </article>
      <aside class="span-3 last">
        <div id="rail">
          <%= render :partial => 'layouts/shared/newsletter' %>

          <%= yield :sidebar %>
        </div>
      </aside>
    </div>
  </div>

<%= render :partial => 'layouts/shared/footer' %>
</div>
<%= render :partial => 'layouts/shared/tail' %>
